/* AuroraCMS Additions */
body.aurora{background:url(../images/loginbg-dark.jpeg) no-repeat center center fixed;background-size:cover;height:100%}
body.aurora .container{height:90vh}
.card.aurora,
.install.aurora{-webkit-filter:blur(100px);-moz-filter:blur(100px);-ms-filter:blur(100px);-o-filter:blur(100px);filter:blur(100px);-webkit-animation:blur 1s linear forwards;-moz-animation:blur 1s linear forwards;-ms-animation:blur 1s linear forwards;-o-animation:blur 1s linear forwards;animation:blur 1s linear forwards}
@-webkit-keyframes blur{
  from{background:rgba(230,67,67,1);background:-webkit-gradient(left top,right top,color-stop(0%,rgba(230,67,67,1)),color-stop(100%,rgba(93,255,84,1)));background:-webkit-linear-gradient(left,rgba(230,67,67,1)0%,rgba(93,255,84,1)100%);background:linear-gradient(to right,rgba(230,67,67,1)0%,rgba(93,255,84,1)100%)}
  to{background-color:#343a40!important;-webkit-filter:blur(0);filter:blur(0)}
}
@-moz-keyframes blur{
  from{background:rgba(230,67,67,1);background:-moz-linear-gradient(left,rgba(230,67,67,1)0%,rgba(93,255,84,1)100%);background:-ms-linear-gradient(left,rgba(230,67,67,1)0%,rgba(93,255,84,1)100%);background:linear-gradient(to right,rgba(230,67,67,1)0%,rgba(93,255,84,1)100%);}
  to{background-color:#343a40!important;-moz-filter:blur(0);filter:blur(0)}
}
@keyframes blur{
  from{background:rgba(230,67,67,1);background:-moz-linear-gradient(left,rgba(230,67,67,1)0%,rgba(93,255,84,1)100%);background:-webkit-gradient(left top,right top,color-stop(0%,rgba(230,67,67,1)),color-stop(100%,rgba(93,255,84,1)));background:-webkit-linear-gradient(left,rgba(230,67,67,1)0%,rgba(93,255,84,1)100%);background:-o-linear-gradient(left,rgba(230,67,67,1)0%,rgba(93,255,84,1)100%);background:-ms-linear-gradient(left,rgba(230,67,67,1)0%,rgba(93,255,84,1)100%);background:linear-gradient(to right,rgba(230,67,67,1)0%,rgba(93,255,84,1)100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e64343',endColorstr='#5dff54',GradientType=1)}
  to{background-color:#343a40!important;-webkit-filter:blur(0);-moz-filter:blur(0);filter:blur(0)}
}
body,
html{overflow-x:hidden;padding-right:0!important}
body{font-size:1rem;font-family:sans-serif;font-weight:initial;line-height:normal;-webkit-font-smoothing:antialiased}
.diemen{position:absolute;background-color:#fff;width:48px;height:48px;bottom:5px;right:5px;border:5px solid #fff;border-radius:50%}
.diemen a{outline:0}
.diemen svg path{width:48px!important;height:48px!important}
.logo{display:block;width:100%;margin:20px 0 0 0;padding:0}
.logo_slogan{display:block;width:100%;text-transform:uppercase;text-align:center;color:#fff;font-family:verdana;font-size:.55rem;margin:10px 0 20px 0}
.page-block,
.note-block{display:none;z-index:999999;position:fixed;top:0;right:0;bottom:0;left:0;width:100vw;height:100vh;background:#000;background:rgba(0,0,0,.8) url(../images/page-block.png) no-repeat center center fixed;background-size:cover;transition:background 2s ease;-webkit-transition:background 2s ease;-moz-transition:background 2s ease;-ms-transition:background 2s ease}
.loader{position:absolute;top:50%;left:40%;margin-left:10%;transform:translate3d(-50%,-50%,0);-webkit-filter:blur(75px);-moz-filter:blur(75px);-ms-filter:blur(75px);-o-filter:blur(75px);filter:blur(75px)}
.dot{width:32px;height:75vh;margin:auto 50px;background:#fff;border-radius:100%;display:inline-block;animation:slide 5s infinite}
.dot:nth-child(1){animation-delay:1s;background:#e31485}
.dot:nth-child(2){animation-delay:2s;background:#f80}
.dot:nth-child(3){animation-delay:3s;background:#d1df01}
.dot:nth-child(4){animation-delay:4s;background:#8f0}
.dot:nth-child(5){animation-delay:5s;background:#6dcd46}
@-moz-keyframes slide{0%{transform:scale(1)}50%{opacity:.5;transform:scale(2)}100%{transform:scale(1)}}
@-webkit-keyframes slide{0%{transform:scale(1)}50%{opacity:.5;transform:scale(2)}100%{transform:scale(1)}}
@-o-keyframes slide{0%{transform:scale(1)}50%{opacity:.5;transform:scale(2)}100%{transform:scale(1)}}
@keyframes slide{0%{transform:scale(1)}50%{opacity:.5;transform:scale(2)}100%{transform:scale(1)}}
