head{display:block;max-height:0;transition:max-height .5s ease-out;overflow:hidden}
head.metashow{max-height:1200px;transition:max-height .5s ease-in}
head{color:#fff;background-color:#2b3035}
head{overflow-x:hidden}
head::before,
head::after{display:block;color:rgba(255,255,255,.4);font:16px monospace}
head::before{margin-left:10px}
head::after{margin-right:10px;text-align: right}
head::before{content:'<head>'}
head::after{content:'</head>'}
title,
meta[name][content]{display:block;margin:5px;color:#fff;white-space:nowrap;font-size:0}
title::before,
title::after,
meta::before,
meta::after{display:inline-block;vertical-align:middle;padding:5px;border:2px solid #fff;font:14px monospace}
title::before,
title::after,
meta::before{border-right:none;border-radius:10px 0 0 10px;background-color:#333}
title::before{border-radius:10px 0 0 10px;border:0;padding-right:5px}
title::after{border-radius:0 10px 10px 0;border:0;padding-left:5px}
meta::after{overflow:hidden;border-left:none;border-radius:0 10px 10px 0;background-color:#666}
title{display:inline-block;font-size:14px;border-radius:10px;background-color:#666;border:2px solid #fff}
meta[name][content]::before{content:'<meta '}
meta[name][content]::after{content:'name="' attr(name) '" content="' attr(content) '">'}
title::before{content:'<title>'}
title::after{content:'</title>'}
body.depth *{background-color:rgba(255,0,0,.1)}
body.depth * *{background-color:rgba(255,0,0,.1)}
body.depth * * *{background-color:rgba(255,0,0,.1)}
body.depth * * * *{background-color:rgba(255,0,0,.1)}
body.depth * * * * *{background-color:rgba(255,0,0,.1)}
body.depth * * * * * *{background-color:rgba(255,0,0,.1)}
body.depth * * * * * * *{background-color:rgba(255,0,0,.1)}
body.depth * * * * * * * *{background-color:rgba(255,0,0,.1)}
body.depth * * * * * * * * *{background-color:rgba(255,0,0,.1)}
body.depth * * * * * * * * * *{background-color:rgba(255,0,0,.1)}
.note-editor{position:relative;border:1px dotted #ccc;margin-top:5px}
.note-editor.note-airframe .note-editing-area .note-editable,
.note-editor.note-frame .note-editing-area .note-editable{background:transparent!important;color:inherit!important}
.note-editor.fullscreen.note-airframe .note-editing-area .note-editable,
.note-editor.fullscreen.note-frame .note-editing-area .note-editable{background:#fff!important;color:inherit!important}
.note-btn{padding-top:0!important;padding-bottom:0!important}
.note-popover .popover-content .note-style .dropdown-style h1,
.note-popover .popover-content .note-style .dropdown-style h2,
.note-popover .popover-content .note-style .dropdown-style h3,
.note-popover .popover-content .note-style .dropdown-style h4,
.note-popover .popover-content .note-style .dropdown-style h5,
.note-popover .popover-content .note-style .dropdown-style h6,
.note-popover .popover-content .note-style .dropdown-style p,
.note-toolbar .note-style .dropdown-style h1,
.note-toolbar .note-style .dropdown-style h2,
.note-toolbar .note-style .dropdown-style h3,
.note-toolbar .note-style .dropdown-style h4,
.note-toolbar .note-style .dropdown-style h5,
.note-toolbar .note-style .dropdown-style h6,
.note-toolbar .note-style .dropdown-style p{margin:0;padding:0;font-size:1em;}
.page-block{display:none;z-index:999999;position:fixed;top:0;right:0;bottom:0;left:0;width:100vw;height:100vh;background:#000;background:rgba(0,0,0,.8) url(../images/page-block.png) no-repeat center center fixed;background-size:cover;transition:background 2s ease;-webkit-transition:background 2s ease;-moz-transition:background 2s ease;-ms-transition:background 2s ease}
.loader{position:absolute;top:50%;left:40%;margin-left:10%;transform:translate3d(-50%,-50%,0);-webkit-filter:blur(75px);-moz-filter:blur(75px);-ms-filter:blur(75px);-o-filter:blur(75px);filter:blur(75px)}
.dot{width:32px;height:75vh;margin:auto 50px;background:#fff;border-radius:100%;display:inline-block;animation:slide 5s infinite}
.dot:nth-child(1){animation-delay:1s;background:#e31485}
.dot:nth-child(2){animation-delay:2s;background:#f80}
.dot:nth-child(3){animation-delay:3s;background:#d1df01}
.dot:nth-child(4){animation-delay:4s;background:#8f0}
.dot:nth-child(5){animation-delay:5s;background:#6dcd46}
@-moz-keyframes slide{0%{transform:scale(1)}50%{opacity:.5;transform:scale(2)}100%{transform:scale(1)}}
@-webkit-keyframes slide{0%{transform:scale(1)}50%{opacity:.5;transform:scale(2)}100%{transform:scale(1)}}
@-o-keyframes slide{0%{transform:scale(1)}50%{opacity:.5;transform:scale(2)}100%{transform:scale(1)}}
@keyframes slide{0%{transform:scale(1)}50%{opacity:.5;transform:scale(2)}100%{transform:scale(1)}}
div.development,
div.developmentbottom{position:relative;height:24px;background-color:#2f353a!important;background-image:url(../images/developmentmode.png)!important;background-repeat:repeat-x}
div.developmentbottom{position:fixed;top:auto;right:0;bottom:0;left:0;text-align:right;padding:2px 5px;color:#fff;font-family:sans-serif;font-size:14px}
div.development:after{content:'Breakpoint Width > ALL (max-width:575.98px)';z-index:9999;position:absolute;top:2px;left:2px;color:#fff;font-family:sans-serif;font-size:14px;padding:2px 5px}
div.development:before{content:'Current Width: 'attr(data-width)'px';z-index:9999;position:absolute;top:2px;right:2px;color:#fff;font-family:sans-serif;font-size:14px;padding:2px 5px}
@media (max-width:361px){
  div.development{height:48px}
  div.development:before{top:26px}
}
@media (max-width:575.98px){
  div.development:after{content:'Breakpoint Width > ALL (max-width:575.98px)'}
}
@media (min-width:576px){
  div.development:after{content:'Breakpoint Width > SM (min-width:576px)'}
}
@media (min-width:768px){
  div.development:after{content:'Breakpoint Width > MD (min-width:768px)'}
}
@media (min-width:992px){
  div.development:after{content:'Breakpoint Width > LG (min-width:992px)'}
}
@media (min-width:1200px){
  div.development:after{content:'Breakpoint Width > XL (min-width:1200px)'}
}
