.development {
  z-index: 3000 !important;
  position: fixed !important;
  top: -39px !important;
  width: 80% !important;
  height: 39px !important;
  font-family: sans-serif !important;
  font-size: 14px !important;
  color: #000 !important;
  background-color: #d8d8d8 !important;
  margin: 0 10% !important;
  padding: 0 10px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-width: 0 !important;
  -moz-transition: top .5s ease !important;
  -webkit-transition: top .5s ease !important;
  -o-transition: top .5s ease !important;
  transition: top .5s ease !important; }

.development.toggled {
  top: 0 !important; }

.development .dropper {
  position: absolute !important;
  left: 30px !important;
  bottom: -20px !important;
  width: 178px !important;
  height: 20px !important;
  background-color: #d8d8d8 !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-width: 0 !important; }

.development nav {
  display: flex !important;
  height: auto !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 0 !important;
  background-color: transparent !important;
  font-family: sans-serif !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;}

.development nav ul {
  padding: 0 !important;
  list-style: none !important; }

.development nav ul li {
  display: inline-block !important;
  position: relative !important;
  margin: 0 .5rem !important;
  text-align: left !important; }

.development nav ul li ul {
  display: none !important;
  position: absolute !important;
  top: 1.5rem !important;
  left: 0 !important;
  right: auto !important;
  border: 1px solid #aaa !important;
  background-color: #d8d8d8 !important;
  padding: .1rem !important;
  width: auto !important;
  height: auto !important;
  white-space: nowrap !important; }

.development nav ul li:hover ul {
  display: block !important; }

.development nav ul li ul li div {
  display: inline-block !important;
  width: auto !important;
  vertical-align: top !important; }

.development label {
  display: inline !important;
  margin: 0 10px 0 0 !important;
  padding: 0 !important;
  border: 0 !important;
  font-size: 12px !important; }

.development input {
  display: inline !important;
  width: 16px !important;
  height: 16px !important;
  margin: 0 10px 0 0 !important;
  padding: 0 !important; }

.development a {
  display: inline !important;
  margin: 0 10px 0 0 !important; }

.btn-dev {
  position: relative !important;
  display: inline-block !important;
  background: #ddd !important;
  color: #000 !important;
  font-family: sans-serif !important;
  font-weight: 400 !important;
  margin: 0 !important;
  border-style: solid !important;
  border-color: #ddd !important;
  border-width: 1px !important; }

.btn-dev:hover,
.btn-dev:focus,
.btn-dev.active {
  background-color: #fff !important;
  color: #000 !important;
  border-style: solid !important;
  border-color: #aaa !important;
  border-width: 1px !important; }

button.development-dropdown {
  color: #000 !important;
  font-family: sans-serif !important;
  font-weight: 400 !important;
  font-size: 10px !important;
  border: 0 !important;
  background: transparent !important;
  margin: 0 !important;
  padding: 0 12px !important;
  outline: none !important;
  box-shadow: 0 0 0 !important; }

button.development-dropdown svg {
  position: absolute !important;
  top: 3px !important;
  right: 10px !important;
  width: 14px !important;
  height: 14px !important; }

button.development-dropdown svg {
  display: inline-block !important; }

button.development-dropdown svg.toggled {
  display: none !important; }

@media (max-width: 361px) {
  div.development {
    width: 100% !important;
    margin: 0 !important; }
}

@media (min-width: 768px) {
  div.development {
    width: 80% !important;
    margin: 0 10% !important; }
}

head {
  display: block;
  max-height: 0;
  transition: max-height .5s ease-out;
  font: 16px monospace;
  overflow: hidden;
  overflow-x: hidden;
  color: #fff;
  background-color: #2b3035; }

head.showMetaTags {
  max-height: 1200px;
  transition: max-height .5s ease-in; }

head::before,
head::after {
  display: block;
  color: rgba(255, 255, 255, .4);
  font: 16px monospace; }

head::before {
  content: '<head>';
  margin-left: 10px; }

head::after {
  content: ' (Information for Google Analytics, Twitter and Facebook Open Graph and JSON+LD are present, just hidden so as not to confuse with repeated information, you can view the source if you wish to check) </head>';
  margin-right: 10px;
  text-align: right; }

title,
meta[name][content] {
  display: block;
  color: #fff;
  white-space: nowrap;
  font-size: 0; }

meta[name="viewport"][content],
meta[name="google"][content],
meta[name^="twitter"][content],
meta[name="theme-color"][content],
meta[name^="apple"][content] {
  display: none; }

title::before,
title::after,
meta::before,
meta::after {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  font: 14px monospace; }

title::before,
title::after,
meta::before {
  border-right: none; }

title::before {
  border: 0;
  padding-right: 5px; }

title::after {
  border: 0;
  padding-left: 5px; }

meta::after {
  overflow: hidden;
  border-left: none; }

title {
  display: inline-block;
  font-size: 14px; }

meta[name][content]::before {
  content: '<meta '; }

meta[name][content]::after {
  content: 'name="' attr(name) '" content="' attr(content) '">'; }

title::before {
  content: '<title>'; }

title::after {
  content: '</title>'; }

.dev-hideImages *,
.dev-hideImages *:after,
.dev-hideImages *:before {
  background-image: none !important; }

.dev-hideImages img,
.dev-hideImages input[type=image],
.dev-hideImages svg:not(.devToolbarDrop) {
  display: none !important; }

.dev-showEmptyAlt img[alt=""],
.dev-showEmptyAlt area[alt=""],
.dev-showEmptyAlt input[type="image"][alt=""] {
  outline: 4px solid #f00 !important;
  outline-offset: -4px !important; }

/* Valid */
.dev-showAddress address,
.dev-showAnchor a,
.dev-showAbbr abbr,
.dev-showArea area,
.dev-showArticle article,
.dev-showAside aside,
.dev-showAudio audio,
.dev-ShowBdi bdi,
.dev-ShowBdo bdo,
.dev-ShowBlockquote blockquote,
.dev-showCanvas canvas,
.dev-showCite cite,
.dev-showCode code,
.dev-showCommand command,
.dev-showDd dd,
.dev-showDel del,
.dev-showDetails details,
.dev-showDfn dfn,
.dev-showDiv div,
.dev-showDL dl,
.dev-showDT dt,
.dev-showEm em,
.dev-showEmbed embed,
.dev-showFieldset fieldset,
.dev-showFigCaption figcaption,
.dev-showFigure figure,
.dev-showFooter footer,
.dev-showForm form,
.dev-showFormButton button,
.dev-showFormButton [role=button],
.dev-showFormButton [role="button"],
.dev-showFormDatalist datalist,
.dev-showFormInputCheckbox input[type=checkbox],
.dev-showFormInputCheckbox input[type="checkbox"],
.dev-showFormInputColor input[type=color],
.dev-showFormInputColor input[type="color"],
.dev-showFormInputDate input[type=date],
.dev-showFormInputDate input[type="date"],
.dev-showFormInputDateTimeLocal input[type=datetime-local],
.dev-showFormInputDateTimeLocal input[type="datetime-local"],
.dev-showFormInputEmail input[type=email],
.dev-showFormInputEmail input[type="email"],
.dev-showFormInputFile input[type=file],
.dev-showFormInputFile input[type="file"],
.dev-showFormInputHidden input[type=hidden],
.dev-showFormInputHidden input[type="hidden"],
.dev-showFormInputImage input[type=image],
.dev-showFormInputImage input[type="image"],
.dev-showFormInputMonth input[type=month],
.dev-showFormInputMonth input[type="month"],
.dev-showFormInputNumber input[type=number],
.dev-showFormInputNumber input[type="number"],
.dev-showFormInputRadio input[type=radio],
.dev-showFormInputRadio input[type="radio"],
.dev-showFormInputRange input[type=range],
.dev-showFormInputRange input[type="range"],
.dev-showFormInputReset input[type=reset],
.dev-showFormInputReset input[type="reset"],
.dev-showFormInputSearch input[type=search],
.dev-showFormInputSearch input[type="search"],
.dev-showFormInputSubmit input[type=submit],
.dev-showFormInputSubmit input[type="submit"],
.dev-showFormInputTel input[type=tel],
.dev-showFormInputTel input[type="tel"],
.dev-showFormInputText input[type=text],
.dev-showFormInputText input[type="text"],
.dev-showFormInputTime input[type=time],
.dev-showFormInputTime input[type="time"],
.dev-showFormInputUrl input[type=url],
.dev-showFormInputUrl input[type="url"],
.dev-showFormInputWeek input[type=week],
.dev-showFormInputWeek input[type="week"],
.dev-showFormLabel label,
.dev-showFormOptgroup optgroup,
.dev-showFormOption option,
.dev-showFormSelect select,
.dev-showFormTextarea textarea,
.dev-showH1 h1,
.dev-showH2 h2,
.dev-showH3 h3,
.dev-showH4 h4,
.dev-showH5 h5,
.dev-showH6 h6,
.dev-showHeader header,
.dev-showHr hr,
.dev-showI i,
.dev-showIframe iframe,
.dev-showImages img,
.dev-showImages input[type=image],
.dev-showImages input[type="image"],
.dev-showIns ins,
.dev-showKbd kbd,
.dev-showKeygen keygen,
.dev-showLegend legend,
.dev-showUl ul,
.dev-showLi li,
.dev-showOl ol,
.dev-showMain main,
.dev-showMap map,
.dev-showMark mark,
.dev-showMenu menu,
.dev-showMeter meter,
.dev-showNav nav,
.dev-showObject object,
.dev-showOutput output,
.dev-showParagraph p,
.dev-showPre pre,
.dev-showProgress progress,
.dev-showQ q,
.dev-showS s,
.dev-showSamp samp,
.dev-showSection section,
.dev-showSlot slot,
.dev-showSmall small,
.dev-showSub sub,
.dev-showSummary summary,
.dev-showSpan span,
.dev-showSup sup,
.dev-showImage svg,
.dev-showTable table,
.dev-showTableCaption caption,
.dev-showTableCol col,
.dev-showTableColGroup colgroup,
.dev-showTableTbody tbody,
.dev-showTableTd td,
.dev-showTableTfoot tfoot,
.dev-showTableTh th,
.dev-showTableThead thead,
.dev-showTableTr tr,
.dev-showTemplate template,
.dev-showTime time,
.dev-showTrack track,
.dev-showU u,
.dev-showVar var,
.dev-showVideo video,
.dev-showWbr wbr {
  outline: 4px solid #0f0 !important;
  outline-offset: -4px !important; }

.dev-showFormInputHidden input[type=hidden],
.dev-showFormInputHidden input[type="hidden"] {
  display: inline-block !important; }

/* Deprecated */
.dev-showAcronym acronym,
.dev-showApplet applet,
.dev-showBasefont basefont,
.dev-showBgsound bgsound,
.dev-showBold b,
.dev-showBig big,
.dev-showBlink blink,
.dev-showCenter center,
.dev-showCommand command,
.dev-showContent content,
.dev-showDir dir,
.dev-showElement element,
.dev-showFont font,
.dev-showFrame frame,
.dev-showFrameset frameset,
.dev-showImage image,
.dev-showIsindex isindex,
.dev-showListing listing,
.dev-showMarquee marquee,
.dev-showMenuitem menuitem,
.dev-showMulticol multicol,
.dev-showNextid nextid,
.dev-showNobr nobr,
.dev-showNoembed noembed,
.dev-showNoframes noframes,
.dev-showPlaintext plaintext,
.dev-showShadow shadow,
.dev-showSpacer spacer,
.dev-showStrike strike,
.dev-showTt tt,
.dev-showXmp xmp {
  outline: 4px solid #f00 !important;
  outline-offset: -4px !important; }

.dev-showImages img,
.dev-showImages input[type=image],
.dev-showImages svg {
  outline: 2px solid #f00 !important; }

.dev-showScript script,
.dev-showStyle style,
.dev-showJSON-LD script[type="application/ld+json"] {
  background-color: #cfc;
  min-height: 1px !important;
  font: 14px monospace !important;
  font-weight: 900 !important;
  white-space: pre-wrap !important; }

.dev-showScript script,
.dev-showStyle style,
.dev-showScript.dev-showJSON-LD script[type="application/ld+json"] {
  display: block !important; }

.dev-showJSON-LD script[type="application/ld+json"] {
  display: block !important;
  white-space: pre-wrap !important; }

.dev-showScript script[type="application/ld+json"] {
  display: none !important; }

.dev-showScript script:not([type="application/ld+json"])::before,
.dev-showScript script:not([type="application/ld+json"])::after {
  display: block !important;
  vertical-align: middle !important;
  min-height: 1px !important;
  padding: 5px !important;
  font: 14px monospace !important;
  font-weight: 900 !important; }

.dev-showScript script:not([src]):not([type])::before {
  content: '<script>\A'; }

.dev-showScript script:not([src]):not([type])::after {
  content: '\A</script>'; }

.dev-showScript script[src],
.dev-showJSON-LD script[type="application/ld+json"] {
  outline: none !important;
  white-space: normal !important; }

.dev-showScript script[src]::before {
  content: '<script src="' attr(src) '"></script>\A'; }

.dev-showJSON-LD script[type="application/ld+json"]::before {
  content: '<script type="application/ld+json">\A'; }

.dev-showJSON-LD script[type="application/ld+json"]::after {
  content: '\A</script>\A'; }

.dev-showAnchor .development a,
.dev-showEmptyAlt .development img[alt=""],
.dev-showEmptyAlt .development area[alt=""],
.dev-showEmptyAlt .development input[type="image"][alt=""],
.dev-showImages .development img,
.dev-showImages .development input[type=image],
.dev-showImages .development input[type="image"],
.dev-showImages .development svg,
.dev-showDiv .development,
.dev-showDiv .development div,
.dev-showNav .development nav,
.dev-showFormButton .development button,
.dev-showFormButton .development [role=button],
.dev-showFormButton .development [role="button"],
.dev-showFormInputCheckbox .development input[type=checkbox],
.dev-showFormInputCheckbox .development input[type="checkbox"],
.dev-showFormInputDate .development input[type=date],
.dev-showFormInputDate .development input[type="date"],
.dev-showFormInputRadio .development input[type=radio],
.dev-showFormInputRadio .development input[type="radio"],
.dev-showFormInputText .development input[type=text],
.dev-showFormInputText .development input[type="text"],
.dev-showFormLabel .development label {
  outline: none !important; }

body.dev-topographic > :not(.development) *,
body.dev-topographic > :not(.development) *>*,
body.dev-topographic > :not(.development) *>*>*,
body.dev-topographic > :not(.development) *>*>*>*,
body.dev-topographic > :not(.development) *>*>*>*>*,
body.dev-topographic > :not(.development) *>*>*>*>*>*,
body.dev-topographic > :not(.development) *>*>*>*>*>*>*,
body.dev-topographic > :not(.development) *>*>*>*>*>*>*>*,
body.dev-topographic > :not(.development) *>*>*>*>*>*>*>*>*,
body.dev-topographic > :not(.development) *>*>*>*>*>*>*>*>*>*,
body.dev-topographic > :not(.development) *>*>*>*>*>*>*>*>*>*>*,
body.dev-topographic > :not(.development) *>*>*>*>*>*>*>*>*>*>*>*,
body.dev-topographic > :not(.development) *>*>*>*>*>*>*>*>*>*>*>*>*,
body.dev-topographic > :not(.development) *>*>*>*>*>*>*>*>*>*>*>*>*>*,
body.dev-topographic > :not(.development) *>*>*>*>*>*>*>*>*>*>*>*>*>*>*,
body.dev-topographic > :not(.development) *>*>*>*>*>*>*>*>*>*>*>*>*>*>*>*,
body.dev-topographic > :not(.development) *>*>*>*>*>*>*>*>*>*>*>*>*>*>*>*>* { background-color: rgba(255, 0 ,0, .05) !important; }

nav.account-menu {
  z-index: 1021 !important;
  position: relative !important;
  width: 100% !important;
  height: 50px !important;
  background: #000 !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: Arial !important;
  font-size: 16px !important;
  line-height: 1.7 !important; }

nav.account-menu ul {
  margin: 0 0 0 auto;
  background-color: #000 !important; }

nav.account-menu ul li {
  margin: 0 !important;
  padding: .1rem .75rem !important;
  line-height: 2 !important;
  vertical-align: middle !important;}

nav.account-menu ul li a {
  font-family: Arial !important;
  font-size: 16px !important;
  font-weight: 700 !important ;
  color: #aaa !important;
  text-transform: none !important; }

nav.account-menu ul li a:hover {
  color: #ddd !important;
  text-decoration: none !important; }

nav.account-menu label {
  font-family: Arial !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  background-color: #000 !important;
  border-color: #000 !important;
  color: #aaa !important; }

nav.account-menu label:hover {
  color: #ddd !important; }

nav.account-menu button {
  margin-top: 0 !important;
  border-radius: 5px !important;
  display: inline-block !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  line-height: 150% !important;
  padding: .25rem .5rem !important;
  font-family: Arial !important;
  background-color: #dc3545 !important;
  border: 2px solid #dc3545 !important;
  color: #fff !important;
  outline: none !important; }

nav.account-menu button:focus,
nav.account-menu button:hover {
  color: #fff !important;
  background-color: #c82333 !important;
  border-color: #bd2130 !important;
  outline: none !important; }

nav.account-menu #accountavatar {
  width: 32px !important;
  max-height: 32px !important;
  border-radius: 5px !important; }
