.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2),
              0 6px 20px 0 rgba(0, 0, 0, .19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2),
              0 6px 20px 0 rgba(0, 0, 0, .19); }

.navbar-brand {
  position: relative; }

.navbar-brand .version {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 5px;
  left: auto;
  color: #fff;
  font-size: 12px !important; }

.brand_logo_container {
  position: absolute;
  top: -25px; }

.brand_logo {
  margin-left: 6px;
  width: 200px; }

.fc .fc-toolbar button {
  -webkit-user-select: none;
     -moz-user-select: none; }

#toast-container>div,
.browser-stats,
.ladda-button[data-style=contract-overlay],
.ladda-button[data-style=contract],
.ladda-button[data-style=expand-down],
.ladda-button[data-style=expand-up],
.ladda-button[data-style=slide-left],
.ladda-button[data-style=slide-right],
.ladda-button[data-style=slide-up],
.ladda-button[data-style=zoom-in],
.ladda-button[data-style=zoom-out],
.popover.media .mediaicon {
  overflow: hidden; }

.media-gallery .card-img {
  width: 100%;
  max-height: 6rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top; }

.media-gallery .btn-group {
  position: absolute;
  top: 0;
  right: 0; }

.cartzebra1 {}

.cartzebra2 {
  background-color: rgba(0, 0, 0, .05); }

.input-group-text,
.input-group-text p {
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word !important;
}

pre {
  width: 100%;
  color: #fff;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word; }

#google-title {
  position: relative; }

#google-title,
#google-title a,
#google-title a:hover {
  color: #1a0dab !important;
  font-family: "Arial";
  font-size: 18px; }

#google-title a:hover {
  text-decoration: underline; }

#google-title.contentType:before {
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: -95px;
  width: 90px;
  color: #888;
  font-size: 10px;
  text-align: right;
  content: attr(data-contentType); }

#google-link {
  color: #066921 !important;
  font-family: "Arial";
  font-size: 14px; }

#google-description {
  color: #545454 !important;
  font-family: "Arial";
  font-size: 13px; }

.toast-title {
  font-weight: 700; }

.toast-message {
  -ms-word-wrap: break-word;
      word-wrap: break-word; }

.toast-message a,
.toast-message label {
  color: #fff; }

.toast-message a:hover {
  color: #ccc;
  text-decoration: none; }

.toast-close-button {
  position: relative;
  top: -.3em;
  right: -.3em;
  float: right;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
      filter: alpha(opacity=80);
  opacity: .8;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  -webkit-text-shadow: 0 1px 0 #fff;
          text-shadow: 0 1px 0 #fff; }

.toast-top-center,
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%; }

.toast-close-button:focus,
.toast-close-button:hover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
      filter: alpha(opacity=40);
  opacity: .4;
  cursor: pointer;
  color: #000;
  text-decoration: none; }

button.toast-close-button {
  -webkit-appearance: none;
  cursor: pointer;
  border: 0;
  background: 0 0;
  padding: 0; }

.toast-bottom-center,
.toast-bottom-full-width {
  right: 0;
  bottom: 0;
  width: 100%; }

.toast-top-left {
  top: 12px;
  left: 12px; }

.toast-top-right {
  top: 12px;
  right: 12px; }

.toast-bottom-right {
  right: 12px;
  bottom: 12px; }

.toast-bottom-left {
  bottom: 12px;
  left: 12px; }

#toast-container {
  position: fixed;
  z-index: 999999;
  pointer-events: none; }

#toast-container * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

#toast-container > div {
  position: relative;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
      filter:alpha(opacity=80);
  opacity: .8;
  margin: 0 0 6px;
  -webkit-box-shadow: 0 0 12px #999;
     -moz-box-shadow: 0 0 12px #999;
          box-shadow: 0 0 12px #999;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  background-repeat: no-repeat;
  background-position: 15px center;
  padding: 15px 15px 15px 50px;
  width: 300px;
  pointer-events: auto;
  color: #fff; }

#toast-container > :hover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      filter: alpha(opacity=100);
  opacity: 1;
  cursor: pointer;
  -webkit-box-shadow: 0 0 12px #000;
     -moz-box-shadow: 0 0 12px #000;
          box-shadow: 0 0 12px #000; }

#toast-container > .toast-info {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=) !important; }

#toast-container > .toast-error {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=) !important; }
#toast-container > .toast-success {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==) !important; }

#toast-container > .toast-warning {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=) !important; }

#toast-container.toast-bottom-center > div,
#toast-container.toast-top-center > div {
  margin-right: auto;
  margin-left: auto;
  width: 300px; }

#toast-container.toast-bottom-full-width > div,
#toast-container.toast-top-full-width > div {
  margin-right: auto;
  margin-left: auto;
  width: 96%; }

.toast {
  background-color: #030303; }

.toast-success {
  background-color: #51a351; }

.toast-error {
  background-color: #bd362f; }

.toast-info {
  background-color: #2f96b4; }

.toast-warning {
  background-color: #f89406; }

.toast-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
      filter: alpha(opacity=40);
  opacity: .4;
  background-color: #000;
  height: 4px; }

@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em; }

  #toast-container .toast-close-button {
    top:-.2em;
    right:-.2em; }
}

@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em; }

  #toast-container .toast-close-button {
    top: -.2em;
    right: -.2em; }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em; }
}

.ladda-button {
  position: relative; }

.ladda-button .ladda-spinner {
  display: inline-block;
  position: absolute;
  top: 50%;
  opacity: 0;
  z-index: 2;
  margin-top: 0;
  width: 32px;
  pointer-events: none; }

.ladda-button[data-style=expand-down][data-loading] .ladda-spinner,
.ladda-button[data-style=expand-left][data-loading] .ladda-spinner,
.ladda-button[data-style=expand-right][data-loading] .ladda-spinner {
  opacity: 1; }

.ladda-button .ladda-label {
  position: relative;
  z-index: 3; }

.ladda-button .ladda-progress {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: .1s linear all !important;
     -moz-transition: .1s linear all !important;
      -ms-transition: .1s linear all !important;
       -o-transition: .1s linear all !important;
          transition: .1s linear all !important;
  background: rgba(0, 0, 0, .2);
  width: 0;
  height: 100%; }

.ladda-button[data-loading] .ladda-progress {
  display: block; }

.ladda-button[data-style=zoom-in] .ladda-label,
.ladda-button[data-style=zoom-out] .ladda-label {
  display: inline-block;
  position: relative; }

.ladda-button,
.ladda-button .ladda-label,
.ladda-button .ladda-spinner {
  -webkit-transition: .3s cubic-bezier(.175, .885, .32, 1.275) all !important;
          transition: .3s cubic-bezier(.175, .885, .32, 1.275) all !important; }

.ladda-button[data-style=zoom-in],
.ladda-button[data-style=zoom-in] .ladda-label,
.ladda-button[data-style=zoom-in] .ladda-spinner,
.ladda-button[data-style=zoom-out],
.ladda-button[data-style=zoom-out] .ladda-label,
.ladda-button[data-style=zoom-out] .ladda-spinner {
  -webkit-transition: .3s ease all !important;
          transition: .3s ease all !important; }

.ladda-button[data-style=expand-right] .ladda-spinner {
  right: -6px; }

.ladda-button[data-style=expand-right][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-right][data-size=xs] .ladda-spinner {
  right: -12px; }

.ladda-button[data-style=expand-right][data-loading] {
  padding-right: 56px; }

.ladda-button[data-style=expand-right][data-loading][data-size="s"],
.ladda-button[data-style=expand-right][data-loading][data-size=xs] {
  padding-right: 40px; }

.ladda-button[data-style=expand-left] .ladda-spinner {
  left: 26px; }

.ladda-button[data-style=expand-left][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-left][data-size=xs] .ladda-spinner {
  left: 4px; }

.ladda-button[data-style=expand-left][data-loading] {
  padding-left: 56px; }

.ladda-button[data-style=expand-left][data-loading][data-size="s"],
.ladda-button[data-style=expand-left][data-loading][data-size=xs] {
  padding-left: 40px; }

.ladda-button[data-style=expand-up] .ladda-spinner {
  top: -32px;
  left: 50%;
  margin-left: 0; }

.ladda-button[data-style=expand-up][data-loading] {
  padding-top: 54px; }

.ladda-button[data-style=expand-up][data-loading] .ladda-spinner {
  top: 26px;
  opacity: 1;
  margin-top: 0; }

.ladda-button[data-style=expand-up][data-loading][data-size="s"],
.ladda-button[data-style=expand-up][data-loading][data-size=xs] {
  padding-top: 32px; }

.ladda-button[data-style=expand-up][data-loading][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-up][data-loading][data-size=xs] .ladda-spinner {
  top: 4px; }

.ladda-button[data-style=expand-down] .ladda-spinner {
  top: 62px;
  left: 50%;
  margin-left: 0; }

.ladda-button[data-style=expand-down][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-down][data-size=xs] .ladda-spinner {
  top: 40px; }

.ladda-button[data-style=expand-down][data-loading] {
  padding-bottom: 54px; }

.ladda-button[data-style=expand-down][data-loading][data-size="s"],
.ladda-button[data-style=expand-down][data-loading][data-size=xs] {
  padding-bottom: 32px; }

.ladda-button[data-style=slide-left] .ladda-label {
  position: relative; }

.ladda-button[data-style=slide-left] .ladda-spinner {
  left: 100%;
  margin-left: 0; }

.ladda-button[data-style=slide-left][data-loading] .ladda-label {
  left: -100%;
  opacity: 0; }

.ladda-button[data-style=slide-left][data-loading] .ladda-spinner {
  left: 50%;
  opacity: 1; }

.ladda-button[data-style=slide-right] .ladda-label {
  position: relative; }

.ladda-button[data-style=slide-right] .ladda-spinner {
  right: 100%;
  left: 16px;
  margin-left: 0; }

[dir=rtl] .ladda-button[data-style=slide-right] .ladda-spinner {
  right: auto; }

.ladda-button[data-style=slide-right][data-loading] .ladda-label {
  left: 100%;
  opacity: 0; }

.ladda-button[data-style=slide-right][data-loading] .ladda-spinner {
  left: 50%;
  opacity: 1; }

.ladda-button[data-style=slide-up] .ladda-label {
  position: relative; }

.ladda-button[data-style=slide-up] .ladda-spinner {
  left: 50%;
  margin-top: 1em;
  margin-left: 0; }

.ladda-button[data-style=slide-up][data-loading] .ladda-label {
  top: -1em;
  opacity: 0; }

.ladda-button[data-style=slide-up][data-loading] .ladda-spinner {
  opacity: 1;
  margin-top: 0; }

.ladda-button[data-style=slide-down] {
  overflow: hidden; }

.ladda-button[data-style=slide-down] .ladda-label {
  position: relative; }

.ladda-button[data-style=slide-down] .ladda-spinner {
  left: 50%;
  margin-top: -2em;
  margin-left: 0; }

.ladda-button[data-style=slide-down][data-loading] .ladda-label {
  top: 1em;
  opacity: 0; }

.ladda-button[data-style=slide-down][data-loading] .ladda-spinner {
  opacity: 1;
  margin-top: 0; }

.ladda-button[data-style=zoom-out] .ladda-spinner {
  left: 50%;
  -webkit-transform: scale(2.5);
     -moz-transform: scale(2.5);
      -ms-transform: scale(2.5);
       -o-transform: scale(2.5);
          transform: scale(2.5);
  margin-left: 32px; }

.ladda-button[data-style=zoom-out][data-loading] .ladda-label {
  -webkit-transform: scale(.5);
          transform: scale(.5);
  opacity: 0; }

.ladda-button[data-style=zoom-out][data-loading] .ladda-spinner {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  margin-left: 0; }

.ladda-button[data-style=zoom-in] .ladda-spinner {
  left: 50%;
  -webkit-transform: scale(.2);
     -moz-transform: scale(.2);
      -ms-transform: scale(.2);
       -o-transform: scale(.2);
          transform: scale(.2);
  margin-left: -16px; }

.ladda-button[data-style=zoom-in][data-loading] .ladda-label {
  -webkit-transform: scale(2.2);
          transform: scale(2.2);
  opacity: 0; }

.ladda-button[data-style=zoom-in][data-loading] .ladda-spinner {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  margin-left: 0; }

.ladda-button[data-style=contract] {
  width: 100px; }

.ladda-button[data-style=contract] .ladda-spinner {
  left: 50%;
  margin-left: 0; }

.ladda-button[data-style=contract][data-loading] {
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  width: 52px; }

.ladda-button[data-style=contract][data-loading] .ladda-label {
  opacity: 0; }

.ladda-button[data-style=contract][data-loading] .ladda-spinner {
  opacity: 1; }

.ladda-button[data-style=contract-overlay] {
  -webkit-box-shadow: 0 0 0 2000px transparent;
          box-shadow: 0 0 0 2000px transparent;
  width: 100px; }

.ladda-button[data-style=contract-overlay] .ladda-spinner {
  left: 50%;
  margin-left: 0; }

.ladda-button[data-style=contract-overlay][data-loading] {
  -webkit-box-shadow: 0 0 0 2000px rgba(0, 0, 0, .8);
          box-shadow: 0 0 0 2000px rgba(0, 0, 0, .8);
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  width: 52px; }

.ladda-button[data-style=contract-overlay][data-loading] .ladda-label {
  opacity: 0; }

.ladda-button[data-style=contract-overlay][data-loading] .ladda-spinner {
  opacity: 1; }

[dir=rtl] .ladda-spinner > div {
  left: 25% !important; }

option[value=''] {
  display: none !important; }

.installimg svg {
  width: 50%; }

.app-header .navbar-brand i svg {
  width: 155px !important;
  height: 28px !important; }

.app-header .nav-item .nav-link > .img-avatar {
  margin: -5px 20px 0 20px; }

[data-rank]:before {
  position: absolute;
  top: -5px;
  right: 0;
  left: 0;
  margin-top: -10px;
  width: 68px;
  font-size: 9px;
  text-align: center;
  content: 'Visitor'; }

[data-rank="100"]:before {
  content: 'Subscriber'; }

[data-rank="200"]:before {
  content: 'Member'; }

[data-rank="300"]:before {
  content: 'Client'; }

[data-rank="400"]:before {
  content: 'Contributor'; }

[data-rank="500"]:before {
  content: 'Author'; }

[data-rank="600"]:before {
  content: 'Editor'; }

[data-rank="700"]:before {
  content: 'Moderator'; }

[data-rank="800"]:before {
  content: 'Manager'; }

[data-rank="900"]:before {
  content: 'Administrator'; }

[data-rank="1000"]:before {
  content: 'Developer'; }

.preferences .card-header {
  color: #fff; }

.preferences:hover {
  text-decoration: none; }

.preferences .card {
  overflow: hidden; }

.preferences .card-body {
  position: relative;
  height: 72px !important; }

.preferences .card-body:hover {
  color: rgba(255, 255, 255, .5); }

.preferences .card-text {
  padding: 20px 10px;
  color: rgba(255, 255, 255, .25);
  font-size: 1.5em;
  font-weight: 700;
  line-height: .6em; }

.preferences .card-text small,
.preferences .card-text.small {
  font-size: 80%; }

.progress-bar.bg-rainbow {
  background: linear-gradient(
                              -90deg,
                              violet,
                              #30b3fc,
                              #70dc23,
                              yellow,
                              orange
                            );
}

.preferences .card .card-body .i {
  display: inline; }

.preferences .card .card-body:hover i {
  color: rgba(255, 255, 255, .4); }

.preferences .card .icon {
  position: absolute;
  right: 50px;
  bottom: 50px;
  color: rgba(255, 255, 255, .05); }

.preferences [data-type]:before {
  content: attr(data-type);
  position: absolute;
  top: -12px;
  left: 6px;
  font-size: 11px;
  color: #666;
  text-transform: uppercase; }

details {
  font-size: 1rem;
  margin: 1rem 0;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  width: 100%;
  border-radius: 8px;
  position: relative; }

details .summary-title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

details:hover {
  cursor: pointer; }

details .summary-content {
  cursor: default;
  padding: 1em;
  font-weight: 300;
  line-height: 1.5; }

details summary {
  padding: 1em; }

details summary:focus {
  outline: none; }

details summary:hover .summary-chevron-up svg {
  opacity: 1; }

details .summary-chevron-up svg {
  opacity: .5; }

details .summary-chevron-up,
details .summary-chevron-down {
  pointer-events: none;
  position: absolute;
  top: 0.75em;
  right: 1em; }

details .summary-chevron-up svg,
details .summary-chevron-down svg {
  display: block; }

details[open] .summary-chevron-up svg {
  display: none; }

details summary::-webkit-details-marker {
  display: none; }

.popover.accessibility,
.popover.analytics,
.popover.pathviewer,
.popover.suggestions,
.popover.seohelper {
  min-width: 200px !important;
  max-width: 800px !important;
  max-height: 600px !important; }

.popover.seohelper .popover-body {
  height: 50vh;
  padding: 20px;
  overflow-y: auto;
  white-space:pre-wrap;
  background-color: #fff;
  color: #000; }

.popover.seohelper .popover-body a {
  color: rgb(0, 119, 179); }

.popover.seohelper .popover-body img {
  max-width: 100% !important; }

.popover.seohelper .popover-body pre,
.popover.seohelper .popover-body code {
  color: #000 !important; }

.popover.seohelper .popover-body hr,
.popover.seohelper .popover-body li {
  margin: 0 !important;
  padding: 0 !important; }

.popover.findnreplace {
  max-width: 400px !important; }

.popover.pathviewer div,
.popover.suggestions {
  min-width: 400px !important; }

.popover.pathviewer div {
  margin-bottom: 20px;
  max-height: 380px !important;
  overflow: none; }

.popover.pathviewer tbody {
  overflow-y: scroll; }

.popover.analytics .popover-body {
  min-height: 100px !important;
  max-height: 540px !important;
  overflow-y: auto !important; }

.popover.accessibility .popover-body {
  min-width: 600px !important;
  min-height: 100px !important;
  max-height: 200px !important;
  overflow-y: auto !important; }

.popover.accessibility .popover-body .alert {
  position: relative; }

.popover.accessibility .popover-body .alert .pull-right {
  margin-top: -6px !important; }

.popover.accessibility .popover-body .alert:after {
  display: inline-block;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 100;
  border: 1px solid #000;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  background: #fff;
  padding: 2px 5px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  content: attr(data-attrernum); }

.popover.accessibility .popover-body .alert.alert-default:after,
.popover.accessibility .popover-body .alert.alert-success:after {
  display: none; }

.input-group-append.avatar,
.input-group-append.img {
  position: relative;
  z-index: 0;
  margin: 0;
  background: #fff;
  background: linear-gradient(135deg, #fff, #ccc);
  padding: 0;
  width: 40px;
  height: 36px; }

.input-group-append.avatar:before,
.input-group-append.img:before {
  display: block;
  position: absolute;
  top: 2px;
  left: 5px;
  z-index: -1;
  background-image: url(../images/i-picture.svg);
  background-repeat: no-repeat;
  background-size: 28px 28px;
  width: 40px;
  height: 36px;
  content: ''; }

.hidden,
.input-group-append img[src=""] {
  display: none; }

.input-group-append.avatar:before {
  background-image: url(../images/i-user.svg); }

.input-group-append img {
  z-index: +1;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 36px; }

.btn-xs {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  padding: 1px 5px;
  height: 20px;
  font-size: 12px;
  line-height: 1.2em; }

.fc-event {
  color: #000 !important; }

#events-layer .btn-xs {
  padding: 0;
  width: 16px;
  height: 16px;
  font-size: 12px;
  line-height: 13px; }

.eventEnd {
  background-color: #f28888; }

.eventEndConfirmed {
  background-color: #88f288; }

.note-editor.note-frame {
  border-color: transparent !important; }

.note-save svg {
  fill: currentColor; }

.checkbox label::before {
  content: ""; }

#preference-theme .card .card-header,
#preference-theme .card p {
  color: #fff; }

#preference-theme .card p a {
  color: #fff;
  text-decoration: none; }

#preference-theme .card p a:hover {
  text-decoration: underline; }

#preference-theme .card .bg-success .card-header,
#preference-theme .card .bg-success p {
  color: #000; }

#preference-theme .card .bg-success p a {
  color: #000;
  text-decoration: none; }

#preference-theme .card .bg-success p a:hover {
  text-decoration: underline; }

.activities .item {
  padding: 0 15px; }

.activities .item .badge {
  font-size: 1.2em; }

.activities .item div[class*='col-'] {
  padding: 15px; }

.activities p {
  font-size: .75em; }

.activities .icon {
  display: inline-block;
  margin-top: 40px;
  width: 35px;
  height: 35px;
  line-height: 1em; }

.activities .date {
  padding: 20px;
  font-size: .75em; }

.activities .date-holder {
  padding: 0 !important;
  text-align: center; }

.checkbox label,
.fc .fc-toolbar button {
  float: left;
  opacity: .7;
  padding: .8em 0; }

.fc .fc-toolbar button {
  vertical-align: middle;
  text-align: center;
  white-space: nowrap; }

[class*=" fc-icon-"],
[class^=fc-icon-] {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../images/i-back.svg);
  background-repeat: no-repeat;
  width: 14px;
  height: 14px; }

.fc button,
.fc button:active,
.fc-state-default,
.note-btn {
  background-image: none; }

.fc-icon-left-single-arrow {
  background-position: -70px -70px; }

.fc-icon-right-single-arrow {
  background-position: -84px -70px; }

.fc-icon-left-double-arrow {
  background-position: -70px -70px; }

.fc-icon-right-double-arrow {
  background-position: -84px -70px; }

.fc-icon-left-triangle {
  background-position: -112px -56px; }

.fc-icon-right-triangle {
  background-position: -126px -56px; }

.fc-icon-down-triangle {
  background-position: -98px -56px; }

.fc-icon-x:after {
  background-position: -168px -70px; }

.fc .fc-toolbar button {
  cursor: pointer;
  margin-bottom: 0;
  border-color: #73818f;
  background-color: #73818f;
  padding: 6px 12px;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.fc .fc-toolbar button:active:focus,
.fc .fc-toolbar button:focus {
  outline: 0;
  outline-offset: none;
  -webkit-box-shadow: 0 0 0 .2rem rgba(115, 129, 143, .5);
          box-shadow: 0 0 0 .2rem rgba(115, 129, 143, .5);
  border-color: #73818f;
  background-color: #626e7a !important;
  color: #fff; }

.fc .fc-toolbar button:focus,
.fc .fc-toolbar button:hover {
  text-decoration: none; }

.fc .fc-toolbar button:active,
body.bg1 .fc .fc-toolbar button:active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); }

.fc .fc-toolbar button:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(115, 129, 143, .5);
          box-shadow: 0 0 0 .2rem rgba(115, 129, 143, .5);
  border-color: #73818f!important;
  background-color: #626e7a !important;
  color: #fff; }

.fc .fc-toolbar button:active,
.fc .fc-toolbar button:hover,
.fc .fc-toolbar button:active:focus,
.fc .fc-toolbar button:active:hover {
  border-color: #73818f !important;
  background-color: #626e7a !important;
  color: #fff; }

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: #23282C !important; }

.fc-unthemed td.fc-today {
  background-color: #2f353a !important;
  color: #fff !important; }

.checkbox {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  padding: 0 0 10px 10px; }

.checkbox label {
  position: relative;
  vertical-align: middle;
  padding-left: 5px;
  font-weight: 700; }

table .checkbox label {
  margin-top: -12px;
  line-height: 1.42857143; }

label.control-label.check {
  margin-top: 8px !important;
  margin-right: 0 !important;
  margin-left: 0 !important; }

.checkbox label::after,
.checkbox label::before {
  display: inline-block;
  position: absolute;
  left: 0;
  margin-left: -20px; }

.checkbox label::before {
  -webkit-transition: border .15s ease-in-out,
              color .15s ease-in-out;
          transition: border .15s ease-in-out,
              color .15s ease-in-out;
  border: 1px solid #aaa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  background-color: #fff;
  width: 17px;
  height: 17px; }

.checkbox label::after {
  top: 0;
  padding-top: 1px;
  padding-left: 3px;
  width: 16px;
  height: 16px;
  color: #555;
  font-size: 11px; }

.checkbox input[type=checkbox] {
  opacity: 0;
  z-index: 1; }

.checkbox input[type=checkbox]:focus + label::before {
  outline: dotted thin;
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px; }

.checkbox input[type=checkbox]:checked + label::after {
  position: absolute;
  top: -15px;
  right: auto;
  left: -2px;
  color: #888;
  font-size: 28px;
  text-shadow: 0 0 3px #ccc,
               0 1px 2px #000;
  content: "✓"; }

.checkbox input[type=checkbox]:indeterminate + label::after {
  display: block;
  margin-top: 7px;
  margin-left: -16.5px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  background-color: #555;
  width: 10px;
  height: 3px;
  content: ""; }

.checkbox input[type=checkbox]:disabled + label {
  opacity: .65; }

.checkbox input[type=checkbox]:disabled + label::before {
  cursor: not-allowed;
  background-color: #eee; }

.checkbox.checkbox-inline {
  margin-top: 0; }

.checkbox-primary input[type=checkbox]:checked + label::before,
.checkbox-primary input[type=checkbox]:indeterminate + label::before {
  border-color: #337ab7;
  background-color: #337ab7; }

.checkbox-danger input[type=checkbox]:checked + label::after,
.checkbox-info input[type=checkbox]:checked + label::after,
.checkbox-primary input[type=checkbox]:checked + label::after,
.checkbox-success input[type=checkbox]:checked + label::after,
.checkbox-warning input[type=checkbox]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type=checkbox]:checked + label::before,
.checkbox-danger input[type=checkbox]:indeterminate + label::before {
  border-color: #d9534f;
  background-color: #d9534f; }

.checkbox-info input[type=checkbox]:checked + label::before,
.checkbox-info input[type=checkbox]:indeterminate + label::before {
  border-color: #5bc0de;
  background-color: #5bc0de; }

.checkbox-warning input[type=checkbox]:checked + label::before,
.checkbox-warning input[type=checkbox]:indeterminate + label::before {
  border-color: #f0ad4e;
  background-color: #f0ad4e; }

.checkbox-success input[type=checkbox]:checked + label::before,
.checkbox-success input[type=checkbox]:indeterminate + label::before {
  border-color: #5cb85c;
  background-color: #5cb85c; }

.checkbox-danger input[type=checkbox]:indeterminate + label::after,
.checkbox-info input[type=checkbox]:indeterminate + label::after,
.checkbox-primary input[type=checkbox]:indeterminate + label::after,
.checkbox-success input[type=checkbox]:indeterminate + label::after,
.checkbox-warning input[type=checkbox]:indeterminate + label::after {
  background-color: #fff; }

.note-editable {
  background-color: #fff;
  color: #000; }

.note-editor.note-frame .note-editing-area .note-editable[contenteditable=false] {
  background-color: #fff; }

.note-editor .note-editing-area .note-editable h1 {
  position: relative;
  border: 1px dotted #f00;
  background-color: rgba(255, 0, 0, .03);
  padding: 7px 4px 4px !important; }

.note-editor .note-editing-area .note-editable h1:before {
  position: absolute;
  top: 0;
  left: 5px;
  color: #000;
  font-family: sans-serif;
  font-size: 10px;
  content:'H1 Headings are auto-generated and are not needed in this editing area!'; }

.disable-block h1 {
  position: relative;
  border: 0 !important;
  background-color: transparent !important;
  padding: inherit !important; }

.note-editor h1:before {
  display: none }

.note-editor .note-editing-area .note-editable.note-show-block div,
.note-editor .note-editing-area .note-editable.note-show-block h2,
.note-editor .note-editing-area .note-editable.note-show-block h3,
.note-editor .note-editing-area .note-editable.note-show-block h4,
.note-editor .note-editing-area .note-editable.note-show-block h5,
.note-editor .note-editing-area .note-editable.note-show-block h6,
.note-editor .note-editing-area .note-editable.note-show-block li,
.note-editor .note-editing-area .note-editable.note-show-block ol,
.note-editor .note-editing-area .note-editable.note-show-block p,
.note-editor .note-editing-area .note-editable.note-show-block pre,
.note-editor .note-editing-area .note-editable.note-show-block ul,
.note-editor .note-editing-area .note-editable.note-show-block figure,
.note-editor .note-editing-area .note-editable.note-show-block figcaption {
  position: relative;
  border: 1px dashed #3f9dff !important;
  padding: 7px 4px 4px !important; }

.note-editor .note-editing-area .note-editable.note-show-block ol,
.note-editor .note-editing-area .note-editable.note-show-block ul {
  border: 1px dashed #d539ff !important; }

.note-editor .note-editing-area .note-editable.note-show-block pre {
  border: 1px dashed #27c022 !important; }

.note-editor .note-editing-area .note-editable.note-show-block div:before,
.note-editor .note-editing-area .note-editable.note-show-block h2:before,
.note-editor .note-editing-area .note-editable.note-show-block h3:before,
.note-editor .note-editing-area .note-editable.note-show-block h4:before,
.note-editor .note-editing-area .note-editable.note-show-block h5:before,
.note-editor .note-editing-area .note-editable.note-show-block h6:before,
.note-editor .note-editing-area .note-editable.note-show-block li:before,
.note-editor .note-editing-area .note-editable.note-show-block ol:before,
.note-editor .note-editing-area .note-editable.note-show-block p:before,
.note-editor .note-editing-area .note-editable.note-show-block pre:before,
.note-editor .note-editing-area .note-editable.note-show-block ul:before,
.note-editor .note-editing-area .note-editable.note-show-block figure:before,
.note-editor .note-editing-area .note-editable.note-show-block figcaption:before {
  position: absolute;
  top: 0;
  left: 5px;
  color: #000;
  font-family: sans-serif;
  font-size: 10px; }

.note-editor .note-editing-area .note-editable.note-show-block ul:before {
  content: 'UL'; }

.note-editor .note-editing-area .note-editable.note-show-block ol:before {
  content: 'OL'; }

.note-editor .note-editing-area .note-editable.note-show-block pre:before {
  content: 'PRE'; }

.note-editor .note-editing-area .note-editable.note-show-block div:before {
  content: 'DIV'; }

.note-editor .note-editing-area .note-editable.note-show-block h2:before {
  content: 'H2'; }

.note-editor .note-editing-area .note-editable.note-show-block h3:before {
  content: 'H3'; }

.note-editor .note-editing-area .note-editable.note-show-block h4:before {
  content: 'H4'; }

.note-editor .note-editing-area .note-editable.note-show-block h5:before {
  content: 'H5'; }

.note-editor .note-editing-area .note-editable.note-show-block h6:before {
  content: 'H6'; }

.note-editor .note-editing-area .note-editable.note-show-block li:before {
  content: 'LI'; }

.note-editor .note-editing-area .note-editable.note-show-block ol:before {
  content: 'OL'; }

.note-editor .note-editing-area .note-editable.note-show-block p:before {
  content: 'P'; }

.note-editor .note-editing-area .note-editable.note-show-block figure:before {
  content: 'FIGURE'; }

.note-editor .note-editing-area .note-editable.note-show-block figcaption:before {
  content: 'FIGCAPTION'; }

.note-editor .note-editing-area .note-editable.note-show-block a,
.note-editor .note-editing-area .note-editable.note-show-block abbr,
.note-editor .note-editing-area .note-editable.note-show-block acronym,
.note-editor .note-editing-area .note-editable.note-show-block audio,
.note-editor .note-editing-area .note-editable.note-show-block b,
.note-editor .note-editing-area .note-editable.note-show-block bdi,
.note-editor .note-editing-area .note-editable.note-show-block bdo,
.note-editor .note-editing-area .note-editable.note-show-block big,
.note-editor .note-editing-area .note-editable.note-show-block button,
.note-editor .note-editing-area .note-editable.note-show-block canvas,
.note-editor .note-editing-area .note-editable.note-show-block cite,
.note-editor .note-editing-area .note-editable.note-show-block code,
.note-editor .note-editing-area .note-editable.note-show-block del,
.note-editor .note-editing-area .note-editable.note-show-block dfn,
.note-editor .note-editing-area .note-editable.note-show-block em,
.note-editor .note-editing-area .note-editable.note-show-block embed,
.note-editor .note-editing-area .note-editable.note-show-block i,
.note-editor .note-editing-area .note-editable.note-show-block iframe,
.note-editor .note-editing-area .note-editable.note-show-block img,
.note-editor .note-editing-area .note-editable.note-show-block ins,
.note-editor .note-editing-area .note-editable.note-show-block kbd,
.note-editor .note-editing-area .note-editable.note-show-block map,
.note-editor .note-editing-area .note-editable.note-show-block mark,
.note-editor .note-editing-area .note-editable.note-show-block object,
.note-editor .note-editing-area .note-editable.note-show-block picture,
.note-editor .note-editing-area .note-editable.note-show-block q,
.note-editor .note-editing-area .note-editable.note-show-block s,
.note-editor .note-editing-area .note-editable.note-show-block samp,
.note-editor .note-editing-area .note-editable.note-show-block slot,
.note-editor .note-editing-area .note-editable.note-show-block small,
.note-editor .note-editing-area .note-editable.note-show-block span,
.note-editor .note-editing-area .note-editable.note-show-block strong,
.note-editor .note-editing-area .note-editable.note-show-block sub,
.note-editor .note-editing-area .note-editable.note-show-block sup,
.note-editor .note-editing-area .note-editable.note-show-block svg,
.note-editor .note-editing-area .note-editable.note-show-block time,
.note-editor .note-editing-area .note-editable.note-show-block u,
.note-editor .note-editing-area .note-editable.note-show-block tt,
.note-editor .note-editing-area .note-editable.note-show-block video,
.note-editor .note-editing-area .note-editable.note-show-block wbr {
  position: relative;
  border: 1px dashed #27c022 !important;
  padding: 7px 4px 4px !important; }

.note-editor .note-editing-area .note-editable.note-show-block a:before,
.note-editor .note-editing-area .note-editable.note-show-block abbr:before,
.note-editor .note-editing-area .note-editable.note-show-block acronym:before,
.note-editor .note-editing-area .note-editable.note-show-block audio:before,
.note-editor .note-editing-area .note-editable.note-show-block b:before,
.note-editor .note-editing-area .note-editable.note-show-block bdi:before,
.note-editor .note-editing-area .note-editable.note-show-block bdo:before,
.note-editor .note-editing-area .note-editable.note-show-block big:before,
.note-editor .note-editing-area .note-editable.note-show-block button:before,
.note-editor .note-editing-area .note-editable.note-show-block canvas:before,
.note-editor .note-editing-area .note-editable.note-show-block cite:before,
.note-editor .note-editing-area .note-editable.note-show-block code:before,
.note-editor .note-editing-area .note-editable.note-show-block del:before,
.note-editor .note-editing-area .note-editable.note-show-block dfn:before,
.note-editor .note-editing-area .note-editable.note-show-block em:before,
.note-editor .note-editing-area .note-editable.note-show-block embed:before,
.note-editor .note-editing-area .note-editable.note-show-block i:before,
.note-editor .note-editing-area .note-editable.note-show-block iframe:before,
.note-editor .note-editing-area .note-editable.note-show-block img:before,
.note-editor .note-editing-area .note-editable.note-show-block ins:before,
.note-editor .note-editing-area .note-editable.note-show-block kbd:before,
.note-editor .note-editing-area .note-editable.note-show-block map:before,
.note-editor .note-editing-area .note-editable.note-show-block mark:before,
.note-editor .note-editing-area .note-editable.note-show-block object:before,
.note-editor .note-editing-area .note-editable.note-show-block picture:before,
.note-editor .note-editing-area .note-editable.note-show-block q:before,
.note-editor .note-editing-area .note-editable.note-show-block s:before,
.note-editor .note-editing-area .note-editable.note-show-block samp:before,
.note-editor .note-editing-area .note-editable.note-show-block slot:before,
.note-editor .note-editing-area .note-editable.note-show-block small:before,
.note-editor .note-editing-area .note-editable.note-show-block span:before,
.note-editor .note-editing-area .note-editable.note-show-block strong:before,
.note-editor .note-editing-area .note-editable.note-show-block sub:before,
.note-editor .note-editing-area .note-editable.note-show-block sup:before,
.note-editor .note-editing-area .note-editable.note-show-block svg:before,
.note-editor .note-editing-area .note-editable.note-show-block time:before,
.note-editor .note-editing-area .note-editable.note-show-block u:before,
.note-editor .note-editing-area .note-editable.note-show-block tt:before,
.note-editor .note-editing-area .note-editable.note-show-block video:before,
.note-editor .note-editing-area .note-editable.note-show-block wbr:before {
  position: absolute;
  top: 0;
  left: 5px;
  color: #000;
  font-family: sans-serif;
  font-size: 10px; }

.note-editor .note-editing-area .note-editable.note-show-block a:before {
  content: 'A'; }

.note-editor .note-editing-area .note-editable.note-show-block abbr:before {
  content: 'ABBR'; }

.note-editor .note-editing-area .note-editable.note-show-block acronym:before {
  content: 'ACRONYM'; }

.note-editor .note-editing-area .note-editable.note-show-block audio:before {
  content: 'AUDIO'; }

.note-editor .note-editing-area .note-editable.note-show-block b:before {
  content: 'B'; }

.note-editor .note-editing-area .note-editable.note-show-block bdi:before {
  content: 'BDI'; }

.note-editor .note-editing-area .note-editable.note-show-block bdo:before {
  content: 'BDO'; }

.note-editor .note-editing-area .note-editable.note-show-block big:before {
  content: 'BIG'; }

.note-editor .note-editing-area .note-editable.note-show-block button:before {
  content: 'BUTTON'; }

.note-editor .note-editing-area .note-editable.note-show-block canvas:before {
  content: 'CANVAS'; }

.note-editor .note-editing-area .note-editable.note-show-block cite:before {
  content: 'CITE'; }

.note-editor .note-editing-area .note-editable.note-show-block code:before {
  content: 'CODE'; }

.note-editor .note-editing-area .note-editable.note-show-block del:before {
  content: 'DEL'; }

.note-editor .note-editing-area .note-editable.note-show-block dfn:before {
  content: 'DFN'; }

.note-editor .note-editing-area .note-editable.note-show-block em:before {
  content: 'EM'; }

.note-editor .note-editing-area .note-editable.note-show-block embed:before {
  content: 'EMBED'; }

.note-editor .note-editing-area .note-editable.note-show-block i:before {
  content: 'I'; }

.note-editor .note-editing-area .note-editable.note-show-block iframe:before {
  content: 'IFRAME'; }

.note-editor .note-editing-area .note-editable.note-show-block img:before {
  content: 'IMG'; }

.note-editor .note-editing-area .note-editable.note-show-block ins:before {
  content: 'INS'; }

.note-editor .note-editing-area .note-editable.note-show-block kbd:before {
  content: 'KBD'; }

.note-editor .note-editing-area .note-editable.note-show-block map:before {
  content: 'MAP'; }

.note-editor .note-editing-area .note-editable.note-show-block mark:before {
  content: 'MARK'; }

.note-editor .note-editing-area .note-editable.note-show-block object:before {
  content: 'OBJECT'; }

.note-editor .note-editing-area .note-editable.note-show-block picture:before {
  content: 'PICTURE'; }

.note-editor .note-editing-area .note-editable.note-show-block q:before {
  content: 'Q'; }

.note-editor .note-editing-area .note-editable.note-show-block s:before {
  content: 'S'; }

.note-editor .note-editing-area .note-editable.note-show-block samp:before {
  content: 'SAMP'; }

.note-editor .note-editing-area .note-editable.note-show-block slot:before {
  content: 'SLOT'; }

.note-editor .note-editing-area .note-editable.note-show-block small:before {
  content: 'SMALL'; }

.note-editor .note-editing-area .note-editable.note-show-block span:before {
  content: 'SPAN'; }

.note-editor .note-editing-area .note-editable.note-show-block strong:before {
  content: 'STRONG'; }

.note-editor .note-editing-area .note-editable.note-show-block sub:before {
  content: 'SUB'; }

.note-editor .note-editing-area .note-editable.note-show-block sup:before {
  content: 'SUP'; }

.note-editor .note-editing-area .note-editable.note-show-block svg:before {
  content: 'SVG'; }

.note-editor .note-editing-area .note-editable.note-show-block time:before {
  content: 'TIME'; }

.note-editor .note-editing-area .note-editable.note-show-block u:before {
  content: 'U'; }

.note-editor .note-editing-area .note-editable.note-show-block tt:before {
  content: 'TT'; }

.note-editor .note-editing-area .note-editable.note-show-block video:before {
  content: 'VIDEO'; }

.note-editor .note-editing-area .note-editable.note-show-block wbr:before {
  content: 'WBR'; }

[aria-label^="Error:"]:before {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #f00;
  background-color: #000 !important;
  padding: 2px;
  color: #f00 !important;
  font-size: 10px;
  content: attr(aria-label); }

[placeholder^="Error:"]::-webkit-input-placeholder {
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #f00 !important;
  background-color: #000 !important;
  padding: 3px 5px;
  color: #f00 !important; }

[placeholder^="Error:"]::-moz-placeholder {
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #f00 !important;
  background-color: #000 !important;
  padding: 3px 5px;
  color: #f00 !important; }

[placeholder^="Error:"]:-moz-placeholder {
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #f00 !important;
  background-color: #000 !important;
  padding: 3px 5px;
  color: #f00 !important; }

[placeholder^="Error:"]:-ms-input-placeholder {
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #f00 !important;
  background-color: #000 !important;
  padding: 3px 5px;
  color: #f00 !important; }

#attachments .card {
  position: relative;
  float: left; }

#attachments .card .attbuttons {
  position: absolute;
  top: 0;
  right: 0; }

#attachments .card .card-img-top {
  min-height: 64px !important;
  max-height: 64px !important; }

.rat {
  display: inline-block; }

.rat span,
.rat span.set {
  display: inline-block;
  background: url(../images/star-off.svg);
  background-size: contain;
  width: 1em;
  height: 1em; }

.rat span.set {
  background: url(../images/star-on.svg); }

#searchbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999999;
  background: rgba(0, 0, 0, .9); }

#searchbox .searchclose {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 3em; }

#searchbox .searchclose a {
  color: #888; }

#searchbox .searchclose a:hover {
  color: #ccc;
  text-decoration: none; }

.chat .chatList {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.chat .chatBody {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

#chatScreen {
  position: relative;
  height: auto;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  overflow-x: hidden;
  overflow-y: scroll; }

#chatScreen:empty:after {
  position: absolute;
  top: 100px;
  width: 100%;
  color: #888;
  font-family: Arial;
  font-size: 30px;
  text-align: center;
  content: attr(data-empty); }

#chatScreen::-webkit-scrollbar {
  background: transparent;
  width: 8px; }

#chatScreen::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .3); }

#chatScreen ul li {
  display: inline-block;
  float: left;
  clear: both;
  margin: 10px 10px 5px 0;
  width: calc(100% - 25px);
  font-size: .9em; }

#chatScreen ul li:nth-last-child(1) {
  margin-bottom: 5px; }

#chatScreen ul li.page img {
  margin: 6px 8px 0 0; }

#chatScreen ul li.page p {
  background: #c8ced3;
  color: #000; }

#chatScreen ul li.admin img {
  float: right;
  margin: 6px 0 0 8px; }

#chatScreen ul li.admin p {
  float: right;
  background: #e4e7ea;
  color: #000; }

#chatScreen ul li img {
  float: left;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  width: 32px; }

#chatScreen ul li p {
  display: inline-block;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  padding: 10px 15px;
  max-width: 80%;
  line-height: 130%; }

body.development {
  margin-top: 48px !important; }

div.development {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2000;
  background-color: #2f353a !important;
  background-image: linear-gradient(45deg, #000 25%,
                                    rgba(255, 255, 0, .15) 25%,
                                    rgba(255, 255, 0, .15) 50%,
                                    #000 50%,
                                    #000 75%,
                                    rgba(255, 255, 0, .15) 75%,
                                    rgba(255, 255, 0, .15) 100%);
  background-size: 56.57px 56.57px;
  height: 48px; }

div.developmentbottom {
  position: fixed;
  top: 24px;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 2000;
  padding: 2px 5px;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  text-align: right; }

body.development:after {
  position: fixed;
  top: 2px;
  left: 2px;
  z-index: 9999;
  padding: 2px 5px;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  content: 'Breakpoint Width > ALL (max-width:575.98px)'; }

body.development:before {
  position: fixed;
  top: 2px;
  right: 2px;
  z-index: 9999;
  padding: 2px 5px;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  content: 'Current Size: ' attr(data-width) 'px X ' attr(data-height) 'px'; }

@media (max-width: 361px) {
  body.development {
    margin-top: 72px !important; }

  body.development:before {
    top: 24px; }

  div.developmentbottom {
    top: 42px; }

  div.development {
    height: 76px !important; }
}

@media (max-width: 575.98px) {
  body.development:after {
    content:'Breakpoint Width > ALL (max-width:575.98px)'; }
}

@media (min-width: 576px) {
  body.development:after {
    content: 'Breakpoint Width > SM (min-width:576px)'; }
}

@media (min-width: 768px) {
  body.development:after {
    content: 'Breakpoint Width > MD (min-width:768px)'; }
}

@media (min-width: 992px) {
  body.development:after {
    content: 'Breakpoint Width > LG (min-width:992px)'; }
}

@media (min-width: 1200px) {
  body.development:after {
    content: 'Breakpoint Width > XL (min-width:1200px)'; }
}

input[type="checkbox"].striker:checked + label.form-check-label {
  -webkit-text-decoration: #0f0 line-through wavy !important;
          text-decoration: #0f0 line-through wavy !important; }
