@charset "UTF-8";
@import url('stylesheet-vars.css');
@import url('stylesheet-base.css');
@import url('stylesheet-typography.css');
@import url('stylesheet-helpers.css');
@import url('stylesheet-grid.css');
@import url('stylesheet-forms.css');
@import url('stylesheet-xtras-admin.css');
@import url('stylesheet-icons-admin.css');
@import url('../js/summernote/summernote.min.css');
@import url('../js/fancybox/fancybox.css');
@import url('../js/fullcalendar/fullcalendar.min.css');
@import url('stylesheet-aurora.css');
@import url('stylesheet-print.css');

body{
  background-attachment:fixed }

body.dev:after{
  content:attr(data-width);
  z-index:1000;
  position:fixed;
  top:-1px;
  left:8px;
  font-size:11px;
  color:#fff;
  background-color:#000;
  padding:2px 10px;
  border-radius:0 0 5px 5px }

header.aurora{
  background-color:var(--header-background-color)!important;
  background-image:none!important;
  color:var(--header-color);
  border-radius:4px;
  font-size:13px;
  width:initial;
  height:48px;
  position:relative;
  z-index:1000 }

.plane{
  width:50vw;
  height:50vh;
  transform-style:preserve-3d }

.plane.main{
  z-index:2000!important;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
  transform:rotateX(60deg) rotateZ(-30deg);
  animation:rotate 20s infinite linear }

.plane.main .circle{
  width:120px;
  height:120px;
  position:absolute;
  transform-style:preserve-3d;
  border-radius:100%;
  box-sizing:border-box;
  box-shadow:0 0 60px crimson,inset 0 0 60px crimson }

.plane.main .circle::before,
.plane.main .circle::after{
  content:"";
  display:block;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
  width:10%;
  height:10%;
  border-radius:100%;
  background:crimson;
  box-sizing:border-box;
  box-shadow:0 0 60px 2px crimson }

.plane.main .circle::before{
  transform:translateZ(-90px) }

.plane.main .circle::after{
  transform:translateZ(90px) }

.plane.main .circle:nth-child(1){
  transform:rotateZ(72deg) rotateX(63.435deg) }

.plane.main .circle:nth-child(2){
  transform:rotateZ(144deg) rotateX(63.435deg) }

.plane.main .circle:nth-child(3){
  transform:rotateZ(216deg) rotateX(63.435deg) }

.plane.main .circle:nth-child(4){
  transform:rotateZ(288deg) rotateX(63.435deg) }

.plane.main .circle:nth-child(5){
  transform:rotateZ(360deg) rotateX(63.435deg) }

@keyframes rotate{
  0%{
    transform:rotateX(0) rotateY(0) rotateZ(0) }
  100%{
    transform:rotateX(360deg) rotateY(360deg) rotateZ(360deg) }
}

.highlighterror{
  position:relative!important;
  overflow:visible }

.highlighterror:after{
  content:'';
  position:absolute!important;
  width:140%;
  height:150%;
  top:-8px!important;
  right:0!important;
  bottom:0!important;
  left:-11px!important;
  background-color:transparent;
  background-image:url(../images/highlighterror.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size:100% 100% }

.labeldate{
  font-weight:400;
  font-size:80%;
  color:#888 }

.permalink{
  position:absolute;
  color:#ccc;
  font-size:12px;
  top:2px;
  left:-22px;
  width:20px;
  height:20px }

.permalink:hover{
  color:#000;
  text-decoration:none }

.tagline{
  text-align:center;
  color:#fff;
  font-size:.6em }

@media (max-width:361px){
  .tagline{
    font-size:.45em }
}

.login-bg{
  margin:0;
  padding:0;
  height:100vh!important;
  color:#fff;
  background-color:#000;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  background-image:url(../images/login/bg.avif);
  transition: background 1.2s linear }

.loginattribution{
  position:absolute;
  display:block;
  width:auto;
  right:10px;
  bottom:10px;
  background-color:rgba(0,0,0,.5);
  color:#aaa!important;
  border-radius:4px;
  box-shadow:0 4px 8px #000;
  overflow:hidden;
  font-size:13px;
  padding:6px 10px;
  opacity:1;
  transition:opacity 2s linear }

.loginattribution a{
  color:#aaa!important;
  cursor:pointer;
  text-decoration:underline;
  transition:color .3s ease-in-out }

.loginattribution a:hover{
  color:#fff!important;
  text-decoration:underline }

.loginattribution:empty{
  opacity:0 }

.bg-login{
  background-color:rgba(40,40,40,.75);
  box-shadow:0 22px 70px 4px rgba(0,0,0,.76) }

.bg-login a{
  color:#ddd }

.bg-login a:hover{
  color:#fff }

.theme,
.certificate{
  border-width:2px!important }

.theme .image-toolbar{
  top:-2px!important;
  right:-2px!important }

.theme-chooser .enable{
  display:none;
  color:#fff }

.theme-selected,
.certificate-selected,
.area-selected,
.livestock-selected,
.crop-selected{
  transition:transform .3s!important;
  box-shadow:0 .3px .4px rgba(0,0,0,.025),0 .9px 1.5px rgba(0,0,0,.05),0 3.5px 6px rgba(0,0,0,.1),0 0 0 2px var(--success-border-color)!important }

.theme-selected .enable{
  display:block!important;
  position:absolute;
  top:0;
  right:0;
  transform:translate(1px,-1px);
  background-color:var(--success-border-color);
  width:100px;
  height:100px;
  -webkit-clip-path:polygon(15% 0,100% 0,100% 85%);
  clip-path:polygon(15% 0,100% 0,100% 85%);
  pointer-events:none;
  opacity:1}

.theme-selected .icon .enable{
  display:inline-block!important }

.theme .icon .enable{
  display:none!important;
  color:inherit;
  fill:#fff!important;
  line-height:1;
  flex-shrink:0;
  max-width:initial;
  opacity:0 }

.theme .card-image{
  overflow:visible!important;
  height:auto!important }

.certificate .card-image{
  overflow:visible!important;
  height:auto!important }

.theme .card-image img{
  height:100%;
  -o-object-position:top!important;
     object-position:top!important }

.certificate .card-image img{
  height:100%;
  -o-object-position:top!important;
     object-position:top!important;
  margin-bottom:0!important }

.theme-editor{
  position:absolute;
  display:none;
  top:auto;
  right:0;
  bottom:0;
  left:0;
  height:0;
  background-color:rgba(0,0,0,.75);
  padding:20px }

.theme-editor.enabled{
  display:block;
  height:auto }

.theme-extra-info{
  position:absolute;
  right:5px;
  bottom:5px }

.vert-shadow{
  height:100vh;
  box-shadow:10px 0 20px rgba(92,92,92,.35) }

header{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:330px;
  color:var(--header-logo-color)!important }

header .i{
  color:var(--header-logo-color)!important }

.brand{
  width:150px;
  overflow:hidden }

.brand svg{
  fill:#fff;
  width:150px;
}

.nav-toggle .line{
  background-color:var(--nav-toggle-color);
  height:2px;
  margin-bottom:4px;
  display:block;
  transition:.3s ease-in }

.nav-toggle .line.line-1,
.nav-toggle .line.line-3{
  width:11px;
  margin-left:7px }

.nav-toggle .line.line-2{
  width:18px }

.nav-toggle:hover .line.line-1,
.nav-toggle:hover .line.line-3{
  width:18px;
  margin-left:0 }

header nav{
  height:48px }

header nav ul.nav-left{
  margin-top:15px }

header nav ul.ml-auto{
  margin-left:auto!important;
  margin-right:5px }

header nav ul li{
  margin:0!important }

header nav ul li ul li a{
  width:100%;
  background-color:var(--menu-dropdown-background-color)!important;
  color:var(--menu-dropdown-color)!important }

header nav ul li ul li a:hover{
  background-color:var(--menu-dropdown-background-color-hover)!important;
  color:var(--menu-dropdown-color-hover)!important;
  text-decoration:none!important }

header nav ul li ul{
  border:0!important;
  box-shadow:var(--menu-dropdown-shadow)!important }

header nav ul li ul li{
  min-width:auto;
  max-width:auto }

#notifications ul li{
  width:auto;
  height:auto;
  line-height:1em }

#notifications ul li ul,
#notifications input[type=checkbox]{
  display:none }

#notifications input:checked~#nav-stat-list{
  display:block;
  animation:swing-in-top-fwd .5s cubic-bezier(.175,.885,.320,1.275) both }

.swing-in-top-fwd{
  animation:swing-in-top-fwd .5s cubic-bezier(.175,.885,.320,1.275) both }

@keyframes swing-in-top-fwd{
  0%{
    transform:rotateX(-100deg);
    transform-origin:top;
    opacity:0 }
  100%{
    transform:rotateX(0);
    transform-origin:top;
    opacity:1 }
}

.zoom-in{
  animation:zoom-in .5s cubic-bezier(.250,.460,.450,.940) both }

@keyframes zoom-in{
  0%{
    transform:scale(0);
    opacity:1 }
  100%{
    transform:scale(1);
    opacity:1 }
}

.zoom-out{
  animation:zoom-out .5s cubic-bezier(.550,.085,.680,.530) both }

@keyframes zoom-out{
  0%{
    transform:scale(1);
    opacity:1 }
  100%{
    transform:scale(0);
    opacity:1 }
}

#notifications ul li ul{
  background-color:var(--menu-dropdown-background-color)!important;
  border-bottom:1px solid var(--menu-dropdown-border-color)!important;
  top:45px!important;
  left:-21px!important;
  right:auto!important;
  color:var(--menu-color)!important;
  width:240px!important;
  margin:0!important;
  padding:0!important }

#notifications ul li ul li{
  margin:0!important;
  padding:0!important }

#notifications ul li ul li:focus,
#notifications ul li ul li:hover{
  color:var(--menu-dropdown-color-hover)!important;
  background-color:var(--menu-dropdown-background-color-hover)!important }

#notifications ul li ul li a{
  color:var(--menu-dropdown-color)!important;
  margin:0!important;
  padding:0 1rem!important;
  line-height:1.75!important }

#notifications ul li ul li a .badger{
  margin-right:10px!important }

#notifications ul li ul li a:hover{
  color:var(--menu-dropdown-color-hover)!important;
  text-decoration:none!important }

#nav-stat-list .dropdown-heading,
#nav-account-list .dropdown-heading{
  background-color:var(--menu-dropdown-background-color)!important;
  font-size:1.2rem!important;
  font-weight:900!important;
  color:var(--menu-dropdown-header-color)!important;
  width:240px!important;
  text-align:center!important;
  border-bottom:1px solid var(--menu-dropdown-border-color) }

#nav-stat-list li{
  display:block!important;
  position:relative!important;
  width:240px!important;
  text-align:left!important;
  margin:0!important }

#nav-stat-list li span.badger{
  margin-left:5px }

#nav-stat-list li a{
  display:inline-block!important;
  line-height:1.75!important }

#google-title{
  position:relative }

#google-title,
#google-title a,
#google-title a:hover{
  color:var(--search-item-link-color)!important;
  font-family:"Arial";
  font-size:18px }

#google-title a:hover{
  color:var(--search-item-link-color-hover)!important;
  text-decoration:underline }

#google-title.contentType:before{
  position:absolute;
  top:0;
  right:auto;
  bottom:auto;
  left:-95px;
  width:90px;
  color:#ccc;
  font-size:10px;
  text-align:right;
  content:attr(data-contentType) }

#google-link{
  color:var(--search-item-url)!important;
  font-family:"Arial";
  font-size:14px }

#google-description{
  color:var(--search-item-info)!important;
  font-family:"Arial";
  font-size:13px }

.fc-event{
  color:#000!important }

.events-layer{
  z-index:100;
  position:relative;
  font-size:1em;
  top:-1px;
  right:-1px;
  width:100%;
  height:auto }

[data-contentType]:before{
  content:attr(data-contentType);
  position:absolute;
  top:-5px;
  left:0;
  color:#000;
  font-size:.5em;
  font-weight:700 }

.events-layer:hover .events-buttons{
  display:block }

.events-buttons{
  display:none;
  z-index:100;
  position:absolute;
  top:0;
  right:0 }

.events-buttons .btn{
  padding:.15rem .25rem;
  line-height:1em }

.eventEnd{
  background-color:#f28888 }

.eventEndConfirmed{
  background-color:#88f288 }

[data-rank]:before{
  z-index:1;
  position:absolute;
  top:-5px;
  right:0;
  left:0;
  margin-top:-10px;
  width:68px;
  font-size:9px;
  color:#000;
  text-align:center;
  content:'Visitor' }

[data-rank="0"]:before{
  content:'Visitor' }

[data-rank="100"]:before{
  content:'Subscriber' }

[data-rank="200"]:before{
  content:'Member' }

[data-rank="300"]:before{
  content:'Client' }

[data-rank="400"]:before{
  content:'Contributor' }

[data-rank="500"]:before{
  content:'Author' }

[data-rank="600"]:before{
  content:'Editor' }

[data-rank="700"]:before{
  content:'Moderator' }

[data-rank="800"]:before{
  content:'Manager' }

[data-rank="900"]:before{
  content:'Administrator' }

[data-rank="1000"]:before{
  content:'Developer' }

.list .quickedit{
  width:100%!important;
  margin:0 15px!important;
  padding: 3px !important;
  border:1px solid var(--border-color)!important;
  border-top:0!important }

.quickedit *,
.quickedit .input-text{
  font-size:.95em!important }

.quickedit label{
  margin:0!important }

.quickedit input,
.quickedit .input-text,
.quickedit select{
  padding:2px 3px 2px 3px!important }

.quickedit .input-text,
.quickedit [readonly]{
  border:0!important }

.quickedit [role=button],
.quickedit .btn,
.quickedit button{
  padding:6px 8px 3px 6px!important }

td img.avatar{
  max-width:32px;
  height:32px;
  border-radius:0 }

.img-avatar{
  width:28px;
  height:28px;
  border-radius:50% }

.nav-header .img-avatar{
  width:42px;
  height:42px;
  border-radius:50% }

.img-avatar+span{
  height:28px;
  vertical-align:middle }

#sidebar{
  position:absolute;
  top:60px;
  left:0;
  width:260px;
  margin:8px!important;
  background-color:var(--sidebar-background-color)!important }

#sidebar nav ul li{
  display:inline-block;
  color:var(--sidebar-color)!important;
  list-style:none;
  margin:0 }

#sidebar nav a{
  display:inline-block;
  width:260px;
  background-color:transparent!important;
  color:var(--sidebar-color)!important;
  font-weight:400;
  font-size:19px;
  padding:4px 10px;
  display:flex;
  white-space:nowrap;
  align-items:center;
  line-height:1;
  opacity:.7;
  margin-left:0;
  margin-right:0 }

#sidebar nav a:hover,
#sidebar nav a:focus{
  color:var(--sidebar-color-hover)!important }

#sidebar nav ul li.active{
  color:var(--sidebar-color-active)!important;
  opacity:1 }

#sidebar nav ul li.active a{
  width:260px;
  color:var(--sidebar-color-active)!important;
  border-left:2px solid var(--sidebar-color-active) }

#sidebar nav .active a{
  width:260px;
  color:var(--sidebar-color)!important }

#sidebar nav .active a i{
  transform:rotate(15deg) }

#sidebar nav a i{
  line-height:1.5;
  transition-duration:.5s;
  transition-property:transform }

#sidebar nav a:hover{
  color:var(--sidebar-color-hover)!important;
  text-decoration:none }

#sidebar nav a:hover i{
  transform:rotate(-15deg) }

#sidebar .arrow{
  position:absolute;
  top:13px;
  right:12px;
  color:var(--sidebar-color)!important;
  transform:rotate(90deg) }

#sidebar .arrow.open{
  transform:rotate(180deg) }

#sidebar nav ul li ul{
  display:none;
  top:0!important;
  padding-left:0!important;
  position:relative;
  width:260px;
  height:auto }

#sidebar nav ul li.open ul{
  width:260px;
  z-index:0;
  display:inline-grid;
  background-color:var(--sidebar-open)!important;
  border:0;
  box-shadow:none}

#content{
  margin:0 0 0 0;
  background-color:var(--body-background-color)!important;
  overflow:visible!important }

#content.navsmall{
  margin-left:210px }

@media (max-width:360px){
  #content.navsmall,
  #sidebar{
    display:none }

  #sidebar.navsmall{
    display:block;
    width:342px }

  #sidebar.navsmall .arrow{
    top:13px;
    right:-70px }

  #sidebar.navsmall nav ul li.open ul{
    width:340px }
}
@media (min-width:768px){
  #content{
    display:block;
    margin:0 0 0 275px;
    border-top-left-radius:.5rem;
    border-top-right-radius:.5rem;
    overflow:visible!important }

  #sidebar{
    margin-left:50px }

  #sidebar.navsmall nav a{
    width:50px }

  #sidebar.navsmall nav a span{
    display:none }

  #sidebar nav .active a{
    width:50px }

  #sidebar.navsmall nav ul li.active a{
    width:50px }

  #content.navsmall{
    margin-left:70px;
    margin-right:0 }

  #sidebar.navsmall{
    width:50px }

  #sidebar.navsmall .arrow{
    top:13px;
    right:3px }

  #sidebar.navsmall nav ul li.open ul{
    width:50px }
}

#sidebar nav ul li:hover[data-tooltip]::before,
#sidebar nav ul li:hover[data-tooltip]::after{
  display:none!important;
  visibility:none!important }

#sidebar.navsmall nav ul li:hover[data-tooltip]::before,
#sidebar.navsmall nav ul li:hover[data-tooltip]::after{
  display:inline-block!important;
  visibility:visible!important }

#sidebar nav ul li.open[data-tooltip]::before,
#sidebar nav ul li.open[data-tooltip]::after,
#sidebar.navsmall nav ul li.open[data-tooltip]::before,
#sidebar.navsmall nav ul li.open[data-tooltip]::after{
  display:none!important;
  visibility:none!important }

.messages-menu{
  background-color: var(--sidebar-background-color) }

.messages-menu nav ul{
  position:relative;
  width:100% }

.messages-menu nav ul .badge{
  position:absolute;
  top:16px;
  right:0 }

.messages-menu nav li{
  display:block;
  margin:0;
  padding:10px 0;
  font-weight:400 }

.messages-menu nav li{
  width:100% }

.messages-menu nav li a{
  display:block;
  width:100% }

.messages-menu nav li a.active{
  color:var(--link-active);
  font-weight:700 }

.messages-important + label{
  color:var(--link-active)!important;
  opacity:.1 }

.messages-important:checked + label{
  color:var(--link-active)!important;
  opacity:1}

@keyframes swing-in-top-fwd{
  0%{
    transform:rotateX(-100deg);
    transform-origin:top;
    opacity:0 }
  100%{
    transform:rotateX(0);
    transform-origin:top;
    opacity:1 }
}

#messagesview .unread a{
  font-weight:700!important;
  color: var(--link-active)!important }

.card{
  overflow:none!important }

.card-actions{
  margin-left:auto }

.card .card-image{
  display:block;
  height:12rem;
  overflow:hidden }

.card .card-image img{
  -o-object-fit:cover;
     object-fit:cover;
  -o-object-position:center;
     object-position:center }

.card-actions{
  text-align:center;
  margin:.5rem 0 }

.card.stats{
  color:var(--color) }

.card.stats:hover{
  color:var(--color) }

.card.stats:hover{
  text-decoration:none }

.card.stats.danger{
  background-color:var(--alert-danger-background-color)!important;
  border-color:var(--alert-danger-border-color)!important;
  color:var(--alert-danger-color)!important }

.card.stats.danger .icon{
  color:var(--alert-danger-color)!important }

.card.stats.warning{
  background-color:var(--alert-warning-background-color)!important;
  border-color:var(--alert-warning-border-color)!important;
  color:var(--alert-warning-color)!important }

.card.stats.warning .icon{
  color:var(--alert-warning-color)!important }

.card.stats .icon{
  position:absolute;
  right:0;
  bottom:0;
  color:var(--color-muted);
  opacity:.2!important }

.card.gallery{
  position:relative;
  height:150px;
  overflow:hidden;
  border-radius:0 }

.card.gallery img{
  width:100%;
  width:-webkit-fill-available;
  height:150px;
  -o-object-fit:cover;
     object-fit:cover;
  -o-object-position:center;
     object-position:center }

.card.gallery .tools{
  position:absolute;
  top:100%;
  right:0;
  left:0;
  height:auto;
  vertical-align:bottom;
  transition:transform 250ms }

.card.gallery:hover .tools{
  transform:translateY(-100%) }

.no-image{
  display:none }

.form-row{
  display:flex;
  flex:1 0 100%;
  flex-wrap:nowrap }

.row>input[type=checkbox]{
  display:flex;
  margin-right:10px;
  border-radius:var(--border-radius)!important }

.row>label,
.form-row label{
  display:content!important }

.form-row .form-text{
  display:inline-block!important;
  color:var(--color-muted)!important;
  width:100% }

.form-row .img-avatar,
.form-row img{
  display:inline-block!important;
  max-width:38px;
  height:38px }

.input-text{
  display:flex;
  align-items:center;
  padding:0 .75rem;
  margin-bottom:0;
  font-size:1rem;
  font-weight:400;
  line-height:1.5;
  color:var(--form-color);
  text-align:center;
  white-space:nowrap;
  background-color:var(--form-background-color);
  border-radius:.25rem }

div.input-text[contenteditable="true"],
div.input-text[contenteditable="false"]{
  background-color:var(--form-input-background-color);
  color:var(--form-color);
  border:var(--form-border-width) var(--form-border-style) var(--form-input-border-color);
  text-align:left;
  white-space:inherit;
  width:100%;
  outline:none }

div.input-text[contenteditable="false"]{
  background-color:var(--form-background-color-disabled);
  color:var(--form-color);
  border:var(--form-border-width-disabled) var(--form-border-style-disabled) var(--form-border-color-disabled)}

div.input-text[contenteditable="true"]:focus{
  background-color:var(--form-input-background-color-focus);
  color:var(--form-color-focus);
  border:var(--form-border-width-focus) var(--form-border-style-focus) var(--form-input-border-color-focus)}

div.input-text[contenteditable]:empty:before{
  content:attr(data-placeholder);
  color:var(--form-placeholder-color) }

.input-text input[type=checkbox],
.input-text input[type=radio]{
  margin-top:0 }

input[type=text]~button,
input[type=text]~.input-text{
  border-top-left-radius:0;
  border-bottom-left-radius:0 }

.form-row>button:not(:last-child),
.form-row>.btn:not(:last-child),
.form-row>button>button:not(:last-child),
.form-row>.btn>.btn:not(:last-child),
.form-row>input:not(:last-child),
.form-row>select:not(:last-child),
.form-row>.input-text:not(:last-child){
  border-top-right-radius:0;
  border-bottom-right-radius:0 }

.form-row>button:not(:first-child),
.form-row>.btn:not(:first-child),
.form-row>button>button:not(:first-child),
.form-row>.btn>.btn:not(:first-child),
.form-row>input:not(:first-child),
.form-row>select:not(:first-child),
.form-row>.input-text:not(:first-child){
  border-top-left-radius:0;
  border-bottom-left-radius:0 }

.btn-row>.btn,
.btn-row>button{
  display:flex;
  flex-wrap:nowrap;
  justify-content:flex-start }

.btn-group{
  position:relative;
  display:inline-flex;
  vertical-align:middle }

.btn-group>.btn{
  position:relative;
  flex:1 1 auto }

.btn-group>.btn:hover{
  z-index:1 }

.btn-group>.btn.active,
.btn-group>.btn:active,
.btn-group>.btn:focus{
  z-index:1 }

.btn-group>.btn-group:not(:first-child),
.btn-group>.btn:not(:first-child){
  margin-left:-1px }

.btn-group>.btn-group:not(:last-child)>.btn{
  border-top-right-radius:0;
  border-bottom-right-radius:0 }

.btn-group>.btn-group:not(:first-child)>.btn,
.btn-group>.btn:not(:first-child){
  border-top-left-radius:0;
  border-bottom-left-radius:0 }

.form-row>.custom-file .custom-file-input:focus ~ .custom-file-label,
.form-row>.custom-select:focus,
.form-row>.form-control:focus{
  z-index:3 }

.form-row>.custom-file .custom-file-input:focus{
  z-index:4 }

.custom-file-input{
  position:relative;
  z-index:2;
  width:100%;
  height:calc(1.5em + .75rem + 2px);
  margin:0;
  opacity:0 }

.custom-file-input:focus~.custom-file-label{
  border-color:#80bdff;
  box-shadow:0 0 0 .2rem rgba(0,123,255,.25) }

.custom-file-input:disabled~.custom-file-label{
  background-color:#e9ecef }

.custom-file-input:lang(en)~.custom-file-label::after{
  content:"Browse" }

.custom-file-input~.custom-file-label[data-browse]::after{
  content:attr(data-browse) }

.custom-file-label{
  position:absolute;
  top:0;
  right:0;
  left:0;
  z-index:1;
  height:calc(1.5em + .75rem+2px);
  padding:.375rem .75rem;
  font-weight:400;
  line-height:1.5;
  color:#495057;
  background-color:#fff;
  border:1px solid #ced4da;
  border-radius:.25rem }

.custom-file-label::after{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  z-index:3;
  display:block;
  height:calc(1.5em + .75rem);
  padding:.375rem .75rem;
  line-height:1.5;
  color:#495057;
  content:"Browse";
  background-color:#e9ecef;
  border-left:inherit;
  border-radius:0 .25rem .25rem 0 }

.tabs{
  margin-right:auto;
  width:100% }

.tabs input.tab-control+label{
  position:relative }

.tabs input.tab-control,
[role=tabpanel]{
  display:none }

.tabs #tab1-1:checked~.tab1-1,
.tabs #tab1-2:checked~.tab1-2,
.tabs #tab1-3:checked~.tab1-3,
.tabs #tab1-4:checked~.tab1-4,
.tabs #tab1-5:checked~.tab1-5,
.tabs #tab1-6:checked~.tab1-6,
.tabs #tab1-7:checked~.tab1-7,
.tabs #tab1-8:checked~.tab1-8,
.tabs #tab1-9:checked~.tab1-9,
.tabs #tab1-10:checked~.tab1-10,
.tabs #tab1-11:checked~.tab1-11,
.tabs #tab1-12:checked~.tab1-12,
.tabs #tab1-13:checked~.tab1-13,
.tabs #tab1-14:checked~.tab1-14,
.tabs #tab1-15:checked~.tab1-15,
.tabs #tab1-16:checked~.tab1-16,
.tabs #tab1-17:checked~.tab1-17,
.tabs #tab1-18:checked~.tab1-18,
.tabs #tab1-19:checked~.tab1-19,
.tabs #tab1-20:checked~.tab1-20{
  display:block }

.tabs input.tab-control+label{
  display:inline-block;
  top:1px;
  margin:0;
  font-weight:400;
  border:0;
  border-radius:var(--tab-border-radius) var(--tab-border-radius) 0 0;
  background-color:var(--tab-background-color);
  color:var(--tab-color);
  font-size:.95rem;
  padding:4px 10px }

.tabs input.tab-control+label:hover{
  cursor:pointer;
  color:var(--tab-color-hover);
  background-color:var(--tab-background-color-hover) }

.tabs input.tab-control+label button{
  margin-right:0!important;
  margin-left:10px!important;
}

.tabs input.tab-control:checked+label{
  border:var(--tab-border-width) var(--tab-border-style) var(--tab-border-color);
  border-bottom:2px var(--border-style) var(--tab-border-active-color);
  background-color:var(--tab-background-color-active);
  color:var(--tab-color-active);
  font-weight:700 }

.tabs input.tab-control+label button{
  display:none }

.tabs input.tab-control:checked+label button{
  display:inline-block }

.tabs input.tab-control:checked+label:hover{
  background-color:var(--tab-background-color-active-hover)!important }

.tabs input.tab-control~.tab{
  display:none;
  border-top:var(--border-width) var(--border-style) var(--tab-border-color);
  padding:12px;
  width:100% }

.border-radius-0{
  border-radius:0 }

.wysiwyg-toolbar{
  background-color:var(--note-toolbar-background-color);
  border:var(--note-toolbar-border-width) var(--note-toolbar-border-style) var(--note-toolbar-border-color);
  border-bottom:0;
  color:var(--note-toolbar-color);
  padding:var(--note-toolbar-padding-x) var(--note-toolbar-padding-y);
  border-radius:var(--note-toolbar-border-radius) }

.wysiwyg-toolbar .btn,
.wysiwyg-toolbar button,
.wysiwyg-toolbar [role=button]{
  background-color:var(--note-btn-background-color);
  font-weight:var(--note-btn-font-weight);
  color:var(--note-btn-color);
  border:var(--note-btn-border-width) var(--note-btn-border-style) var(--note-btn-border-color);
  border-radius:var(--note-btn-border-radius) }

.wysiwyg-toolbar .btn:hover,
.wysiwyg-toolbar button:hover,
.wysiwyg-toolbar [role=button]:hover{
  background-color:var(--note-btn-background-color-hover);color:var(--note-btn-color-hover);
  border-color var(--note-btn-border-color-hover) }

.starRating:not(old){
  display:block!important;
  vertical-align:bottom!important;
  width:12.5em!important;
  height:2.5em!important;
  overflow:hidden!important }

.starRating:not(old)>input{
  opacity:0!important;
  margin-right:-100%!important;
  background:none!important }

.starRating:not(old)>label{
  display:block!important;
  margin:0!important;
  position:relative!important;
  float:right!important }

.starRating:not(old)>label:before{
  content:'\2605'!important;
  display:block!important;
  opacity:.25!important;
  font-size:2em!important;
  -webkit-text-stroke-width:1px!important;
  -webkit-text-stroke-color:#888!important;
  color:var(--starRating-color)!important;
  transition:opacity .2s linear!important;
  width:1.25em!important;
  height:2.25em!important }

.starRating:not(old)>label:hover:before,
.starRating:not(old)>label:hover~label:before,
.starRating:not(:hover)>:checked~label:before{
  opacity:1!important }

.rating{
  display:inline-block!important }

.rating span{
  display:inline-block!important;
  width:1em!important;
  height:1em!important }

.rating span:before{
  content:'\2606'!important;
  display:block!important;
  color:#888!important }

.rating span.set{
  display:inline-block!important;
  width:1em!important;
  height:1em!important }

.rating span.set:before{
  content:'\2605'!important;
  display:block!important;
  color:var(--starRating-color)!important;
  -webkit-text-stroke-width:var(--starRating-outline-width)!important;
  -webkit-text-stroke-color:var(--starRating-outline-color)!important }

.chat .chatList{
  border-bottom:0;
  border-top-right-radius:0;
  border-bottom-right-radius:0 }

.chat .chatBody{
  border-top-left-radius:0;
  border-bottom-left-radius:0 }

#chatScreen{
  position:relative;
  height:auto;
  min-height:calc(100% - 93px);
  max-height:calc(100% - 93px);
  overflow-x:hidden;
  overflow-y:scroll }

#chatScreen:empty:after{
  position:absolute;
  top:100px;
  width:100%;
  color:#888;
  font-family:Arial;
  font-size:30px;
  text-align:center;
  content:attr(data-empty) }

#chatScreen::-webkit-scrollbar{
  background:transparent;
  width:8px }

#chatScreen::-webkit-scrollbar-thumb{
  background-color:rgba(0,0,0,.3) }

#chatScreen ul li{
  display:inline-block;
  float:left;
  clear:both;
  margin:10px 10px 5px 0;
  width:calc(100% - 25px);
  font-size:.9em }

#chatScreen ul li:nth-last-child(1){
  margin-bottom:5px }

#chatScreen ul li.page img{
  margin:6px 8px 0 0 }

#chatScreen ul li.page p{
  background:#c8ced3;
  color:#000 }

#chatScreen ul li.admin img{
  float:right;
  margin:6px 0 0 8px }

#chatScreen ul li.admin p{
  float:right;
  background:#e4e7ea;
  color:#000 }

#chatScreen ul li img{
  float:left;
  border-radius:50%;
  width:32px }

#chatScreen ul li p{
  display:inline-block;
  border-radius:20px;
  padding:10px 15px;
  max-width:80%;
  line-height:130% }

.footer{
  color:var(--color-muted);
  background-color:transparent!important }

.footer a{
  color:var(--color-muted) }

.footer a:hover{
  color:var(--color-muted);
  text-decoration:underline }

#toast-container>div{
  overflow:hidden }

.toast-title{
  font-weight:700 }

.toast-message{
  -ms-word-wrap:break-word;
  word-wrap:break-word }

.toast-message a,
.toast-message label{
  color:#fff }

.toast-message a:hover{
  color:#ccc;
  text-decoration:none }

.toast-close-button{
  position:relative;
  top:-.3em;
  right:-.3em;
  float:right;
  -ms-filter:alpha(opacity=80);
  filter:alpha(opacity=80);
  opacity:.8;
  color:#fff;
  font-size:20px;
  font-weight:700;
  -webkit-text-shadow:0 1px 0 #fff;
  text-shadow:0 1px 0 #fff }

.toast-top-center,
.toast-top-full-width{
  top:0;
  right:0;
  width:100% }

.toast-close-button:focus,
.toast-close-button:hover{
  -ms-filter:alpha(opacity=40);
  filter:alpha(opacity=40);
  opacity:.4;
  cursor:pointer;
  color:#000;
  text-decoration:none }

button.toast-close-button{
  -webkit-appearance:none;
  cursor:pointer;
  border:0;
  background:0;
  padding:0 }

.toast-bottom-center,
.toast-bottom-full-width{
  right:0;
  bottom:0;
  width:100% }

.toast-top-left{
  top:12px;
  left:12px }

.toast-top-right{
  top:12px;
  right:12px }

.toast-bottom-right{
  right:12px;
  bottom:12px }

.toast-bottom-left{
  bottom:12px;
  left:12px }

#toast-container{
  position:fixed;
  z-index:999999;
  pointer-events:none }

#toast-container *{
  box-sizing:border-box }

#toast-container>div{
  position:relative;
  -ms-filter:alpha(opacity=95);
  filter:alpha(opacity=95);
  opacity:.95;
  margin:0 0 6px;
  box-shadow:0 0 12px #999;
  border-radius:3px;
  background-repeat:no-repeat;
  background-position:15px center;
  padding:15px 15px 15px 50px;
  width:300px;
  pointer-events:auto;
  color:#fff }

#toast-container>:hover{
  -ms-filter:alpha(opacity=100);
  filter:alpha(opacity=100);
  opacity:1;
  cursor:pointer;
  box-shadow:0 0 12px #000 }

#toast-container>.toast-info{
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=)!important }

#toast-container>.toast-error{
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=)!important }

#toast-container>.toast-success{
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==)!important }

#toast-container>.toast-warning{
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=)!important }

#toast-container.toast-bottom-center>div,
#toast-container.toast-top-center>div{
  margin-right:auto;
  margin-left:auto;
  width:300px }

#toast-container.toast-bottom-full-width>div,
#toast-container.toast-top-full-width>div{
  margin-right:auto;
  margin-left:auto;
  width:96% }

.toast{
  background-color:var(--default-color) }

.toast-success{
  background-color:var(--success-color) }

.toast-error{
  background-color:var(--danger-color) }

.toast-info{
  background-color:var(--info-color) }

.toast-warning{
  background-color:var(--warning-color) }

.toast-progress{
  position:absolute;
  bottom:0;
  left:0;
  -ms-filter:alpha(opacity=40);
  filter:alpha(opacity=40);
  opacity:.4;
  background-color:#000;
  height:4px }

@media all and (max-width:240px){
  #toast-container>div{
    padding:8px 8px 8px 50px;
    width:11em }

  #toast-container .toast-close-button{
    top:-.2em;
    right:-.2em }
}

@media all and (min-width:241px) and (max-width:480px){
  #toast-container>div{
    padding:8px 8px 8px 50px;
    width:18em }

  #toast-container .toast-close-button{
    top:-.2em;
    right:-.2em }
}

@media all and (min-width:481px) and (max-width:768px){
  #toast-container>div{
    padding:15px 15px 15px 50px;
    width:25em }
}

.modal-header{
  background-color:var(--dialog-header-background-color);
  color:var(--dialog-header-color);
  border-bottom:1px solid var(--dialog-header-border-color) }

.modal-footer{
  background-color:var(--dialog-footer-background-color);
  color:var(--dialog-footer-color);
  border-top:1px solid var(--dialog-footer-border-color) }

.resize{
  position:relative;
  overflow:hidden;
  overflow-x:hidden;
  overflow-y:hidden;
  resize:both }

.resize::-webkit-resizer{
  background-color:transparent }

.resize::after{
  position:absolute;
  content:'';
  right:0;
  bottom:0;
  background-color:transparent;
  background-image:url('data:image/svg+xml;utf8,<svg height="18" viewBox="0 0 18 18" width="18" xmlns="http://www.w3.org/2000/svg"><path d="m14.228 16.227a1 1 0 0 1 -.707-1.707l1-1a1 1 0 0 1 1.416 1.414l-1 1a1 1 0 0 1 -.707.293zm-5.638 0a1 1 0 0 1 -.707-1.707l6.638-6.638a1 1 0 0 1 1.416 1.414l-6.638 6.638a1 1 0 0 1 -.707.293zm-5.84 0a1 1 0 0 1 -.707-1.707l12.477-12.477a1 1 0 1 1 1.415 1.414l-12.478 12.477a1 1 0 0 1 -.707.293z" fill="transparent"/></svg>');
  width:18px;
  height:18px;
  opacity:0;
  transition:opacity .5s ease-in-out }

.resize:hover::after{
  background-image:url('data:image/svg+xml;utf8,<svg height="18" viewBox="0 0 18 18" width="18" xmlns="http://www.w3.org/2000/svg"><path d="m14.228 16.227a1 1 0 0 1 -.707-1.707l1-1a1 1 0 0 1 1.416 1.414l-1 1a1 1 0 0 1 -.707.293zm-5.638 0a1 1 0 0 1 -.707-1.707l6.638-6.638a1 1 0 0 1 1.416 1.414l-6.638 6.638a1 1 0 0 1 -.707.293zm-5.84 0a1 1 0 0 1 -.707-1.707l12.477-12.477a1 1 0 1 1 1.415 1.414l-12.478 12.477a1 1 0 0 1 -.707.293z" fill="%23666"/></svg>');
  opacity:1 }

@media (max-width:576px){
  .resize{
    resize:none!important }

  .resize::after{
    display:none!important }
}

.note-btn{
  box-shadow:none!important }

.elfinder-contextmenu-item,
.elfinder-contextmenu-icon{
  color:#000!important;
  fill:currentColor!important }

.ui-widget.ui-widget-content{
  border:0!important }

.ui-widget-content{
  border:0!important }

.elfinder-toolbar,
.ui-widget-header{
  background-color:var(--note-toolbar-background-color)!important;
  border-color:var(--note-toolbar-border-color)!important;
  color:var(--note-toolbar-color)!important }

.elfinder-navbar{
  background-color:var(--note-toolbar-background-color)!important;
  border-color:var(--note-toolbar-border-color)!important }

.ui-state-default,
.ui-widget-content .ui-state-default{
  color:var(--note-toolbar-color)!important }

.ui-state-active,
.ui-widget-content .ui-state-active{
  background-color:var(--note-btn-background-color)!important;
  border:1px solid transparent;
  color:var(--note-btn-color) }

.elfinder-navbar-dir:hover{
  background-color:var(--note-btn-background-color-hover)!important;
  border:1px solid transparent;
  color:var(--note-btn-color-hover) }

.elfinder-button{
  background-color:var(--note-btn-background-color)!important;
  border:var(--note-btn-border-width) var(--note-btn-border-style) var(--note-btn-border-color)!important;
  box-shadow:none!important }

.elfinder-button:hover{
  background-color:var(--note-btn-background-color-hover)!important;
  border:var(--note-btn-border-width) var(--note-btn-border-style) var(--note-btn-border-color-hover)!important }

.elfinder-button-icon{
  font-family:'i'!important;
  speak:never;
  font-weight:400;
  font-style:normal;
  text-transform:none;
  letter-spacing:normal;
  word-wrap:normal;
  white-space:nowrap;
  direction:ltr;
  line-height:1;
  vertical-align:top;
  text-rendering:auto;
  color:var(--note-btn-color)!important;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-size:16px!important;
  background:transparent none }

.elfinder-button-icon-home::before{content:''}
.elfinder-button-icon-back::before{content:''}
.elfinder-button-icon-forward::before{content:''}
.elfinder-button-icon-up::before{content:''}
.elfinder-button-icon-dir::before{content:''}
.elfinder-button-icon-opendir::before{content:''}
.elfinder-button-icon-reload::before{content:''}
.elfinder-button-icon-open::before{content:''}
.elfinder-button-icon-mkdir::before{content:''}
.elfinder-button-icon-mkfile::before{content:''}
.elfinder-button-icon-rm::before{content:''}
.elfinder-button-icon-trash::before{content:''}
.elfinder-button-icon-restore::before{content:''}
.elfinder-button-icon-copy::before{content:''}
.elfinder-button-icon-cut::before{content:''}
.elfinder-button-icon-paste::before{content:''}
.elfinder-button-icon-getfile::before{content:''}
.elfinder-button-icon-duplicate::before{content:''}
.elfinder-button-icon-rename::before{content:''}
.elfinder-button-icon-edit::before{content:''}
.elfinder-button-icon-quicklook::before{content:''}
.elfinder-button-icon-upload::before{content:''}
.elfinder-button-icon-download::before{content:''}
.elfinder-button-icon-info::before{content:''}
.elfinder-button-icon-extract::before{content:''}
.elfinder-button-icon-archive::before{content:''}
.elfinder-button-icon-view::before {content:''}
.elfinder-button-icon-view-list::before{content:''}
.elfinder-button-icon-help::before{content:''}
.elfinder-button-icon-resize::before{content:''}
.elfinder-button-icon-link::before{content:''}
.elfinder-button-icon-search::before{content:''}
.elfinder-button-icon-sort::before{content:''}
.elfinder-button-icon-rotate-r::before{content:''}
.elfinder-button-icon-rotate-l::before{content:''}
.elfinder-button-icon-netmount::before{content:''}
.elfinder-button-icon-netunmount::before{content:''}
.elfinder-button-icon-places::before{content:''}
.elfinder-button-icon-chmod::before{content:''}
.elfinder-button-icon-accept::before{content:''}
.elfinder-button-icon-menu::before{content:''}
.elfinder-button-icon-colwidth::before{content:''}
.elfinder-button-icon-fullscreen::before{content:''}
.elfinder-button-icon-unfullscreen::before{content:''}
.elfinder-button-icon-empty::before{content:''}
.elfinder-button-icon-undo::before{content:''}
.elfinder-button-icon-redo::before{content:''}
.elfinder-button-icon-preference::before{content:''}
.elfinder-button-icon-mkdirin::before{content:''}
.elfinder-button-icon-selectall::before{content:''}
.elfinder-button-icon-selectnone::before{content:''}
.elfinder-button-icon-selectinvert::before{content:''}
.elfinder-button-icon-opennew::before{content:''}
.elfinder-button-icon-hide::before{content:''}
.elfinder-button-icon-text::before{content:''}

.note-editable a,
.note-editable a:visited{
  color:#0000ee;
  text-decoration:none }

.note-editable a:hover{
  color:#e00;
  text-decoration:underline }

.openimageeditor{
  display:none }

input:not(:-moz-placeholder-shown)~.openimageeditor{
  display:inline-block }

input:not(:placeholder-shown)~.openimageeditor{
  display:inline-block }

.FIE_root,
.FIE_root .dPyTlW,
.FIE_root .fFLFuZ{
  background-color:transparent!important;
  color:var(--color)!important }

.FIE_root{
  background-color:var(--card-background-color)!important;
  border:1px solid var(--card-border-color)!important;
  border-top:0!important }

.eqwZOE,
.eoCJQK,
.cjXPIB,
.hiFpMh{
  background-color:var(--menu-dropdown-background-color)!important;
  color:var(--menu-dropdown-color)!important }

.dQNplx{
  color:var(--menu-dropdown-color)!important }

.eqwZOE:hover,
.eoCJQK:hover,
.cjXPIB:hover,
.hiFpMh:hover,
.dQNplx:hover{
  color:var(--menu-dropdown-color-hover)!important }

.djRkkM,
.JtAIX{
  background-color:var(--dialog-background-color)!important;
  color:var(--dialog-color)!important }

.hTKmGa{
  background-color:transparent!important;
  color:var(--dialog-color)!important }

.fwlroE{
  background-color: var(--form-input-background-color)!important;
  color:var(--form-input-color)!important;
  border-color:var(--form-input-border-color)!important }

.fwlroE:focus{
  background-color:var(--form-input-background-color-focus)!important;
  color:var(--form-input-color-focus)!important;
  border-color:var(--form-input-border-color-focus)!important }

.FIE_topbar-close-button{
  margin:0!important;
  padding:4px 0 0 4px!important }

.FIE_root .fhjCPs{
  margin:0!important;
  display:flex!important;
  justify-content:center!important;
  align-items:center!important;
  width:32px!important;
  height:16px!important;
  padding:2px!important }

.FIE_root .hdUQyw{
  display:inline-flex!important;
  flex-shrink:0!important;
  flex-direction:row!important;
  align-items:center!important;
  border-radius:2px!important;
  border:0!important;
  cursor:pointer!important;
  outline:none!important;
  background-color:transparent!important;
  color:rgb(93,109,126)!important;
  padding:8px 9px!important }

.FIE_root .fhsEhG{
  width:20px!important;
  height:20px!important;
  margin:0 4px!important;
  padding:4px!important }

.FIE_root .yUqOk{
  display:inline-block!important;
  height:11px!important;
  width:1px!important;
  border-radius:1px!important;
  background:rgb(223,231,237)!important }

.FIE_tab svg,
.FIE_tab label{
  color:var(--button-color)!important }

.FIE_root button,
.FIE_root .hdUQyw,
.FIE_root .ipDuCr,
.FIE_tab{
  background-color:var(--button-background-color)!important;
  color:var(--button-color)!important;
  border-color:var(--button-border-color)!important }

.FIE_root .ipDuCr *{
  color:var(--button-color)!important }

.FIE_root button:hover,
.FIE_root button:focus,
.FIE_tab:hover,
.FIE_tab:focus,
.FIE_root .hdUQyw:hover,
.FIE_root .hdUQyw:focus,
.FIE_root .cGhpJi *:hover,
.FIE_root .cGhpJi *:focus,
.FIE_root .ipDuCr:hover,
.FIE_root .ipDuCr:focus{
  background-color:var(--button-background-color-hover)!important;
  color:var(--button-color-hover)!important;
  border-color:var(--button-border-color-hover)!important }

.FIE_root .fhsEhu{
  width:20px!important;
  height:20px!important;
  margin:0 8px!important;
  padding:4px!important }

.FIE_root .cGhpJi{
  margin-bottom:1px!important }

.FIE_tab[aria-selected="true"],
.FIE_root .cGhpJi[aria-selected="true"],
.FIE_root .ipDuCr[aria-selected="true"]{
  background-color:var(--button-background-color-active)!important;
  color:var(--button-color-active)!important;
  border-color:var(--button-border-color-active)!important }

.FIE_tab[aria-selected="true"] *,
.FIE_root .cGhpJi[aria-selected="true"] *,
.FIE_root .ipDuCr[aria-selected="true"] *{
  color:var(--button-color-active)!important }

.FIE_root button.disabled,
.FIE_root .hdUQyw:disabled{
  background-color:var(--button-background-color-disabled)!important;
  color:var(--button-color-disabled)!important;
  border-color:var(--button-border-color-disabled)!important }

.FIE_root button.disabled *,
.FIE_root .hdUQyw:disabled *{
  color:var(--button-color-disabled)!important }

.gRhPTV{
  color:var(--card-color)!important;
  background:linear-gradient(270deg,var(--card-background-color) 1.56%,var(--card-extra-fade-1) 70%,var(--card-extra-fade-2) 100%)!important }

.ipOzgV{
  color:var(--card-color)!important;
  background:linear-gradient(90deg,var(--card-background-color) 1.56%,var(--card-extra-fade-1) 70%,var(--card-extra-fade-2) 100%)!important }

.unsplash-pag{
  display:flex;
  width:100%;
  height:0;
  flex-flow:column wrap;
  align-content:inherit }

.unsplash-prev-btn{
  align-self:flex-start }

.unsplash-next-btn{
  align-self:flex-end }

.unsplash-search-results a{
  position:relative;
  height:200px;
  overflow:hidden }

.unsplash-search-results a img{
  width:100%;
  width:-webkit-fill-available;
  height:100%;
  -o-object-position:center;
     object-position:center;
  -o-object-fit:cover;
     object-fit:cover }

.unsplash-search-results a div{
  position:absolute;
  top:100%;
  right:0;
  left:0;
  height:auto;
  transition:transform 250ms;
  vertical-align:bottom;
  background-color:rgba(0,0,0,.5);
  color:#fff;
  font-size:1em }

.unsplash-search-results a:hover div{
  transform:translateY(-100%) }

.unsplash-cat-list-container{
  -webkit-overflow-scrolling:touch;
  box-sizing:initial;
  display:flex;
  overflow-x:hidden;
  overflow-y:hidden;
  scroll-behavior:smooth }

.unsplash-cat-list-wrapper{
  flex-grow:1;
  flex-shrink:0 }

.unsplash-cat-list{
  align-items:flex-start;
  display:flex;
  flex-wrap:nowrap;
  list-style:none;
  margin:1rem 0;
  overflow-x:scroll;
  padding:0 0 0 1rem;
  scroll-padding-left:1rem;
  scroll-snap-type:x mandatory;
  scrollbar-width:none }

.unsplash-cat-list::-webkit-scrollbar{
  display:none }

.unsplash-cat-list li{
  padding:0 1rem 0 0;
  scroll-snap-align:start;
  scroll-snap-stop:always;
  list-style:none;
  padding-left:0;
  margin-block:0 }

.unsplash-cat-wrapper:before{
  left:0 }

.unsplash-cat-wrapper:after,
.unsplash-cat-wrapper:before{
  bottom:0;
  content:"";
  display:block;
  opacity:0;
  pointer-events:none;
  position:relative;
  top:0;
  transition:opacity .2s ease-in-out;
  z-index:1 }

.unsplash-cat-btn-wrapper.right{
  right:0 }

.unsplash-cat-btn-wrapper.left{
  left:0 }

.unsplash-cat-btn-wrapper{
  align-items:center;
  display:flex;
  position:absolute;
  z-index:2;
  margin-top:4px }

.jumpBar {
  position: fixed;
  top: 150px;
  right: 0;
  display: flex !important;
  flex-flow: column !important;
  flex-shrink: 0 !important;
  font-size: 13px !important;
  justify-content: space-around !important;
  margin: 10px 0 !important;
  overflow: hidden !important;
  padding: 0 10px !important }

.jumpBar-character {
  height: 25px !important;
  text-align: center !important;
  -webkit-tap-highlight-color: transparent !important;
  background: none !important;
  border: 0 !important;
  border-radius: 0 !important;
  cursor: pointer !important;
  line-height: inherit !important;
  margin: 0 !important;
  outline: none !important;
  padding: 0 !important;
  text-align: center !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  touch-action: manipulation !important;
  transition: color .2s !important }

.rotate-180 {
  rotate:180deg;
}
