/* stylesheet v0.9 - Extras - https://github.com/DiemenDesign/stylesheet */

nav ul li ul li {
  min-width: auto;
  max-width: auto;
}

/* Back To Top Styling */
#back-top-top {
  width: 0;
  height: 0;
  border: 0;
  margin: 0;
  padding: 0; }

/* Display Minus sign for input fields to indicate a Deduction Field */
.input-text.minus {
  background-color: #fff !important;
  padding-right: 5px !important;
  padding-left: 5px !important; }

[data-gst]::before {
  content: attr(data-gst);
  position: absolute;
  display: block;
  top: -10px;
  left: 50%;
  font-size: .8rem;
  color: #000; }



.select-sm,
.select-sm:focus {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #000;
  font-size: 1em; }

.select-sm option {
  color: #000; }

/* Search Results */
.search-item-info {
  color: var(--search-item-info-color); }

.search-item-title a {
  color: var(--search-item-link-color); }

.search-item-title a:focus,
.search-item-title a:hover {
  color: var(--search-item-link-color-hover);
  text-decoration: underline; }

.search-item-url {
  color: var(--search-item-url-color); }

/* Star Rating */
.starRating:not(old) {
  display: block;
  vertical-align: bottom;
  width: 12.5em;
  height: 2.5em;
  overflow: hidden; }

.starRating:not(old) > input {
  opacity: 0;
  margin-right: -100%; }

.starRating:not(old) > label {
  display: block;
  margin: 0;
  position: relative;
  float: right; }

.starRating:not(old) > label:before {
  content: '\2605';
  display: block;
  opacity: .25;
  font-size: 2em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #888;
  color: var(--starRating-color);
  transition: opacity .2s linear;
  width: 1.25em;
  height: 2.25em; }

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before {
  opacity: 1; }

.rating {
  display: inline-block; }

.rating span {
  display: inline-block;
  width: 1em;
  height: 1em; }

.rating span:before{
  content: '\2606';
  display: block;
  color: #888; }

.rating span.set {
  display: inline-block;
  width: 1em;
  height: 1em; }

.rating span.set:before {
  content: '\2605';
  display: block;
  color: var(--starRating-color);
  -webkit-text-stroke-width: var(--starRating-outline-width);
  -webkit-text-stroke-color: var(--starRating-outline-color); }

/* Colors */
.bg-transparent {
  background-color:transparent!important; }

.bg-danger {
  background-color: var(--danger-background-color); }

.bg-danger.text-danger {
  color: var(--danger-color-contrast); }

.text-danger {
  color: var(--danger-color); }

.border-danger {
  border-color: var(--danger-border-color); }

.bg-black {
  background-color: #000 !important; }

.bg-dark {
  background-color: var(--dark-background-color); }

.bg-dark.text-dark {
  color: var(--dark-color-contrast); }

.text-dark {
  color: var(--dark-color); }

.border-dark {
  border-color: var(--dark-border-color); }

.bg-default {
  background-color: var(--default-background-color); }

.bg-default.text-default {
  color: var(--default-color-contrast); }

.text-default {
  color: var(--default-color); }

.border-default {
  border-color: var(--default-border-color); }

.bg-info {
  background-color: var(--info-background-color); }

.bg-info.text-info {
  color: var(--info-color-contrast); }

.text-info {
  color: var(--info-color); }

.border-info {
  border-color: var(--info-border-color); }

.bg-light {
  background-color: var(--light-background-color); }

.bg-light.text-light {
  color: var(--light-color-contrast); }

.text-light {
  color: var(--light-color); }

.border-light {
  border-color: var(--light-border-color); }

.bg-primary {
  background-color: var(--primary-background-color); }

.bg-primary.text-primary {
  color: var(--primary-color-contrast); }

.text-primary {
  color: var(--primary-color); }

.border-primary {
  border-color: var(--primary-border-color); }

.bg-secondary {
  background-color: var(--secondary-background-color); }

.bg-secondary.text-secondary {
  color: var(--secondary-color-contrast); }

.text-secondary {
  color: var(--secondary-color); }

.border-secondary {
  border-color: var(--secondary-border-color); }

.bg-success {
  background-color: var(--success-background-color); }

.bg-success.text-success {
  color: var(--success-color-contrast); }

.text-success {
  color: var(--success-color); }

.border-success {
  border-color: var(--success-border-color); }

.bg-warning {
  background-color: var(--warning-background-color); }

.bg-warning.text-warning {
  color: var(--warning-color-contrast); }

.text-warning {
  color: var(--warning-color); }

.border-warning {
  border-color: var(--warning-border-color); }

/* Collapse Menu for Mobile Devices */
nav[role="menubar"] {
  display: flex;
  position: relative;
  background-color: var(--menu-background-color);
  width: 100%; }

nav[role="menubar"] input[type="checkbox"].menubar-input {
  display: none !important; }

nav[role="menubar"] label.menubar-label {
  display: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

nav[role="menubar"] ul {
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none; }

nav[role="menubar"] ul li {
  color: var(--menu-color); }

nav[role="menubar"] ul li a {
  color: var(--menu-link-color); }

nav[role="menubar"] ul li a:hover,
nav[role="menubar"] ul li a:focus {
  color: var(--menu-link-color-hover); }

nav[role="menubar"] ul li.active a{
  color: var(--menu-link-color-active); }

@media screen and (max-width: 44em) {
  nav[role="menubar"] {
    display: block;
    align-items: flex-start; }

  nav[role="menubar"] ul {
    display: none; }

  nav[role="menubar"] label.menubar-label {
    display: inline-block;
    vertical-align: middle;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-width ,15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
    margin: 0 !important;
    border: var(--menu-button-border-width) var(--menu-button-border-style) var(--menu-button-border-color);
    border-radius: var(--menu-border-radius);
    background-color: var(--menu-button-background-color);
    padding: .375rem .75rem;
    width: 100%;
    color: var(--menu-button-color);
    font-weight: 400;
    font-size: 1rem;
    font-family: var(--font);
    line-height: 1.5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    text-decoration: none; }

  nav[role="menubar"] label.menubar-label:hover {
    cursor: pointer;
    border: var(--menu-button-border-width-hover) var(--menu-button-border-style) var(--menu-button-border-color-hover);
    background-color: var(--menu-button-background-color-hover);
    color: var(--menu-button-color-hover);
    text-decoration: none; }

  nav[role="menubar"] input[type="checkbox"]:checked ~ ul {
    display: block; }

  nav[role="menubar"] input[type="checkbox"]:checked ~ ul li {
    width: 100%; }
}

/* Tooltips */
[data-tooltip] {
  position: relative; }

[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  bottom: calc(100% + 5px);
  left: 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .1s;
          transition: .1s;
  will-change: transform;
  pointer-events: none; }

[data-tooltip]:before {
  transform: translate(-50%, -5px) scale(.5);
  z-index: 5000 !important;
  border-radius: var(--tooltip-border-radius);
  background-color: var(--tooltip-background-color);
  padding: .25rem .5rem;
  width: -webkit-max-content;
  width: max-content;
  width: -moz-max-content;
  min-width: 50px;
  max-width: 300px;
  color: var(--tooltip-color);
  font-size: .875rem;
  font-family: var(--font);
  line-break: auto;
  text-align: left;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  content: attr(data-title);
  word-wrap: break-word; }

[data-tooltip]:after {
  transform: translateX(-50%) scaleY(0);
  transform-origin: top;
  transition-duration: 0s;
  border-width: 5px 5px 0 5px;
  border-style: solid;
  border-color: var(--tooltip-background-color) transparent transparent transparent;
  content: ''; }

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1; }

[data-tooltip]:hover:before {
  transform: translate(-50%, -5px) scale(1);
  transition-delay: .15s; }

[data-tooltip]:hover:after {
  transform: translateX(-50%) scaleY(1);
  transition-delay: .15s;
  transition-duration: .1s; }

[data-tooltip="left"]:before,
[data-tooltip="left"]:after {
  right: calc(100% + 5px);
  bottom: 50%;
  left: auto; }

[data-tooltip="left"]:before {
  transform: translate(-5px, 50%) scale(.5); }

[data-tooltip="left"]:hover:before {
  transform: translate(-5px, 50%) scale(1); }

[data-tooltip="left"]:after {
  transform: translateY(50%) scaleX(0);
  transform-origin: left;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent var(--tooltip-background-color); }

[data-tooltip="left"]:hover:after {
  transform: translateY(50%) scaleX(1); }

[data-tooltip="right"]:before,
[data-tooltip="right"]:after {
  bottom: 50%;
  left: calc(100% + 5px); }

[data-tooltip="right"]:before {
  transform: translate(5px, 50%) scale(.5); }

[data-tooltip="right"]:hover:before {
  transform: translate(5px, 50%) scale(1); }

[data-tooltip="right"]:after {
  transform: translateY(50%) scaleX(0);
  transform-origin: right;
  border-width: 5px 5px 5px 0;
  border-color: transparent var(--tooltip-background-color) transparent transparent; }

[data-tooltip="right"]:hover:after {
  transform: translateY(50%) scaleX(1); }

[data-tooltip="bottom"]:before,
[data-tooltip="bottom"]:after {
  top: calc(100% + 5px);
  bottom: auto; }

[data-tooltip="bottom"]:before {
  transform: translate(-50%, 5px) scale(.5); }

[data-tooltip="bottom"]:hover:before {
  transform: translate(-50%, 5px) scale(1); }

[data-tooltip="bottom"]:after {
  transform-origin: bottom;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent var(--tooltip-background-color) transparent; }

/* Covertron */
.covertron:empty { display: none; }

.covertron[style*="background-image"] { display: block; }

.covertron {
  position: relative;
  z-index: -101;
  box-shadow: inset 0 -30px 30px -30px rgba(0, 0, 0, .5);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 60vh;
  overflow: hidden; }

.covertron video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%; }

/* Jumbotron */
.jumboside .jumbo {
  width: 50%; }

.jumbo:not(:last-child) {
  width: 50; }

@media (max-width: 768px) {
  .jumboside .jumbo {
    width: 100% !important; }
}

.jumbotron {
  z-index: -1;
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background-color: var(--jumbotron-background-color);
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  object-fit: contain;
  overflow: hidden;
  -webkit-box-shadow: inset 0 -30px 30px -30px rgba(0, 0, 0, .5);
  -moz-box-shadow: inset 0 -30px 30px -30px rgba(0, 0, 0, .5);
  box-shadow: inset 0 -30px 30px -30px rgba(0, 0, 0, .5); }

.jumbotron[style*="background-image"] {
  display: block; }

.jumbotron img {
  z-index: -1;
  position: absolute;
  min-width: 100%;
  min-height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  object-fit: cover; }

.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5,
.jumbotron h6,
.jumbotron p {
  z-index: 2;
  display: block; }

.jumbotron video,
.jumbotron iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #000;
  z-index: 1; }

.jumbotron figcaption,
.card-image figcaption {
  position: absolute;
  bottom: 8px;
  left: 0;
  font-family: var(--font);
  font-size: 1rem;
  background-color: var(--card-figcaption-background-color);
  color: var(--card-figcaption-color);
  padding: .25rem .5rem;
  border-top-right-radius: .5rem; }

.jumbotron figcaption {
  bottom: 0; }

figcaption:empty,
.jumbotron:empty {
  display: none; }

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem; }
}

/* article cards */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: var(--card-border-width) var(--card-border-style) var(--card-border-color);
  border-radius: var(--card-border-radius);
  background-color: var(--card-background-color);
  padding: 0;
  overflow: hidden; }

.card > hr {
  margin-right: 0;
  margin-left: 0; }

.card .card-header,
.card .card-body,
.card .card-footer {
  padding: .1rem .8rem;
  padding-bottom: 0; }

.card .card-header {
  background-color: var(--card-header-background-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; }

.card .card-title {
  margin-bottom: .1rem; }

.card .card-title h2,
.card .card-title h3,
.card .card-title h4,
.card .card-title h5,
.card .card-title h6 {
  margin: 0;
  padding: 0; }

.card .card-header a {
  color: var(--card-link-color); }

.card .card-header a:hover {
  color: var(--card-link-color-hover);
  text-decoration: none; }

.card .card-header:last-child,
.card .card-body:last-child,
.card .card-footer:last-child {
  padding-bottom: .8rem; }

.card footer,
.card .card-footer {
  display: flex; }

.card footer button,
.card footer .btn,
.card .card-footer .btn {
  margin-right: 0 !important;
  margin-left: auto !important; }

.card .card-subtitle {
  margin-top: -.25rem;
  margin-bottom: 0; }

.card .card-subtitle a:focus,
.card .card-subtitle a:hover {
  color: var(--card-link-color-hover); }

.card .card-body {
  -webkit-line-clamp: var(--card-body-lines);
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
  display: -webkit-box;
  flex: 1 1 auto;
  overflow: hidden; }

.card .card-body.no-clamp {
  display: block !important;
  -webkit-line-clamp: none !important; }

.card .card-image img {
  z-index: -1;
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover; }

.card .card-image.full img {
  height: 30rem;
  object-position: center; }

.card .card-image:first-child {
  padding-top: 0; }

.card .card-image:first-child img {
  border-top-right-radius: var(--card-border-radius);
  border-top-left-radius: var(--card-border-radius);
  width: 100%; }

.card .card-image:last-child img {
  border-bottom-right-radius: var(--card-border-radius);
  border-bottom-left-radius: var(--card-border-radius); }

/* Breadcrumb */
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--body-background-color);
  padding: .75rem 1rem;
  list-style: none; }

.breadcrumb {
  display: flex; }

.breadcrumb-item {
  position: relative; }

.breadcrumb-item + .breadcrumb-item {
  padding-left: .5rem; }

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  color: var(--color-muted);
  content: "/"; }

.breadcrumb-item.active {
  color: var(--color-muted); }

.breadcrumb-dropdown:hover .breadcrumb-dropper {
  display: block !important; }

.breadcrumb-dropper {
  display: none;
  z-index: 1000;
  position: absolute;
  top: 15px;
  left: 0;
  z-index: 100;
  box-shadow: var(--box-shadow-x) var(--box-shadow-y) var(--box-shadow-spread) var(--box-shadow-spread) var(--box-shadow-color);
  border: var(--border-width) var(--border-style) var(--menu-dropdown-border-color);
  border-radius: var(--border-radius);
  background-color: var(--menu-dropdown-background-color);
  padding: .5rem 1rem;
  width: auto;
  height: auto;
  white-space: wrap;
  list-style: none; }

.breadcrumb-dropper a {
  display: block;
  font-size: 1em; }

/* Alerts */
.alert {
  position: relative;
  border: var(--border-width) var(--border-style) transparent;
  border-color: var(--default-border-color);
  border-radius: var(--border-radius);
  background-color: var(--default-background-color);
  padding: .75em 1.25em;
  margin-bottom: 1rem;
  width: 100%;
  color: var(--default-color); }

.alert.alert-full {
  border-radius: 0;
  border: 0;
  border-bottom-width: var(--border-width);
  margin: 0; }

.alert header {
  background-color: transparent;
  color: inherit; }

.alert h1,
.alert h2,
.alert h3,
.alert h4,
.alert h5,
.alert h6 {
  color: inherit;
  font-size: 1em; }

.alert a {
  color: var(--default-link);
  font-weight: 700; }

.alert a:hover {
  color: inherit;
  text-decoration: underline; }

.alert-info {
  border-color: var(--alert-info-border-color);
  background-color: var(--alert-info-background-color);
  color: var(--alert-info-color); }

.alert-info a {
  color: var(--alert-info-link); }

.alert-success {
  border-color: var(--alert-success-border-color);
  background-color: var(--alert-success-background-color);
  color: var(--alert-success-color); }

.alert-success a {
  color: var(--alert-success-link); }

.alert-warning {
  border-color: var(--alert-warning-border-color);
  background-color: var(--alert-warning-background-color);
  color: var(--alert-warning-color); }

.alert-warning a {
  color: var(--alert-warning-link); }

.alert-danger {
  border-color: var(--alert-danger-border-color);
  background-color: var(--alert-danger-background-color);
  color: var(--alert-danger-color); }

.alert-danger a {
  color: var(--alert-danger-link); }

/* Tabs */
.tabs {
  margin-right: auto;
  width: 100%; }

.tabs input.tab-control {
  display: none !important; }

[role=tabpanel] {
  display: none; }

.tabs #tab1-1:checked ~ .tab1-1,
.tabs #tab1-2:checked ~ .tab1-2,
.tabs #tab1-3:checked ~ .tab1-3,
.tabs #tab1-4:checked ~ .tab1-4,
.tabs #tab1-5:checked ~ .tab1-5,
.tabs #tab1-6:checked ~ .tab1-6,
.tabs #tab1-7:checked ~ .tab1-7,
.tabs #tab1-8:checked ~ .tab1-8,
.tabs #tab1-9:checked ~ .tab1-9,
.tabs #tab1-10:checked ~ .tab1-10,
.tabs #tab1-11:checked ~ .tab1-11,
.tabs #tab1-12:checked ~ .tab1-12,
.tabs #tab1-13:checked ~ .tab1-13,
.tabs #tab1-14:checked ~ .tab1-14,
.tabs #tab1-15:checked ~ .tab1-15,
.tabs #tab1-16:checked ~ .tab1-16,
.tabs #tab1-17:checked ~ .tab1-17,
.tabs #tab1-18:checked ~ .tab1-18,
.tabs #tab1-19:checked ~ .tab1-19,
.tabs #tab1-20:checked ~ .tab1-20 {
  display: block; }

.tabs input.tab-control + label {
  display: inline-block;
  position: relative;
  top: 1px;
  margin:0;
  border: var(--border-width) var(--border-style) var(--border-color);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background: transparent;
  padding: 4px 12px; }

.tabs input.tab-control + label:hover {
  cursor: pointer;
  color: var(--button-color-hover);
  background-color: var(--button-background-color-hover); }

.tabs input.tab-control:checked + label {
  border-bottom: var(--border-width) var(--border-style) transparent;
  background-color: var(--button-background-color);
  color: #fff; }

.tabs input.tab-control:checked + label:hover {
  background-color: var(--button-background-color-hover) !important; }

.tabs input.tab-control ~ .tab {
  display: none;
  border-top: var(--border-width) var(--border-style) var(--border-color);
  padding: 12px;
  width: 100%; }

/* List Grouping */
.list-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-left: 0; }

.list-group-item-action {
  width: 100%;
  color: var(--list-group-color);
  text-align: inherit; }

.list-group-item-action:hover,
.list-group-item-action:focus {
  z-index: 1;
  background-color: var(--list-group-background-color-hover);
  color: var(--list-group-color-hover);
  text-decoration: none; }

.list-group-item-action:active {
  background-color: var(--list-group-background-active);
  color: var(--list-group-color-active); }

.list-group-item {
  display: block;
  position: relative;
  margin-bottom: 0;
  border: var(--border-width) var(--border-style) var(--border-color);
  background-color: var(--list-group-background-color);
  padding: .75rem 1.25rem;
  text-decoration: none; }

.list-group-item:first-child {
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius); }

.list-group-item:last-child {
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius); }

.list-group-item.disabled, .list-group-item:disabled {
  background-color: var(--list-group-background-disabled);
  pointer-events: none;
  color: var(--list-group-color-disabled); }

.list-group-item.active {
  z-index: 2;
  border-color: var(--list-group-background-active);
  background-color: var(--list-group-background-active);
  color:  var(--list-group-color); }

.list-group-item + .list-group-item {
  border-top-width:  var(--border-width); }

.list-group-item + .list-group-item.active {
  margin-top: -1px;
  border-top-width: var(--border-width); }

.list-group-horizontal {
  flex-direction: row; }

.list-group-horizontal .list-group-item:first-child {
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--border-radius); }

.list-group-horizontal .list-group-item:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-left-radius: 0; }

.list-group-horizontal .list-group-item.active {
  margin-top: 0; }

.list-group-horizontal .list-group-item + .list-group-item {
  border-top-width: 1px;
  border-left-width:  var(--border-width); }

.list-group-horizontal .list-group-item + .list-group-item.active {
  margin-left: -1px;
  border-left-width: var(--border-width); }

/* Avatar */
.avatar {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin: 0;
  border-radius: 50%;
  background-color: var(--border-color);
  width: 1.6rem;
  height: 1.6rem;
  color: rgba(255, 255, 255, .85);
  font-weight: 300;
  font-size: .8rem;
  line-height: 1.25; }

.avatar.xs {
  width: .8rem;
  height: .8rem;
  font-size: .4rem; }

.avatar.sm {
  width: 1.2rem;
  height: 1.2rem;
  font-size: .6rem; }

.avatar.lg {
  width: 2.4rem;
  height: 2.4rem;
  font-size: 1.2rem; }

.avatar.xl {
  width: 3.2rem;
  height: 3.2rem;
  font-size: 1.6rem; }

.avatar.xxl {
  width: 4rem;
  height: 4rem;
  font-size: 1.6rem; }

.avatar img {
  position: relative;
  z-index: 1;
  border-radius: 50%;
  width: 100%;
  height: 100%; }

/* Badge */
.badge {
  position: relative;
  white-space: nowrap; }

.badger {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }

.badge-2x {
  font-size: .9rem !important; }

@media (prefers-reduced-motion:reduce){
  .badger {
    transition: none; }
}

a.badger:focus,
a.badger:hover {
  text-decoration: none; }

.badger:empty {
  display: none; }

.btn .badger {
  position: relative;
  top: -1px; }

.badge-primary {
  color: #fff;
  background-color: #007bff; }

a.badge-primary:focus,
a.badge-primary:hover {
  color: #fff;
  background-color: #0062cc; }

a.badge-primary.focus,
a.badge-primary:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5); }

.badge-secondary,
.badge-cancelled {
  color: #fff;
  background-color: #6c757d; }

a.badge-secondary:focus,
a.badge-secondary:hover {
  color: #fff;
  background-color: #545b62; }

a.badge-secondary.focus,
a.badge-secondary:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5); }

.badge-success,
.badge-paid {
  color: #fff;
  background-color: #28a745; }

a.badge-success:focus,
a.badge-success:hover {
  color: #fff;
  background-color: #1e7e34; }

a.badge-success.focus,
a.badge-success:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5); }

.badge-info,
.badge-pending {
  color: #fff;
  background-color: #17a2b8; }

a.badge-info:focus,
a.badge-info:hover {
  color: #fff;
  background-color: #117a8b; }

a.badge-info.focus,
a.badge-info:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5); }

.badge-warning {
  color: #212529;
  background-color: #ffc107; }

a.badge-warning:focus,
a.badge-warning:hover {
  color: #212529;
  background-color: #d39e00; }

a.badge-warning.focus,
a.badge-warning:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5); }

.badge-danger,
.badge-overdue {
  color: #fff;
  background-color: #dc3545; }

a.badge-danger:focus,
a.badge-danger:hover {
  color: #fff;
  background-color: #bd2130; }

a.badge-danger.focus,
a.badge-danger:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5); }

.badge-light,
.badge-archived {
  color: #212529;
  background-color: #f8f9fa; }

a.badge-light:focus,
a.badge-light:hover {
  color: #212529;
  background-color: #dae0e5; }

a.badge-light.focus,
a.badge-light:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5); }

.badge-dark {
  color: #fff;
  background-color: #343a40; }

a.badge-dark:focus,
a.badge-dark:hover {
  color: #fff;
  background-color: #1d2124; }

a.badge-dark.focus,
a.badge-dark:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5); }

.badge-visitor,
.badge-subscriber {
  background-color: #ffff00 !important;
  color: #000 !important; }

.badge-member {
  background-color: #4682b4 !important;
  color: #fff !important; }

.badge-client {
  background-color: #00ff7f !important;
  color: #000 !important; }

.badge-member-silver,
.badge-wholesale-silver {
  background-color: #a6a6a6 !important;
  color: #000 !important; }

.badge-member-bronze,
.badge-wholesale-bronze {
  background-color: #a57164 !important;
  color: #fff !important; }

.badge-member-gold,
.badge-wholesale-gold {
  background-color: #c39953 !important;
  color: #fff !important; }

.badge-member-platinum,
.badge-wholesale-platinum {
  background-color: #e5e4e2 !important;
  color: #000 !important; }

.badge-contributor,
.badge-author,
.badge-editor,
.badge-moderator,
.badge-manager {
  background-color: #9400d3 !important;
  color: #fff !important; }

.badge-administrator,
.badge-developer {
  background-color: #f8d7da !important;
  color: #000 !important; }

.badge[data-badge]::after,
.badge:not([data-badge])::after {
  display: inline-block;
  transform: translate(-.05rem, -.5rem);
  box-shadow: 0 0 0 .1rem var(--box-shadow-color);
  border-radius: 50%;
  background: var(--badge-background-color);
  background-clip: padding-box;
  color: var(--badge-color);
  content: attr(data-badge); }

.badge[data-badge]::after {
  padding: .2rem .4rem;
  min-width: .9rem;
  height: 1.2rem;
  font-size: .7rem;
  line-height: 1.3;
  text-align: center;
  white-space: nowrap; }

button.badge::after {
  position: absolute;
  top: 0;
  right: -1rem;
  transform: translate(50%, -50%); }

.badge.avatar::after {
  position: absolute;
  top: 14.64%;
  right: 14.64%;
  transform: translate(50%, -50%);
  z-index: 100; }

.badge[data-badge='']::after {
  display: none; }

/* Content Ribbons */
.corner-ribbon:empty {
  display: none; }

.corner-ribbon {
  position: absolute;
  top: 15px;
  left: -70px;
  transform: rotate(-45deg);
  background: #f8f9fa;
  width: 200px;
  color: #212529;
  font-size: .5em !important;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: center; }

.corner-ribbon.sm {
  top: 5px;
  left: -30px;
  line-height: 20px; }

.corner-ribbon.lg {
  top: 20px;
  left: -50px;
  font-size: 20px !important;
  line-height: 60px; }

.corner-ribbon.top-left {
  top: 25px;
  left: -65px;
  transform: rotate(-45deg); }

.corner-ribbon.small.top-left {
  top: 15px;
  left: -80px;
  transform: rotate(-45deg); }

.corner-ribbon.big.top-left {
  top: 28px;
  left: -55px;
  transform: rotate(-45deg); }

.corner-ribbon.top-right {
  top: 25px;
  right: -65px;
  left: auto;
  transform: rotate(45deg); }

.corner-ribbon.small.top-right {
  top: 10px;
  right: -75px;
  left: auto;
  transform: rotate(45deg); }

.corner-ribbon.big.top-right {
  top: 28px;
  right: -55px;
  left: auto;
  transform: rotate(45deg); }

.corner-ribbon.bottom-left {
  top: auto;
  bottom: 25px;
  left: -65px;
  transform: rotate(45deg); }

.corner-ribbon.small.bottom-left {
  top: auto;
  bottom: 10px;
  left: -75px;
  transform: rotate(45deg); }

.corner-ribbon.big.bottom-left {
  top: auto;
  bottom: 28px;
  left: -55px;
  transform: rotate(45deg); }

.corner-ribbon.bottom-right {
  top: auto;
  right: -25px;
  bottom: 65px;
  left: auto;
  transform: rotate(-45deg); }

.corner-ribbon.small.bottom-right {
  top: auto;
  right: -75px;
  bottom: 10px;
  left: auto;
  transform: rotate(-45deg); }

.corner-ribbon.big.bottom-right {
  top: auto;
  right: -55px;
  bottom: 28px;
  left: auto;
  transform: rotate(-45deg); }

.corner-ribbon.black {
  background-color: #333;
  color: #fff; }

.corner-ribbon.danger {
  background-color: var(--danger-border-color);
  color: var(--danger-color); }

.corner-ribbon.dark {
  background-color: var(--dark-background-color);
  color: var(--dark-color); }

.corner-ribbon.info {
  background-color: var(--info-background-color);
  color: var(--info-color); }

.corner-ribbon.light {
  background-color: var(--light-background-color);
  color: var(--light-color); }

.corner-ribbon.primary {
  background-color: var(--primary-background-color);
  color: var(--primary-color); }

.corner-ribbon.secondary {
  background-color: var(--secondary-background-color);
  color: var(--secondary-color); }

.corner-ribbon.success {
  background-color: var(--success-background-color);
  color: var(--success-color); }

.corner-ribbon.warning {
  background-color: var(--warning-background-color);
  color: var(--warning-color); }

.corner-ribbon.white {
  background-color: #f0f0f0;
  color: #555; }

.corner-ribbon.outline-primary {
  border-color: var(--primary-border-color);
  background-color: #fff;
  color: var(--primary-color); }

.corner-ribbon.outline-secondary {
  border-color: var(--secondary-border-color);
  background-color: #fff;
  color: var(--secondary-color); }

.corner-ribbon.outline-success {
  border-color: var(--success-border-color);
  background-color: #fff;
  color: var(--success-color); }

.corner-ribbon.outline-info {
  border-color: var(--info-border-color);
  background-color: #fff;
  color: var(--info-color); }

.corner-ribbon.outline-warning {
  border-color: var(--warning-border-color);
  background-color: #fff;
  color: var(--warning-color); }

.corner-ribbon.outline-danger {
  border-color: var(--danger-border-color);
  background-color: #fff;
  color: var(--danger-color); }

.corner-ribbon.outline-light {
  border-color: var(--light-border-color);
  background-color: #fff;
  color: var(--light-color); }

.corner-ribbon.outline-dark {
  border-color: var(--dark-border-color);
  background-color: #fff;
  color: var(--dark-color); }

.corner-ribbon .quantity {
  font-size: inherit;
  text-align: inherit; }

/* Dialog*/
dialog {
  display: block;
  position: fixed;
  top: 50%;
  right: 0;
  left: 0;
  transform: translate(0, -50%);
  margin: auto;
  outline: 0;
  border: 0;
  border-radius: var(--dialog-border-radius);
  background: #fff;
  padding: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  min-width: var(--dialog-min-width);
  max-width: var(--dialog-max-width);
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  pointer-events: auto;
  color: #000; }

dialog[open] {
  -webkit-animation: dialog-show .45s cubic-bezier(.5, .61, .355, 1) normal;
          animation: dialog-show .45s cubic-bezier(.5, .61, .355, 1) normal; }

dialog[open]::-webkit-backdrop {
  -webkit-animation: dialog-backdrop-show .45s cubic-bezier(.5, .61, .355, 1) normal;
          animation: dialog-backdrop-show .45s cubic-bezier(.5, .61, .355, 1) normal; }

dialog[open]::backdrop {
  -webkit-animation: dialog-backdrop-show .45s cubic-bezier(.5, .61, .355, 1) normal;
          animation: dialog-backdrop-show .45s cubic-bezier(.5, .61, .355, 1) normal; }

dialog:not([open]) {
  display: none; }

dialog::-webkit-backdrop {
  z-index: 1050;
  background-color: rgba(0, 0, 0, .4); }

dialog::backdrop {
  z-index: 1050;
  background-color: rgba(0, 0, 0, .4); }

dialog + .backdrop {
  background-color: rgba(0, 0, 0, .4); }

dialog header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  border-bottom: var(--border-width) var(--border-style) var(--dialog-border-color);
  border-top-right-radius: var(--dialog-border-radius);
  border-top-left-radius: var(--dialog-border-radius);
  background-color: var(--dialog-background-color);
  padding: 1rem;
  width: 100%; }

dialog header .close {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  opacity: .5;
  margin: -1rem -1rem -1rem auto;
  border: 0;
  background-color: transparent;
  padding: 1rem 1rem;
  color: #000;
  font-weight: 700;
  font-size: calc(1.275rem + .3vw);
  line-height: 1;
  text-shadow: 0 1px 0 #fff; }

dialog header .close:focus,
dialog header .close:hover {
  opacity: .75;
  box-shadow: none;
  color: #000;
  text-decoration: none; }

dialog header h1,
dialog header h2,
dialog header h3,
dialog header h4,
dialog header h5,
dialog header h6 {
  margin: 0;
  padding: 0; }

dialog p,
dialog section {
  display: block;
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  overflow-y: auto; }

dialog footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  border-top: var(--border-width) var(--border-style) var(--dialog-border-color);
  border-bottom-right-radius: var(--dialog-border-radius);
  border-bottom-left-radius: var(--dialog-border-radius);
  padding: .75rem; }

@-webkit-keyframes dialog-show {
  0% {
    transform: translateY(-25%);
    opacity: 0; }

  50% {
    opacity: 1; }

  100% {
    transform: translateY(-50%);
    opacity: 1; }
}
@keyframes dialog-show {
  0% {
    transform: translateY(-25%);
    opacity: 0; }

  50% {
    opacity: 1; }

  100% {
    transform: translateY(-50%);
    opacity: 1; }
}
@-webkit-keyframes dialog-backdrop-show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; }
}
@keyframes dialog-backdrop-show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; }
}
