/* stylesheet v0.9 - Aurora - https://github.com/DiemenDesign/stylesheet */
/* This additional Stylesheet contains CSS specific to the extra for AuroraCMS */

.designby {
  position: relative !important;
  width: 100% !important;
  background-color: #000 !important;
  color: #888 !important;
  font-family: sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  text-align: center !important;
  padding: 2px 10px;
  border: 0 solid #000 !important; }

.designby a {
  color: #888 !important; }

.designby a:hover {
  color: #fff !important;
  text-decoration: none !important; }

.designby span,
.designby span + span {
  display: inline-block; }

.designby span + span:before {
  content: "\00a0|\00a0"; }

@media (max-width: 361px) {
  .designby span,
  .designby span + span {
    display: block;
    text-align: center; }

  .designby span + span:before {
    content: " "; }
}

[for="fullname"],
[for="resetfullname"],
[for="signupfullname"] {
  border:0 !important;
  clip:rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  outline: none !important; }

#fullname,
#resetfullname,
#signupfullname {
  display: none; }

.countdown {
  text-align: center;
  font-size: 60px;
  margin: 0; }

.countdown-content small{
  display: block;
  clear: both;
  font-size: 10px;
  line-height: 10px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  padding-top: 2px; }

#countdownDays,
#countdownHours,
#countdownMinutes,
#countdownSeconds {
  float: left;
  margin: 0; }

.countdown-content {
  width: 45%;
  margin: 0 auto; }

.countdown-content p {
  width: calc(97%/4); }


.g-recaptcha {
  display: table;
  margin: 0 auto; }

.orderstheme {
  background-color: #fff !important;
  color: #000 !important;
  font-family: Arial !important;
  font-size: 1em !important;
  font-weight: 400 !important;
  border-color: #ccc !important; }

.order-list *,
.orderstheme * {
  border-color: #f5f5f5 !important; }


.order-list {
  border-radius: 0 !important;
  border-color: #ccc !important; }

.order-list thead {
  background-color: #000 !important; }

.order-list thead tr th {
  background-color: #000 !important;
  font-family: Arial !important;
  font-size: 1em !important;
  font-weight: 700 !important;
  color: #fff !important; }

.order-list tbody tr td {
  background-color: #fff !important;
  font-family: Arial !important;
  font-size: 1em !important;
  font-weight: 400 !important;
  color: #000 !important;
  text-shadow: none !important; }

.order-list tbody tr td a {
  font-family: Arial !important;
  font-size: 1em !important;
  font-weight: 400 !important;
  color: #000 !important;
  text-shadow: none !important; }

.order-list tbody tr td a:hover {
  color: #000 !important;
  text-decoration: underline !important; }

.order-list tbody tr td a.btn {
  color: var(--button-color) !important; }

.order-list tbody tr td a.btn:hover {
  color: var(--button-color-hover) !important;
  text-decoration: none !important; }

#cart * {
  background: #fff !important;
  color: #000 !important;
  font-family: Arial !important;
  text-shadow: none !important; }

#cart thead * {
  background: #000 !important;
  color: #fff !important; }

.cart {
  display: inline-block;
  position: absolute;
  top: -5px;
  right: 0;
  transform: translate(-.05rem, -.5rem);
  box-shadow: 0 0 0 .1rem var(--box-shadow-color);
  border-radius: 50%;
  background: var(--badge-background-color);
  background-clip: padding-box;
  padding: 0 .4rem;
  color: var(--badge-color);
  white-space: nowrap; }

.cart:empty {
  display: none; }

.navbar-cart {
  position: relative;
  display: inline; }

.navbar-cart svg {
  color: #000 !important; }

.navbar-cart .cart {
  position: absolute;
  top: -1px;
  right: 3px;
  width: 37px;
  background-color: transparent;
  font-size: 14px;
  text-align: center;
  color: #fff;
  border: 0;
  border-radius: 0;
  box-shadow: 0; }

.price {
  display: block; }

.price .rrp {
  display: block;
  font-size: 1rem; }

.price .cost {
  display: block;
  font-size: 2.5rem; }

.price .cost.strike {
  font-size: 1.5rem;
  text-decoration: line-through wavy red; }

.price .reduced {
  font-size: 2.5rem; }

.quantity {
  display: block;
  font-size: 1.5rem; }

.corner-ribbon .quantity {
  font-size: inherit; }

.content-quantity,
.content-condition,
.content-weight,
.content-size {
  vertical-align: top;
  font-size: 1rem;
  text-transform: capitalize; }

.content-brand img {
  width: 25%;
  max-height: 25%; }

/* Featured */
.slider-wrapper {
  position: relative; }

.slider {
  position: relative !important;
  list-style: none;
  overflow: hidden;
  width: 100%;
  height: var(--slider-height) !important;
  padding: 0;
  margin: 0; }

.slider li {
  -webkit-backface-visibility: hidden;
  display: none;
  width: 100%;
  height: var(--slider-height) !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.slider li:first-child {
  display: block; }

.slider img {
  z-index: 0;
  display: flex !important;
  width: 100%;
  height: auto !important;
  object-fit: cover !important;
  border: 0;
  filter: blur(10px) brightness(0.25); }

.slider .slider-content{
  z-index: 1;
  position: absolute;
  background-color: transparent;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1.2em !important;
  color: #fff !important;
  text-transform: uppercase !important; }

.slider .slider-content img {
  display: block;
  width: auto;
  height: auto;
  border: 5px solid #fff;
  border-radius: .25em;
  box-shadow: 1px 2px 10px #000;
  filter: blur(0px) brightness(1);
  transform: rotate(-5deg); }

.slider .slider-content .order-1 img {
  margin-left: 100px !important; }

.slider .slider-content .order-2 img {
  margin-left: -30px !important; }

@media (max-width: 360px) {
  .slider .slider-content .order-1 img {
    margin-left: 50px !important; }

  .slider .slider-content .order-2 img {
    margin-left: 50px !important; }
}

.slider .slider-content img.rot1 {
  transform: rotate(3deg); }

.slider .slider-content img.rot2 {
  transform: rotate(4deg); }

.slider .slider-content img.rot3 {
  transform: rotate(5deg); }

.slider .slider-content img.rot4 {
  transform: rotate(-3deg); }

.slider .slider-content img.rot5 {
  transform: rotate(-4deg); }

.slider .slider-content img.rot6 {
  transform: rotate(-5deg); }

.slider .folder .thumb {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important; }

.slider .folder .thumb img {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  border: 0 !important;
  margin: -48px 0 0 0 !important;
  padding: 0 !important;
  border-radius: 0 !important;
  transform: rotate(0deg) !important; }

.slider .folder .slider-content .info {
  display: none !important; }

.slider .slider-content .folder +

.slider .slider-content .slider-title {
  font-size: 2em;
  font-weight: 700;
  color: #fff !important;
  text-transform: none; }

.slider .slider-content .slider-caption {
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
  color: #fff !important; }

.slider .slider-content .slider-caption .btn {
}

.slider-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("data:image/gif;base64,R0lGODlhTAA9AMQAABAQEDAwMO/v78/Pz7+/v39/f6+vr1BQUCAgIGBgYJ+fn0BAQN/f33BwcI+Pj////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAAAAAAALAAAAABMAD0AAAXkICSOZGmeaKqubOu+cCzPdG3feK7vfO//wKBwSCwaj8ikcslsOp/QqHRKrVqv2Fog4NsiAYTHY8ALPwiAImAgFi90gfY4PVTIyTuzWDEsyAUIPAACcgVBCXIPbz1xcgk/AYRthj8Nf1yCkmIGQnZtAnQ6eg8MoT9rcgQ7jW2YQqxirjeDcg5Efp+mNweJj0G8cgc9uGICsjyRhT+eYqU+qG2cp2zRPsxzQbSTPJafga+aD984CImLQ4itOuVtvkULBgTCOwcGBvNZ+fr7/P3+/wADChxIsKDBgwgTKlzIsKFDKSEAADs=") no-repeat left top; }

.slider-btns_nav:hover,
.slider-btns_nav:active {
  opacity: 1; }

.slider-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0; }

.slider-btns_nav:focus {
  outline: none; }

.slider-btns_tabs {
  margin-top: 10px;
  text-align: center; }

.slider-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px; }

.slider-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px; }

.slider-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8); }

.attribution {
  display: none; }

/* Bookings */
input.service[type=radio]:checked + label .service {
  outline: none !important;
  box-shadow: 0 0 0 .2rem  var(--form-focus-shadow);
  border-width: var(--border-width) !important;
  border-color: var(--form-focus-border-color); }

/* For Leaflet map */
.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane > svg,
.leaflet-pane > canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0; }

.leaflet-container {
  overflow: hidden; }

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none; }

.leaflet-tile::selection {
  background: transparent; }

.leaflet-safari .leaflet-tile {
  image-rendering: -webkit-optimize-contrast; }

.leaflet-safari .leaflet-tile-container {
  width: 1600px;
  height: 1600px;
  -webkit-transform-origin: 0 0; }

.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block; }

.leaflet-container .leaflet-overlay-pane svg,
.leaflet-container .leaflet-marker-pane img,
.leaflet-container .leaflet-shadow-pane img,
.leaflet-container .leaflet-tile-pane img,
.leaflet-container img.leaflet-image-layer,
.leaflet-container .leaflet-tile {
  max-width: none !important;
  max-height: none !important; }

.leaflet-container.leaflet-touch-zoom {
  -ms-touch-action: pan-x pan-y;
  touch-action: pan-x pan-y; }

.leaflet-container.leaflet-touch-drag {
  -ms-touch-action: pinch-zoom;
  touch-action: none;
  touch-action: pinch-zoom; }

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
  -ms-touch-action: none;
  touch-action: none; }

.leaflet-container {
  -webkit-tap-highlight-color: transparent; }

.leaflet-container a {
  -webkit-tap-highlight-color: rgba(51, 181, 229, .4); }

.leaflet-tile {
  filter: inherit;
  visibility: hidden; }

.leaflet-tile-loaded {
  visibility: inherit; }

.leaflet-zoom-box {
  width: 0;
  height: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 800; }

.leaflet-overlay-pane svg {
  -moz-user-select: none; }

.leaflet-pane {
  z-index: 400; }

.leaflet-tile-pane {
  z-index: 200; }

.leaflet-overlay-pane {
  z-index: 400; }

.leaflet-shadow-pane {
  z-index: 500; }

.leaflet-marker-pane {
  z-index: 600; }

.leaflet-tooltip-pane {
  z-index: 650; }

.leaflet-popup-pane {
  z-index: 700; }

.leaflet-map-pane canvas {
  z-index: 100; }

.leaflet-map-pane svg {
  z-index: 200; }

.leaflet-vml-shape {
  width: 1px;
  height: 1px; }

.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute; }

.leaflet-control {
  position: relative;
  z-index: 800;
  pointer-events: visiblePainted;
  pointer-events: auto; }

.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none; }

.leaflet-top {
  top: 0; }

.leaflet-right {
  right: 0; }

.leaflet-bottom {
  bottom: 0; }

.leaflet-left {
  left: 0; }

.leaflet-control {
  float: left;
  clear: both; }

.leaflet-right .leaflet-control {
  float: right; }

.leaflet-top .leaflet-control {
  margin-top: 10px; }

.leaflet-bottom .leaflet-control {
  margin-bottom: 10px; }

.leaflet-left .leaflet-control {
  margin-left: 10px; }

.leaflet-right .leaflet-control {
  margin-right: 10px; }

.leaflet-fade-anim .leaflet-tile {
  will-change: opacity; }

.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  transition: opacity .2s linear; }

.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1; }

.leaflet-zoom-animated {
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0; }

.leaflet-zoom-anim .leaflet-zoom-animated {
  will-change: transform; }

.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform .25s cubic-bezier(0, 0, .25, 1);
  -moz-transition: -moz-transform .25s cubic-bezier(0, 0, .25, 1);
  transition: transform .25s cubic-bezier(0, 0, .25, 1); }

.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none; }

.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden; }

.leaflet-interactive {
  cursor: pointer; }

.leaflet-grab {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab; }

.leaflet-crosshair,
.leaflet-crosshair .leaflet-interactive {
  cursor: crosshair; }

.leaflet-popup-pane,
.leaflet-control {
  cursor: auto; }

.leaflet-dragging .leaflet-grab,
.leaflet-dragging .leaflet-grab .leaflet-interactive,
.leaflet-dragging .leaflet-marker-draggable {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing; }

.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-image-layer,
.leaflet-pane > svg path,
.leaflet-tile-container {
  pointer-events: none; }

.leaflet-marker-icon.leaflet-interactive,
.leaflet-image-layer.leaflet-interactive,
.leaflet-pane > svg path.leaflet-interactive,
svg.leaflet-image-layer.leaflet-interactive path {
  pointer-events: visiblePainted;
  pointer-events: auto; }

.leaflet-container {
  background: #ddd;
  outline: 0; }

.leaflet-container a {
  color: #0078a8; }

.leaflet-container a.leaflet-active {
  outline: 2px solid #f40; }

.leaflet-zoom-box {
  border: 2px dotted #38f;
  background: rgba(255, 255, 255, .5); }

.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif; }

.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, .65);
  border-radius: 4px; }

.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: var(--button-background-color);
  border-bottom: 1px solid var(--button-border-color);
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--button-color); }

.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block; }

.leaflet-bar a:hover {
  background-color: var(--button-background-color-hover);
  color: var(--button-color-hover); }

.leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 0; }

.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: var(--button-background-color-disabled);
  color: var(--button-color-disabled); }

.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 9px; }

.leaflet-touch .leaflet-bar a:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.leaflet-touch .leaflet-bar a:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: -4px; }

.leaflet-touch .leaflet-control-zoom-in,
.leaflet-touch .leaflet-control-zoom-out {
  font-size: 22px; }

.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
  background: transparent;
  border-radius: 5px; }

.leaflet-control-layers-toggle {
  background-image: url(../images/layers.png);
  width: 36px;
  height: 36px; }

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(../images/layers-2x.png);
  background-size: 26px 26px; }

.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px; }

.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none; }

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative; }

.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff; }

.leaflet-control-layers-scrollbar {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 5px; }

.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px; }

.leaflet-control-layers label {
  display: block; }

.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px; }

.leaflet-default-icon-path {
  background-image: url(../images/marker-icon.png); }

.leaflet-container .leaflet-control-attribution {
  background: var(--card-figcaption-background-color);
  margin: 0; }

.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding: 0 5px;
  color: var(--card-figcaption-color); }

.leaflet-control-attribution a {
  color: var(--card-figcaption-color);
  text-decoration: none; }

.leaflet-control-attribution a:hover {
  text-decoration: underline; }

.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size: 11px; }

.leaflet-left .leaflet-control-scale {
  margin-left: 5px; }

.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px; }

.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: 0;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  background: rgba(255, 255, 255, .5); }

.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: 0;
  margin-top: -2px; }

.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777; }

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  box-shadow: none; }

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  background-clip: padding-box; }

.leaflet-popup {
  position: absolute;
  text-align: center;
  margin-bottom: 20px; }

.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px; }

.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4; }

.leaflet-popup-content p {
  margin: 18px 0; }

.leaflet-popup-tip-container {
  width: 40px;
  height: 20px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  overflow: hidden;
  pointer-events: none; }

.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #fff;
  color: #333;
  box-shadow: 0 3px 14px rgba(0, 0, 0, .4); }

.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  border: 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma,Verdana,sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: 700;
  background: transparent; }

.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999; }

.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd; }

.leaflet-oldie .leaflet-popup-content-wrapper {
  -ms-zoom: 1; }

.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;
  -ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678,M12=0.70710678,M21=-0.70710678,M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678,M12=0.70710678,M21=-0.70710678,M22=0.70710678); }

.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px; }

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999; }

.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666; }

.leaflet-tooltip {
  position: absolute;
  padding: 6px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #222;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .4); }

.leaflet-tooltip.leaflet-clickable {
  cursor: pointer;
  pointer-events: auto; }

.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
  position: absolute;
  pointer-events: none;
  border: 6px solid transparent;
  background: transparent;
  content: ""; }

.leaflet-tooltip-bottom {
  margin-top: 6px; }

.leaflet-tooltip-top {
  margin-top: -6px; }

.leaflet-tooltip-bottom:before,
.leaflet-tooltip-top:before {
  left: 50%;
  margin-left: -6px; }

.leaflet-tooltip-top:before {
  bottom: 0;
  margin-bottom: -12px;
  border-top-color: #fff; }

.leaflet-tooltip-bottom:before {
  top: 0;
  margin-top: -12px;
  margin-left: -6px;
  border-bottom-color: #fff; }

.leaflet-tooltip-left {
  margin-left: -6px; }

.leaflet-tooltip-right {
  margin-left: 6px; }

.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
  top: 50%;
  margin-top: -6px; }

.leaflet-tooltip-left:before {
  right: 0;
  margin-right: -12px;
  border-left-color: #fff; }

.leaflet-tooltip-right:before {
  left: 0;
  margin-left: -12px;
  border-right-color: #fff; }

#gl {
  width: auto;
  height: 500px; }

#map {
  height: 400px; }

/* Testimonials using Blockquotes */
.testimonials {
  flex-grow:2;
  margin:1rem .5rem !important;
  border-left:0;
  text-align:center; }

.testimonials img {
  border-radius: 50%;
  width: 128px;
  max-height: 128px; }

.testimonials p {
  font-size: 1rem;
  line-height: 1.2em; }

.testimonials p:before {
  padding-right: .2rem;
  font-size: 4em;
  content: "\201C "; }

.testimonials footer {
  display: block !important;
  background-color: transparent;
  margin: 0;
  padding: 1rem 0 0 0; }

.testimonials h2,
.testimonials h3,
.testimonials h4,
.testimonials h5,
.testimonials h6 {
  margin: 0;
  text-align: center; }

/* Quick view */
.card-image {
  position: relative;
  overflow: hidden; }

.quickview-image {
  height: calc(100vh - 280px);
  overflow: hidden; }


.quickview-choices select {
  background-color: var(--form-background-color) !important;
  color: var(--form-color) !important; }

.quickview-choices select:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: var(--form-border-color); }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; }
}

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; }
}

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; }
}

.card-image .quickview .btn {
  object-position: center; }

h1.quickview-header,
h2.quickview-header,
h3.quickview-header,
h4.quickview-header,
h5.quickview-header,
h6.quickview-header,
.quickview-footer h3 {
  font-family: var(--font) !important;
  color: #fff !important;
  text-shadow: none !important; }

.quickview-footer {
  background-color: #000 !important;
  background-image: none !important;}

.quickview-body {
  width: 100%;
  height: 180px;
  overflow-x: none;
  overflow-y: auto; }

.quickview-image img {
  height: 100% !important;
  object-fit: scale-down;
  object-position: top; }

.quickview-thumbs {
  height: 100%;
  max-height: 100%;
  overflow: none;
  overflow-y: auto; }

.quickview-thumbs img {
  border: 2px solid transparent; }

.quickview-thumbs img.active {
  border: 2px solid #f00; }

.jello {
  -webkit-animation: jello .9s both;
  animation: jello .9s both; }

@-webkit-keyframes jello {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1); }
  40% {
    -webkit-transform: scale3d(.75, 1.25, 1);
    transform: scale3d(.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1); }
  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
}

@keyframes jello {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1) ;}
  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1); }
  40% {
    -webkit-transform: scale3d(.75, 1.25, 1);
    transform: scale3d(.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1); }
  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
}

nav[role="navigation"].account-menu {
  z-index: 1201 !important;
  position: relative !important;
  width: 100% !important;
  height: 55px !important;
  background: #000 !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: Arial !important;
  font-size: 16px !important;
  line-height: 1.7 !important; }

nav[role="navigation"].account-menu .right {
  display: block !important;
  position: absolute !important;
  top: 10px !important;
  right: 10px !important; }

nav[role="navigation"].account-menu ul {
  border: 0 !important;
  right: 0 !important;
  margin: 0 0 0 auto !important;
  background: #000 !important; }

nav[role="navigation"].account-menu ul li {
  border: 0 !important;
  margin: 0 !important;
  background: #000 !important;
  color: #aaa !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.7 !important;
  vertical-align: middle !important;
  text-align: center !important;}

nav[role="navigation"].account-menu ul li a,
nav[role="navigation"].account-menu button[role="link"] {
  border: 0 !important;
  font-family: arial !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  width: 100% !important;
  background: #000 !important;
  color: #aaa !important;
  margin: 0 !important;
  padding: .5em 1em !important;
  line-height: 1.7 !important;
  text-transform: none !important;
  text-shadow: none !important;
  border-radius: 0 !important; }

nav[role="navigation"].account-menu ul li a:hover,
nav[role="navigation"].account-menu button[role="link"]:hover {
  border: 0 !important;
  color: #fff !important;
  text-decoration: none !important;
  text-shadow: none !important; }

nav[role="navigation"].account-menu ul li.active,
nav[role="navigation"].account-menu ul li.active a{
  border: 0 !important;
  background: #000 !important;
  color: #fff !important;
  border-radius: 0 !important; }

nav[role="navigation"].account-menu label {
  font-family: Arial !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  background: #000 !important;
  border-color: #000 !important;
  color: #aaa !important; }

nav[role="navigation"].account-menu label:hover {
  color: #ddd !important; }

nav[role="navigation"].account-menu #accountavatar {
  width: 32px !important;
  max-height: 32px !important;
  border-radius: 5px !important; }

/* Popup Stripe Payments */
.popup-payment {
  font-family: sans-serif !important;
  font-size: 1em !important;
  color: #0A2540 !important; }

.popup-payment input,
.popup-payment select {
  font-size: 1.1em !important;
  width: 100% !important; }

.popup-payment a {
  color: #635BFF !important;
  font-weight: 900 !important; }

/* Forum */
#addreply,
#newpost {
  position: relative !important; }

.forum-header {
  background-color: var(--forum-head-background-color) !important;
  color: var(--forum-head-color) !important;
  border: var(--card-border-width) var(--card-border-style) var(--card-border-color) !important;
  border-bottom: 0 !important;
  border-top-left-radius: var(--border-radius) !important;
  border-top-right-radius: var(--border-radius) !important; }

.forum-header + .card {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important; }

.forum-topic-avatar {
  max-width: 48px;
  height: 48px; }

.forum-read {
  color: var(--forum-read) !important;
  fill: var(--forum-read) !important; }

.forum-topic-avatar.forum-read {
  border: var(--forum-read-border-width) solid var(--forum-read-border-color) !important; }

.forum-unread {
  color: var(--forum-unread) !important;
  fill: var(--forum-unread) !important; }

.forum-topic-avatar.forum-unread {
  border: var(--forum-unread-border-width) solid var(--forum-unread-border-color) !important; }

.forum-pin {
  fill: var(--forum-pin-color); }

.forum-avatar {
  max-width: 128px;
  height: 128px; }

.forum-toolbar {
  text-align: right; }

.forum-item-unread {
  background-color: var(--success-background-color) !important; }

.forum-item:hover {
  background-color: #fafafa; }

.forum-vote {
  display: inline-block;
  text-align: center; }

.forum-vote-number {
  font-size: 18px;
  color: #888;
  font-weight: 700; }

.btn-forum-vote {
  background: none !important;
  border: 0 !important;
  color: #ccc !important;
  font-size: 20px !important;
  margin: 0 !important; }

.btn-forum-vote:hover,
.btn-forum-vote:focus {
  background: none !important;
  border: 0 !important;
  color: #000 !important; }

.forum-post blockquote,
.note-editable blockquote {
  background: var(--forum-blockquote-background-color, #ebebeb) url(../images/quote.gif) 6px 8px no-repeat !important;
  border: 1px solid var(--forum-blockquote-border-color, #dbdbdb) !important;
  font-size: 0.95em !important;
  color: var(--forum-blockquote-color, #000) !important;
  margin: 0.1em 0 0 0 !important;
  overflow: hidden !important;
  padding: 5px !important; }

.forum-post blockquote cite,
.note-editable blockquote cite {
  font-style: normal !important;
  font-weight: bold !important;
  margin-left: 20px !important;
  display: block !important;
  font-size: 0.9em !important; }

.status {
  display: inline-block !important;
  width: 100% !important;
  text-align: center !important;
  border-radius: var(--border-radius); }

.status.urgent,
.status .urgent {
  color: #fff !important;
  background-color: #dc3545 !important; }

.status.in-progress,
.status .in-progress {
  color: #fff !important;
  background-color: #007bff !important; }

.status.closed,
.status .closed {
  color: #fff !important;
  background-color: #343a40 !important; }

.note-emoji-list {
	width: 180px;
	height: 200px;
	overflow: auto;
	padding-left: 5px;
  white-space: normal; }

.note-emoji-list button,
.note-emoji-list button:hover,
.note-emoji-list button:focus {
  background: none !important;
  border: 0 !important;
  margin-top: 5px;
  margin-right: 5px;
  padding: 0; }

.note-emoji-list button:hover {
  background-color: #f5f5f5 !important; }

.note-emoji-list .note-emoji-btn img {
  width: 20px; }

img.emoji-img-inline {
  display: inline-block;
  margin-top:-0.3em;
  height: 1.2em;
  width: auto; }

.note-emoji-search {
	margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px; }
