/* stylesheet v0.9 - Helpers - https://github.com/DiemenDesign/stylesheet */

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px; }
}

@media (min-width: 768px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 720px; }
}

@media (min-width: 992px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px; }
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px; }
}

@media (min-width: 1400px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1320px; }
}

.row {
  display: flex;
  flex: 1 0 100%;
  flex-wrap: wrap;
  align-items: flex-start; }

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%; }

[class^="col-"],
.col-auto {
  width: auto; }

.col--5 {
  width: 4.1666665; }

.col-1 {
  width: 8.333333%; }

.col-1-5 {
  width: 12.4999995; }

.col-2 {
  width: 16.666667%; }

.col-2-5 {
  width: 20.8333315%; }

.col-3 {
  width: 25%; }

.col-3-5 {
  width: 29.1666665; }

.col-4 {
  width: 33.333333%; }

.col-4-5 {
  width: 37.4999995; }

.col-5 {
  width: 41.666667%; }

.col-5-5 {
  width: 45.833332; }

.col-6 {
  width: 50%; }

.col-6-5 {
  width: 54.166665 }

.col-7 {
  width: 58.333333%; }

.col-7-5 {
  width: 62.4999995; }

.col-8 {
  width: 66.666667%; }

.col-8-5 {
  width: 70.833332; }

.col-9 {
  width: 75%; }

.col-9-5 {
  width: 79.1666665 }

.col-10 {
  width: 83.333333%; }

.col-10-5 {
  width: 87.499998; }

.col-11 {
  width: 91.666667%; }

.col-11-5 {
  width: 95.833332; }

.col-12 {
  width: 100%; }

@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%; }

  [class^="col-sm-"],
  .col-sm-auto {
    flex: 0 0 auto; width: auto; }

  .col-sm--5 {
    width: 4.1666665; }

  .col-sm-1 {
    width: 8.333333%; }

  .col-sm-1-5 {
    width: 12.4999995; }

  .col-sm-2 {
    width: 16.666667%; }

  .col-sm-2-5 {
    width: 20.8333315%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-3-5 {
    width: 29.1666665; }

  .col-sm-4 {
    width: 33.333333%; }

  .col-sm-4-5 {
    width: 37.4999995; }

  .col-sm-5 {
    width: 41.666667%; }

  .col-sm-5-5 {
    width: 45.833332; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-6-5 {
    width: 54.166665 }

  .col-sm-7 {
    width: 58.333333%; }

  .col-sm-7-5 {
    width: 62.4999995; }

  .col-sm-8 {
    width: 66.666667%; }

  .col-sm-max-8 {
    min-width: 66.666667% !important; }

  .col-sm-8-5 {
    width: 70.833332; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-9-5 {
    width: 79.1666665 }

  .col-sm-10 {
    width: 83.333333%; }

  .col-sm-10-5 {
    width: 87.499998; }

  .col-sm-11 {
    width: 91.666667%; }

  .col-sm-11-5 {
    width: 95.833332; }

  .col-sm-12 {
    width: 100%; }
}

@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%; }

  [class^="col-md-"],
  .col-md-auto {
    flex: 0 0 auto; width: auto; }

  .col-md--5 {
    width: 4.1666665; }

  .col-md-1 {
    width: 8.333333%; }

  .col-md-1-5 {
    width: 12.4999995; }

  .col-md-2 {
    width: 16.666667%; }

  .col-md-2-5 {
    width: 20.8333315%; }

  .col-md-3 {
    width: 25%; }

  .col-md-3-5 {
    width: 29.1666665; }

  .col-md-4 {
    width: 33.333333%; }

  .col-md-4-5 {
    width: 37.4999995; }

  .col-md-5 {
    width: 41.666667%; }

  .col-md-5-5 {
    width: 45.833332; }

  .col-md-6 {
    width: 50%; }

  .col-md-6-5 {
    width: 54.166665 }

  .col-md-7 {
    width: 58.333333%; }

  .col-md-7-5 {
    width: 62.4999995; }

  .col-md-8 {
    width: 66.666667%; }

  .col-md-8-5 {
    width: 70.833332; }

  .col-md-9 {
    width: 75%; }

  .col-md-9-5 {
    width: 79.1666665 }

  .col-md-10 {
    width: 83.333333%; }

  .col-md-10-5 {
    width: 87.499998; }

  .col-md-11 {
    width: 91.666667%; }

  .col-md-11-5 {
    width: 95.833332; }

  .col-md-12 {
    width: 100%; }
}
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%; }

  [class^="col-lg-"],
  .col-lg-auto {
    flex: 0 0 auto; width: auto; }

  .col-lg--5 {
    width: 4.1666665; }

  .col-lg-1 {
    width: 8.333333%; }

  .col-lg-1-5 {
    width: 12.4999995; }

  .col-lg-2 {
    width: 16.666667%; }

  .col-lg-2-5 {
    width: 20.8333315%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-3-5 {
    width: 29.1666665; }

  .col-lg-4 {
    width: 33.333333%; }

  .col-lg-4-5 {
    width: 37.4999995; }

  .col-lg-5 {
    width: 41.666667%; }

  .col-lg-5-5 {
    width: 45.833332; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-6-5 {
    width: 54.166665 }

  .col-lg-7 {
    width: 58.333333%; }

  .col-lg-7-5 {
    width: 62.4999995; }

  .col-lg-8 {
    width: 66.666667%; }

  .col-lg-8-5 {
    width: 70.833332; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-9-5 {
    width: 79.1666665 }

  .col-lg-10 {
    width: 83.333333%; }

  .col-lg-10-5 {
    width: 87.499998; }

  .col-lg-11 {
    width: 91.666667%; }

  .col-lg-11-5 {
    width: 95.833332; }

  .col-lg-12 {
    width: 100%; }
}
@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0%; }

  [class^="col-xl-"],
  .col-xl-auto {
    flex: 0 0 auto; width: auto; }

  .col-xl--5 {
    width: 4.1666665; }

  .col-xl-1 {
    width: 8.333333%; }

  .col-xl-1-5 {
    width: 12.4999995; }

  .col-xl-2 {
    width: 16.666667%; }

  .col-xl-2-5 {
    width: 20.8333315%; }

  .col-xl-3 {
    width: 25%; }

  .col-xl-3-5 {
    width: 29.1666665; }

  .col-xl-4 {
    width: 33.333333%; }

  .col-xl-4-5 {
    width: 37.4999995; }

  .col-xl-5 {
    width: 41.666667%; }

  .col-xl-5-5 {
    width: 45.833332; }

  .col-xl-6 {
    width: 50%; }

  .col-xl-6-5 {
    width: 54.166665 }

  .col-xl-7 {
    width: 58.333333%; }

  .col-xl-7-5 {
    width: 62.4999995; }

  .col-xl-8 {
    width: 66.666667%; }

  .col-xl-8-5 {
    width: 70.833332; }

  .col-xl-9 {
    width: 75%; }

  .col-xl-9-5 {
    width: 79.1666665 }

  .col-xl-10 {
    width: 83.333333%; }

  .col-xl-10-5 {
    width: 87.499998; }

  .col-xl-11 {
    width: 91.666667%; }

  .col-xl-11-5 {
    width: 95.833332; }

  .col-xl-12 {
    width: 100%; }
}
@media (min-width: 1400px) {
  .col-xxl {
    flex: 1 0 0%; }

  [class^="col-xxl-"],
  .col-xxl-auto {
    flex: 0 0 auto; width: auto; }

  .col-xxl--5 {
    width: 4.1666665; }

  .col-xxl-1 {
    width: 8.333333%; }

  .col-xxl-1-5 {
    width: 12.4999995; }

  .col-xxl-2 {
    width: 16.666667%; }

  .col-xxl-2-5 {
    width: 20.8333315%; }

  .col-xxl-3 {
    width: 25%; }

  .col-xxl-3-5 {
    width: 29.1666665; }

  .col-xxl-4 {
    width: 33.333333%; }

  .col-xxl-4-5 {
    width: 37.4999995; }

  .col-xxl-5 {
    width: 41.666667%; }

  .col-xxl-5-5 {
    width: 45.833332; }

  .col-xxl-6 {
    width: 50%; }

  .col-xxl-6-5 {
    width: 54.166665 }

  .col-xxl-7 {
    width: 58.333333%; }

  .col-xxl-7-5 {
    width: 62.4999995; }

  .col-xxl-8 {
    width: 66.666667%; }

  .col-xxl-8-5 {
    width: 70.833332; }

  .col-xxl-9 {
    width: 75%; }

  .col-xxl-9-5 {
    width: 79.1666665 }

  .col-xxl-10 {
    width: 83.333333%; }

  .col-xxl-10-5 {
    width: 87.499998; }

  .col-xxl-11 {
    width: 91.666667%; }

  .col-xxl-11-5 {
    width: 95.833332; }

  .col-xxl-12 {
    width: 100%; }
}

.w-5 {
  width: 5% !important; }

.w-10 {
  width: 10% !important; }

.w-20 {
  width: 20% !important; }

.w-25 {
  width: 25% !important; }

.w-33 {
  width: 33% !important; }

.w-50 {
  width: 50% !important; }

.w-66 {
  width: 66% !important; }

.w-75 {
  width: 75% !important; }

.w-90 {
  width: 90% !important; }

.w-100 {
  width: 100% !important; }

.w-auto {
  width: auto !important; }

.mw-100 {
  max-width: 100% !important; }

.vw-10 {
  width: 10vw !important; }

.vw-25 {
  width: 25vw !important; }

.vw-33 {
  width: 33vw !important; }

.vw-50 {
  width: 50vw !important; }

.vw-75 {
  width: 75vw !important; }

.vw-90 {
  width: 90vw !important; }

.vw-100 {
  width: 100vw !important; }

.min-vw-100 {
  min-width: 100vw !important; }

.h-5 {
  height: 5% !important; }

.h-10 {
  height: 10% !important; }

.h-25 {
  height: 25% !important; }

.h-33 {
  height: 33% !important; }

.h-50 {
  height: 50% !important; }

.h-75 {
  height: 75% !important; }

.h-100 {
  height: 100% !important; }

.h-auto {
  height: auto !important; }

.mh-100 {
  max-height: 100% !important; }

.vh-10 {
  height: 10vh !important; }

.vh-25 {
  height: 25vh !important; }

.vh-33 {
  height: 33vh !important; }

.vh-50 {
  height: 50vh !important; }

.vh-66 {
  height: 66vh !important; }

.vh-75 {
  height: 75vh !important; }

.vh-90 {
  height: 90vh !important; }

.vh-100 {
  height: 100vh !important; }

.min-vh-100 {
  min-height: 100vh !important; }
