/* stylesheet v0.9 - Vars - https://github.com/DiemenDesign/stylesheet */

:root {
  --aurora-background-color: #f5f6fa;
  --aurora-background-image: url(../images/auroracms.webp);
  --aurora-logo-color: #000;
  --font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-size: 1rem;
  --accent-color: #007bff;
  --body-background-color: #fafbff;
  --color: #000;
  --color-muted: #6c757d;
  --link-color: #0044ff;
  --link-color-hover: #0056C4;
  --text-decoration-wave-color: #f00;
  --content-background-color: #920de90b;
  --content-border-color: #007bff;
  --box-shadow-x: .05rem;
  --box-shadow-y: .07rem;
  --box-shadow-spread: .075rem;
  --box-shadow-color: rgba(0, 0, 0, .07);
  --shadow-color: rgba(0, 0, 0, .15);
  --shadow-sm-color: rgba(0, 0, 0, .075);
  --shadow-md-color: rgb(0 0 0 / 10%);
  --shadow-lg-color: rgba(0, 0, 0, .175);
  --border-radius: .25rem;
  --border-color: #e9e9e9;
  --border-width: 1px;
  --border-style: solid;
  --mark-background-color: #ff0;
  --figcaption-color: #888;

  --header-background-color: #fff;
  --header-color: #000;
  --header-logo-color: #000;

  --nav-toggle-color: #000;

  --address-background-color: #fff;
  --address-color: #000;

  --footer-background-color: #fff;
  --footer-color: #000;

  --menu-background-color: transparent;
  --menu-background-color-hover: transparent;
  --menu-background-color-active: transparent;
  --menu-button-color: #fff;
  --menu-button-color-hover: #f5f5f5;
  --menu-button-background-color: #007bff;
  --menu-button-background-color-hover: #0069d9;
  --menu-button-border-color: #007bff;
  --menu-button-border-color-hover: #0069d9;
  --menu-button-border-width: 1px;
  --menu-button-border-width-hover: 1px;
  --menu-button-border-style: solid;
  --menu-button-border-color: #007bff;
  --menu-button-border-color-hover: #007bff;
  --menu-button-border-radius: .25rem;
  --menu-color: #000;
  --menu-color-active: #000;
  --menu-link-color: #444;
  --menu-link-color-hover: #666;
  --menu-link-color-active: #000;
  --menu-dropdown-color: #444;
  --menu-dropdown-color-hover: #666;
  --menu-dropdown-background-color: #fff;
  --menu-dropdown-background-color-hover: #f5f5f5;
  --menu-dropdown-border-color: #e9e9e9;

  --sidebar-background-color: #fff;
  --sidebar-background-color-active: #fff;
  --sidebar-color: #818181;
  --sidebar-color-hover: #000;
  --sidebar-color-active: #000;
  --sidebar-open: #fff;

  --tab-background-color: #fff;
  --tab-background-color-hover: #fff;
  --tab-background-color-active: #fff;
  --tab-background-color-disabled: #aaa;
  --tab-color: #565e64;
  --tab-color-hover: #6169d0;
  --tab-color-active: #000;
  --tab-color-disabled: #aaa;
  --tab-border-width: 1px;
  --tab-border-style: solid;
  --tab-border-color: #dee2e6;
  --tab-border-color-hover: #dee2e6;
  --tab-border-color-active: #000;
  --tab-border-color-disabled: #aaa;
  --tab-border-radius: .25rem;

  --button-color: #313a46;
  --button-color-hover: #313a46;
  --button-color-active: #313a46;
  --button-color-disabled: #000;
  --button-background-color: #fff;
  --button-background-color-hover: #eef2f7;
  --button-background-color-active: #eef2f7;
  --button-background-color-disabled: #888;
  --button-border-width: 1px;
  --button-border-width-hover: 1px;
  --button-border-width-active: 1px;
  --button-border-width-disabled: 1px;
  --button-border-style: solid;
  --button-border-style-hover: solid;
  --button-border-style-active: solid;
  --button-border-style-disabled: solid;
  --button-border-color: #dee2e6;
  --button-border-color-hover: #dee2e6;
  --button-border-color-active: #dee2e6;
  --button-border-color-disabled: #888;
  --button-border-radius: .15rem;
  --button-shadow: 0 2px 6px 0 rgb(238 242 247 / 50%);
  --button-shadow-hover: 0 3px 7px 0 rgb(238 242 247 / 50%);

  --table-background-color: #fff;
  --table-color: #000;
  --table-head-background-color: #fff;
  --table-head-color: #000;
  --table-border-color: #e9e9e9;
  --table-zebra-background: #f1f3fa;

  --bg-white: #fff;

  --alert-danger-background-color: rgba(250,92,124,.18);
  --alert-danger-border-color: rgba(250,92,124,.25);
  --alert-danger-color: #ee5776;
  --alert-danger-link: #af4057;
  --danger-background-color: #fa5c7c;
  --danger-background-color-hover: #d54e69;
  --danger-border-color: #fa5c7c;
  --danger-border-color-hover: #c84a63;
  --danger-color: #dc3545;
  --danger-color-contrast: #fff;
  --danger-link: #6a1a21;
  --danger-shadow: 0 2px 6px 0 rgb(250 92 124 / 50%);
  --alert-dark-background-color: rgba(49,58,70,.18);
  --alert-dark-border-color: rgba(49,58,70,.25);
  --alert-dark-color: #2f3743;
  --alert-dark-link: #222931;
  --dark-background-color: #313a46;
  --dark-background-color-hover: #2a313c;
  --dark-border-color: #313a46;
  --dark-border-color-hover: #272e38;
  --dark-color: #212529;
  --dark-color-contrast: #fff;
  --dark-link: #101214;
  --dark-shadow: 0 2px 6px 0 rgb(49 58 70 / 50%);
  --alert-default-background-color: rgba(114,124,245,.18);
  --alert-default-border-color: rgba(114,124,245,.25);
  --alert-default-color: #6c76e9;
  --alert-default-link: #5057ac;
  --default-background-color: #ddd;
  --default-border-color: #ced4da;
  --default-color: #000;
  --default-color-contrast: #fff;
  --default-link: #000;
  --alert-info-background-color: rgba(57,175,209,.18);
  --alert-info-border-color: rgba(57,175,209,.25);
  --alert-info-color: #36a6c7;
  --alert-info-link: #287b92;
  --info-background-color: #0dcaf0;
  --info-border-color: #0dcaf0;
  --info-color: #0dcaf0;
  --info-color-contrast: #fff;
  --info-link: #04414d;
  --alert-light-background-color: rgba(238,242,247,.18);
  --alert-light-border-color: rgba(238,242,247,.25);
  --alert-light-color: #e2e6eb;
  --alert-light-link: #a7a9ad;
  --light-background-color: #f8f9fa;
  --light-border-color: #f8f9fa;
  --light-color: #f8f9fa;
  --light-color-contrast: #fff;
  --light-link: #4f5050;
  --alert-primary-background-color: rgba(114,124,245,.18);
  --alert-primary-border-color: rgba(114,124,245,.25);
  --alert-primary-color: #6c76e9;
  --alert-primary-link: #5057ac;
  --primary-background-color: #0d6efd;
  --primary-border-color: #0d6efd;
  --primary-color: #0d6efd;
  --primary-color-contrast: #fff;
  --primary-link: #06357a;
  --primary-shadow: 0 2px 6px 0 rgb(114 124 245 / 50%);
  --alert-secondary-background-color: rgba(108,117,125,.18);
  --alert-secondary-border-color: gba(108,117,125,.25);
  --alert-secondary-color: #676f77;
  --alert-secondary-link: #4c5258;
  --secondary-background-color: #6c757d;
  --secondary-border-color: #6c757d;
  --secondary-color: #6c757d;
  --secondary-color-contrast: #fff;
  --secondary-link: #34383c;
  --alert-success-background-color: rgba(10,207,151,.18);
  --alert-success-border-color: rgba(10,207,151,.25);
  --alert-success-color: #0ac58f;
  --alert-success-link: #07916a;
  --success-background-color: #0acf97;
  --success-background-color-hover: #09b080;
  --success-border-color: #0acf97;
  --success-border-color-hover: #08a679;
  --success-color: #198754;
  --success-color-contrast: #fff;
  --success-link: #0c4128;
  --success-shadow: 0 2px 6px 0 rgb(10 207 151 / 50%);
  --alert-warning-background-color: rgba(255,188,0,.18);
  --alert-warning-border-color: rgba(255,188,0,.25);
  --alert-warning-color: #f2b300;
  --alert-warning-link: #b38400;
  --warning-background-color: #ffc107;
  --warning-border-color: #ffc107;
  --warning-color: #ffc107;
  --warning-color-contrast: #fff;
  --warning-link: #523e02;

  --justify-important: center;
  --justify-normal: left;

  --spacing-1: .25rem !important;
  --spacing-2: .5rem !important;
  --spacing-3: 1rem !important;
  --spacing-4: 1.5rem !important;
  --spacing-5: 3rem !important;
  --gutter-x: 1.5rem;
  --gutter-y: 0;

  --form-background-color: #fff;
  --form-background-color-hover: #fff;
  --form-background-color-disabled: #e9ecef;
  --form-border-width: 1px;
  --form-border-width-focus: 1px;
  --form-border-width-disabled: 1px;
  --form-border-style: solid;
  --form-border-style-focus: solid;
  --form-border-style-disabled: solid;
  --form-border-color: #dee2e6;
  --form-border-color-hover: #c8cbcf;
  --form-border-color-focus: #c8cbcf;
  --form-border-color-disabled: #888;
  --form-color: #6c757d;
  --form-color-focus: #495057;
  --form-color-disabled: #000;
  --form-placeholder-color: #999;
  --form-shadow-focus: none;
  --form-required-color: #dc3545;
  --form-required-border-color: #dc3545;
  --form-focus-required-shadow: none;
  --form-input-color: #fff;
  --form-input-color-checked: #fff;
  --form-input-background-color: transparent;
  --form-input-background-color-checked: #0044ff;
  --form-input-border-color: #ced4da;
  --form-input-border-color-checked: #ced4da;
  --form-valid-color: #28a745;
  --form-valid-border-color: #28a745;
  --form-valid-shadow: none;

  --code-background-color: #f8f9fa;
  --code-color: #000;
  --code-border-color: #e9e9e9;

  --tooltip-background-color: #000;
  --tooltip-color: #fff;
  --tooltip-border-radius: .25rem;

  --badge-background-color: #d92550;
  --badge-color: #fff;

  --card-background-color: #fff;
  --card-header-background-color: transparent;
  --card-hover: #f5f5f5;
  --card-link-color: #000;
  --card-link-color-hover: #08f;
  --card-border-width: 1px;
  --card-border-style: solid;
  --card-border-radius: .25rem;
  --card-border-color: #e9e9e9;
  --card-figcaption-background-color: rgba(0, 0, 0, .5);
  --card-figcaption-color: #fff;
  --card-body-lines: 3;
  --width-card: 230px;
  --width-card-medium: 460px;
  --width-card-wide: 800px;
  --width-content: 100%;

  --list-group-background-color: #fff;
  --list-group-background-hover: #f8f9fa;
  --list-group-background-active: #e9ecef;
  --list-group-background-disabled: #888;
  --list-group-color: #495057;
  --list-group-color-hover: #495057;
  --list-group-color-active: #212529;
  --list-group-color-disabled: #000;

  --dialog-backdrop-color: rgba(0, 0, 0, .9);
  --dialog-background-color: #fff;
  --dialog-color: #000;
  --dialog-border-color: #e9e9e9;
  --dialog-border-radius: .25rem;
  --dialog-min-width: 460px;
  --dialog-max-width: 90%;

  --search-item-info-color: #000;
  --search-item-link-color: #00f;
  --search-item-link-color-hover: #00f;
  --search-item-url-color: #080;

  --slidertron-height: 400px;
  --slidertron-background-color: #ddd;

  --jumbotron-background-color: #ddd;
  --starRating-color: #ffdf00;
  --starRating-outline-width: 1px;
  --starRating-outline-color: #888;

  --chat-zindex: 1020;
  --chat-header-color: #e9e9e9;

  --color-contrast-lower: hsl(0, 0%, 95%);
  --color-contrast-lower-h: 0;
  --color-contrast-lower-s: 0%;
  --color-contrast-lower-l: 95%;
  --color-contrast-low: hsl(240, 1%, 85%);
  --color-contrast-low-h: 240;
  --color-contrast-low-s: 1%;
  --color-contrast-low-l: 85%;
  --color-contrast-medium: hsl(240, 1%, 60%);
  --color-contrast-medium-h: 240;
  --color-contrast-medium-s: 1%;
  --color-contrast-medium-l: 60%;
  --color-contrast-high: hsl(240, 4%, 20%);
  --color-contrast-high-h: 240;
  --color-contrast-high-s: 4%;
  --color-contrast-high-l: 20%;
  --color-contrast-higher: hsl(240, 8%, 12%);
  --color-contrast-higher-h: 240;
  --color-contrast-higher-s: 8%;
  --color-contrast-higher-l: 12%;
}

[data-theme="dark"] {
  --aurora-background-color: #353a40;
  --aurora-background-image: url(../images/auroracms.jpg);
  --aurora-logo-color: #fff;
  --body-background-color: #353a40;
  --color: #8391a2;
  --color-muted: #6c757d;
  --link-color: #727cf5;
  --link-color-hover: #6169d0;
  --text-decoration-wave-color: #f00;
  --content-background-color: #920de90b;
  --content-border-color: #007bff;
  --box-shadow-color: rgba(0, 0, 0, .07);
  --shadow-color: rgba(0, 0, 0, .15);
  --shadow-sm-color: rgba(0, 0, 0, .075);
  --shadow-md-color: rgb(0 0 0 / 10%);
  --shadow-lg-color: rgba(0, 0, 0, .175);
  --border-color: #464f5b;
  --mark-background-color: #ff0;
  --figcaption-color: #888;

  --header-background-color: #373f4a;
  --header-color: #fff;
  --header-logo-color: #fff;

  --nav-toggle-color: #aaa;

  --menu-background-color: transparent;
  --menu-background-color-hover: transparent;
  --menu-background-color-active: transparent;
  --menu-button-color: #fff;
  --menu-button-color-hover: #f5f5f5;
  --menu-button-background-color: #007bff;
  --menu-button-background-color-hover: #0069d9;
  --menu-button-border-color: #007bff;
  --menu-button-border-color-hover: #0069d9;
  --menu-button-border-color: #007bff;
  --menu-button-border-color-hover: #007bff;
  --menu-button-border-radius: .25rem;
  --menu-color: #000;
  --menu-color-active: #000;
  --menu-link-color: #444;
  --menu-link-color-hover: #666;
  --menu-link-color-active: #000;
  --menu-dropdown-color: #aab8c5;
  --menu-dropdown-color-hover: #d9d9d9;
  --menu-dropdown-background-color: #3b444e;
  --menu-dropdown-background-color-hover: #e9e9e9;
  --menu-dropdown-border-color: #434b55;

  --sidebar-background-color: #373f4a;
  --sidebar-background-color-active: #373f4a;
  --sidebar-color: #aaa;
  --sidebar-color-hover: #fff;
  --sidebar-color-active: #fff;
  --sidebar-open: #373f4a;

  --tab-background-color: transparent;
  --tab-background-color-hover: transparent;
  --tab-background-color-active: #4a525d;
  --tab-background-color-active-hover: #4a525d;
  --tab-background-color-disabled: #aaa;
  --tab-color: #e3eaef;
  --tab-color-hover: #e3eaef;
  --tab-color-active: #e3eaef;
  --tab-color-disabled: #aaa;
  --tab-border-color: #464f5b;
  --tab-border-color-hover: #dee2e6;
  --tab-border-color-active: #464f5b;
  --tab-border-color-disabled: #aaa;

  --button-color: #fff;
  --button-color-hover: #fff;
  --button-color-active: #aaa;
  --button-color-disabled: #000;
  --button-background-color: #727cf5;
  --button-background-color-hover: #6169d0;
  --button-background-color-active: #6169d0;
  --button-background-color-disabled: #888;
  --button-border-color: #727cf5;
  --button-border-color-hover: #5b63c4;
  --button-border-color-active: #5b63c4;
  --button-border-color-disabled: #888;
  --button-border-radius: .15rem;
  --button-shadow: 0 2px 6px 0 rgb(114 124 245 / 50%);

  --table-background-color: #37404a;
  --table-color: #aab8c5;
  --table-head-background-color: #37404a;
  --table-head-color: #aab8c5;
  --table-border-color: #464f5b;
  --table-zebra-background: #3e4752;

  --bg-white: #373f4a;
  --text-white: #aaa;

  --alert-danger-background-color: rgba(250,92,124,.18);
  --alert-danger-border-color: rgba(250,92,124,.25);
  --alert-danger-color: #ee5776;
  --alert-danger-link: #af4057;
  --danger-background-color: #fa5c7c;
  --danger-background-color-hover: #d54e69;
  --danger-border-color: #fa5c7c;
  --danger-border-color-hover: #c84a63;
  --danger-color: #dc3545;
  --danger-color-contrast: #fff;
  --danger-link: #6a1a21;
  --danger-shadow: 0 2px 6px 0 rgb(250 92 124 / 50%);
  --alert-dark-background-color: rgba(49,58,70,.18);
  --alert-dark-border-color: rgba(49,58,70,.25);
  --alert-dark-color: #2f3743;
  --alert-dark-link: #222931;
  --dark-background-color: #313a46;
  --dark-background-color-hover: #2a313c;
  --dark-border-color: #313a46;
  --dark-border-color-hover: #272e38;
  --dark-color: #212529;
  --dark-color-contrast: #fff;
  --dark-link: #101214;
  --dark-shadow: 0 2px 6px 0 rgb(49 58 70 / 50%);
  --alert-default-background-color: rgba(114,124,245,.18);
  --alert-default-border-color: rgba(114,124,245,.25);
  --alert-default-color: #6c76e9;
  --alert-default-link: #5057ac;
  --default-background-color: #ddd;
  --default-border-color: #ced4da;
  --default-color: #000;
  --default-color-contrast: #fff;
  --default-link: #000;
  --alert-info-background-color: rgba(57,175,209,.18);
  --alert-info-border-color: rgba(57,175,209,.25);
  --alert-info-color: #36a6c7;
  --alert-info-link: #287b92;
  --info-background-color: #0dcaf0;
  --info-border-color: #0dcaf0;
  --info-color: #0dcaf0;
  --info-color-contrast: #fff;
  --info-link: #04414d;
  --alert-light-background-color: rgba(238,242,247,.18);
  --alert-light-border-color: rgba(238,242,247,.25);
  --alert-light-color: #e2e6eb;
  --alert-light-link: #a7a9ad;
  --light-background-color: #f8f9fa;
  --light-border-color: #f8f9fa;
  --light-color: #f8f9fa;
  --light-color-contrast: #fff;
  --light-link: #4f5050;
  --alert-primary-background-color: rgba(114,124,245,.18);
  --alert-primary-border-color: rgba(114,124,245,.25);
  --alert-primary-color: #6c76e9;
  --alert-primary-link: #5057ac;
  --primary-background-color: #0d6efd;
  --primary-border-color: #0d6efd;
  --primary-color: #0d6efd;
  --primary-color-contrast: #fff;
  --primary-link: #06357a;
  --primary-shadow: 0 2px 6px 0 rgb(114 124 245 / 50%);
  --alert-secondary-background-color: rgba(108,117,125,.18);
  --alert-secondary-border-color: gba(108,117,125,.25);
  --alert-secondary-color: #676f77;
  --alert-secondary-link: #4c5258;
  --secondary-background-color: #6c757d;
  --secondary-border-color: #6c757d;
  --secondary-color: #6c757d;
  --secondary-color-contrast: #fff;
  --secondary-link: #34383c;
  --alert-success-background-color: rgba(10,207,151,.18);
  --alert-success-border-color: rgba(10,207,151,.25);
  --alert-success-color: #0ac58f;
  --alert-success-link: #07916a;
  --success-background-color: #0acf97;
  --success-background-color-hover: #09b080;
  --success-border-color: #0acf97;
  --success-border-color-hover: #08a679;
  --success-color: #198754;
  --success-color-contrast: #fff;
  --success-link: #0c4128;
  --success-shadow: 0 2px 6px 0 rgb(10 207 151 / 50%);
  --alert-warning-background-color: rgba(255,188,0,.18);
  --alert-warning-border-color: rgba(255,188,0,.25);
  --alert-warning-color: #f2b300;
  --alert-warning-link: #b38400;
  --warning-background-color: #ffc107;
  --warning-border-color: #ffc107;
  --warning-color: #ffc107;
  --warning-color-contrast: #fff;
  --warning-link: #523e02;

  --form-background-color: #404954;
  --form-background-color-hover: #fff;
  --form-background-disabled: #37404a;
  --form-border-color: #4a525d;
  --form-border-color-hover: #c8cbcf;
  --form-color: #fff;
  --form-color-disabled: #aaa;
  --form-placeholder-color: #8391a2;
  --form-focus-color: #e3eaef;
  --form-focus-border-color: #555f6b;
  --form-focus-shadow: none;
  --form-required-color: #dc3545;
  --form-required-border-color: #dc3545;
  --form-focus-required-shadow: none;
  --form-input-color: #fff;
  --form-input-color-checked: #fff;
  --form-input-background-color: transparent;
  --form-input-background-color-checked: #0044ff;
  --form-input-border-color: #ced4da;
  --form-input-border-color-checked: #ced4da;
  --form-valid-color: #28a745;
  --form-valid-border-color: #28a745;
  --form-valid-shadow: none;

  --code-background-color: #f8f9fa;
  --code-color: #000;
  --code-border-color: #e9e9e9;

  --tooltip-background-color: #000;
  --tooltip-color: #fff;

  --badge-background-color: #d92550;
  --badge-color: #fff;

  --card-background-color: #37404a;
  --card-header-background-color: transparent;
  --card-hover: #37404a;
  --card-link-color: #727cf5;
  --card-link-color-hover: #6169d0;
  --card-border-color: transparent;
  --card-figcaption-background-color: rgba(0, 0, 0, .5);
  --card-figcaption-color: #fff;

  --list-group-background-color: #fff;
  --list-group-background-hover: #f8f9fa;
  --list-group-background-active: #e9ecef;
  --list-group-background-disabled: #888;
  --list-group-color: #495057;
  --list-group-color-hover: #495057;
  --list-group-color-active: #212529;
  --list-group-color-disabled: #000;

  --dialog-backdrop-color: rgba(0, 0, 0, .9);
  --dialog-background-color: #fff;
  --dialog-color: #000;
  --dialog-border-color: #e9e9e9;

  --search-item-info-color: #000;
  --search-item-link-color: #00f;
  --search-item-link-color-hover: #00f;
  --search-item-url-color: #080;

  --starRating-color: #ffdf00;
  --starRating-outline-color: #888;
};
