/* Place the text styles in here that are used for the style of the site so they appear in the WYSIWYG Editor */
.note-admin .note-editor .note-editing-area .note-editable{
  font-family:sans-serif;
  font-weight:300;
  font-size:1em
}
.note-admin .note-editor .note-editing-area .note-editable blockquote,
.note-admin .note-editor .note-editing-area .note-editable p{
  margin-top:1em;margin-bottom:1em;font-family:sans-serif;font-size:1.15em;line-height:1.25;font-weight:300;font-style:normal
}
.note-admin .note-editor .note-editing-area .note-editable h1,
.note-admin .note-editor .note-editing-area .note-editable .h1,
.note-admin .note-editor .note-editing-area .note-editable h2,
.note-admin .note-editor .note-editing-area .note-editable .h2,
.note-admin .note-editor .note-editing-area .note-editable h3,
.note-admin .note-editor .note-editing-area .note-editable .h3,
.note-admin .note-editor .note-editing-area .note-editable h4,
.note-admin .note-editor .note-editing-area .note-editable .h4,
.note-admin .note-editor .note-editing-area .note-editable h5,
.note-admin .note-editor .note-editing-area .note-editable .h5,
.note-admin .note-editor .note-editing-area .note-editable h6,
.note-admin .note-editor .note-editing-area .note-editable .h6,
.note-admin .note-editor .note-editing-area .note-editable p{
  font-family:sans-serif
}
.note-admin .note-editor .note-editing-area .note-editable h1,
.note-admin .note-editor .note-editing-area .note-editable .h1{
  font-size:2em;
  letter-spacing:1.25px;
  line-height:1.25;
  margin-top:.0375em;
  margin-bottom:.3125em
}
.note-admin .note-editor .note-editing-area .note-editable h2,
.note-admin .note-editor .note-editing-area .note-editable .h2{
  font-size:2em;
  line-height:1.15384615;
  margin-top:1.15384616em;
  margin-bottom:.38461539em
}
.note-admin .note-editor .note-editing-area .note-editable h3,
.note-admin .note-editor .note-editing-area .note-editable .h3{
  font-size:1.75em;
  line-height:1.13636364;
  margin-top:1.36363637em;
  margin-bottom:.45454546em
}
.note-admin .note-editor .note-editing-area .note-editable h4,
.note-admin .note-editor .note-editing-area .note-editable .h4{
  font-size:1.15em;
  line-height:1.11111111;
  margin-top:1.66666667em;
  margin-bottom:.55555556em
}
@media (min-width:43.75em){
  .note-admin .note-editor .note-editing-area .note-editable blockquote,
  .note-admin .note-editor .note-editing-area .note-editable p{
    font-size:2em;
    line-height:1.45833333
  }
  .note-admin .note-editor .note-editing-area .note-editable h1,
  .note-admin .note-editor .note-editing-area .note-editable .h1{
    font-size:3.5em;
    letter-spacing:normal;
    line-height:1.125;
    margin-top:.73333334em;
    margin-bottom:.24444445em
  }
  .note-admin .note-editor .note-editing-area .note-editable h2,
  .note-admin .note-editor .note-editing-area .note-editable .h2{
    font-size:2.75em;
    line-height:1.25;
    margin-top:1.03125em;
    margin-bottom:.34375em
  }
  .note-admin .note-editor .note-editing-area .note-editable h3,
  .note-admin .note-editor .note-editing-area .note-editable .h3{
    font-size:2.5em;
    line-height:1.25;
    margin-top:1.37500001em;
    margin-bottom:.45833334em
  }
  .note-admin .note-editor .note-editing-area .note-editable h4,
  .note-admin .note-editor .note-editing-area .note-editable .h4{
    font-size:2.15em;
    line-height:1.22222222;
    margin-top:1.83333333em;
    margin-bottom:.61111111em
  }
}
@media (min-width:56.25em){
  .note-admin .note-editor .note-editing-area .note-editable blockquote,
  .note-admin .note-editor .note-editing-area .note-editable p{
    font-size:1.25em;
    line-height:1.45833333
  }
  .note-admin .note-editor .note-editing-area .note-editable h1,
  .note-admin .note-editor .note-editing-area .note-editable .h1{
    font-size:2.25em;
    letter-spacing:normal;
    line-height:1.05;
    margin-top:.6875em;
    margin-bottom:.22916667em
  }
  .note-admin .note-editor .note-editing-area .note-editable h2,
  .note-admin .note-editor .note-editing-area .note-editable .h2{
    font-size:1.75em;
    line-height:1.25;
    margin-top:1.03125em;
    margin-bottom:.34375em
  }
  .note-admin .note-editor .note-editing-area .note-editable h3,
  .note-admin .note-editor .note-editing-area .note-editable .h3{
    font-size:1.5em;
    line-height:1.25;
    margin-top:1.37500001em;
    margin-bottom:.45833334em
  }
  .note-admin .note-editor .note-editing-area .note-editable h4,
  .note-admin .note-editor .note-editing-area .note-editable .h4{
    font-size:1.25em;
    line-height:1.22222222;
    margin-top:1.83333333em;
    margin-bottom:.61111111em
  }
}
