.newsletter img {
  max-width: 100% !important; }

.newsletter .collapse {
  margin:0 !important;
  padding:0 !important; }

.newsletter a {
  color: #2ba6cb; }

.newsletter .btn {
  text-decoration:none !important;
  color: #ffffff;
  background-color: #666666;
  padding: 10px 16px !important;
  font-weight: bold !important;
  margin-right: 10px !important;
  text-align: center !important;
  cursor: pointer !important;
  display: inline-block !important; }

.newsletter p.callout {
  padding:15px !important;
  background-color:#ecf8ff;
  margin-bottom: 15px !important; }

.newsletter .callout a {
  font-weight:bold !important;
  color: #2ba6cb; }

.newsletter .social .soc-btn {
  padding: 3px 7px !important;
  font-size:12px !important;
  margin-bottom:10px !important;
  text-decoration:none !important;
  color: #ffffff !important;
  font-weight:bold !important;
  display:block !important;
  text-align:center !important; }

.newsletter a.facebook {
  background-color: #3b5998!important; }

.newsletter a.twitter {
  background-color: #1daced!important; }

.newsletter a.linkedin {
  background-color: #0072b1!important; }

.newsletter .sidebar .soc-btn {
  display:block !important;
  width:100% !important; }

.newsletter table,
.newsletter td {
  position: relative!important;
  padding: 0 !important;
  border: 0 !important; }

.newsletter p,
.newsletter h1,
.newsletter h2,
.newsletter h3,
.newsletter h4,
.newsletter h5,
.newsletter h6 {position: relative !important; }

.newsletter table.head-wrap {
  width: 100% !important; }

.newsletter .header.container table td.logo {
  padding: 15px !important; }

.newsletter .header.container table td.label {
  padding: 15px !important;
  padding-left:0 !important; }

.newsletter table.body-wrap {
  width: 100% !important; }

.newsletter table.footer-wrap {
  width: 100% !important;
  clear:both !important; }

.newsletter .footer-wrap .container td.content p {
  border-top: 1px solid rgb(215,215,215);
  padding-top:15px !important; }

.newsletter .footer-wrap .container td.content p {
  font-size:10px !important;
  font-weight: bold !important; }

.newsletter h1,
.newsletter h2,
.newsletter h3,
.newsletter h4,
.newsletter h5,
.newsletter h6 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  line-height: 1.1 !important;
  margin-bottom:15px !important;
  color:#000; }

.newsletter h1 small,
.newsletter h2 small,
.newsletter h3 small,
.newsletter h4 small,
.newsletter h5 small,
.newsletter h6 small {
  font-size: 60% !important;
  color: #6f6f6f;
  line-height: 0 !important;
  text-transform: none !important; }

.newsletter h1 { font-weight:200 !important; font-size: 44px !important;}
.newsletter h2 { font-weight:200 !important; font-size: 37px !important;}
.newsletter h3 { font-weight:500 !important; font-size: 27px !important;}
.newsletter h4 { font-weight:500 !important; font-size: 23px !important;}
.newsletter h5 { font-weight:900 !important; font-size: 17px !important;}
.newsletter h6 { font-weight:900 !important; font-size: 14px !important; text-transform: uppercase !important; color:#444;}

.newsletter .collapse {
  margin:0!important; }

.newsletter p,.newsletter  ul {
  margin-bottom: 10px !important;
  font-weight: normal !important;
  font-size:14px !important;
  line-height:1.6 !important; }

.newsletter p.lead {
  font-size:17px !important; }

.newsletter p.last { margin-bottom:0 !important;}

.newsletter ul li {
  margin-left:5px !important;
  list-style-position: inside !important; }

.newsletter ul.sidebar {
  display:block !important;
  list-style-type: none !important; }

.newsletter ul.sidebar li {
  display: block !important;
  margin:0 !important; }

.newsletter ul.sidebar li a {
  text-decoration:none !important;
  color: #666;
  padding:10px 16px !important;
  margin-right:10px !important;
  cursor:pointer !important;
  display:block !important;
  margin:0 !important; }

.newsletter ul.sidebar li a.last {
  border-bottom-width:0 !important; }

.newsletter ul.sidebar li a h1,
.newsletter ul.sidebar li a h2,
.newsletter ul.sidebar li a h3,
.newsletter ul.sidebar li a h4,
.newsletter ul.sidebar li a h5,
.newsletter ul.sidebar li a h6,
.newsletter ul.sidebar li a p {
  margin-bottom:0!important; }

.newsletter .container {
  display:block!important;
  max-width:600px!important;
  margin:0 auto!important;
  clear:both!important; }

.newsletter .content {
  padding:15px !important;
  max-width:600px !important;
  margin:0 auto !important;
  display:block !important; }

.newsletter .content table {
  width: 100% !important; }

.newsletter .column {
  width: 300px !important;
  float:left !important; }

.newsletter .column tr td {
  padding: 15px !important; }

.newsletter .column-wrap {
  padding:0!important;
  margin:0 auto !important;
  max-width:600px!important; }

.newsletter .column table {
  width:100% !important; }

.newsletter .social .column {
  width: 280px !important;
  min-width: 279px !important;
  float:left !important; }

.newsletter .clear {
  display: block !important;
  clear: both !important; }

@media only screen and (max-width: 600px) {
  .newsletter a[class="btn"] {
    display:block!important;
    margin-bottom:10px!important;
    background-image:none!important;
    margin-right:0!important; }

  .newsletter div[class="column"] {
    width: auto!important;
    float:none!important; }

  .newsletter table.social div[class="column"] {
    width:auto!important; }
}

.newsletter .text-white {
  color: white; }

.note-editable .newsletter table:hover {
  outline: 1px dotted #f00 !important; }

.note-editable .newsletter table tr:hover {
  outline:1px dotted #0f0 !important; }

.note-editable .newsletter table tr:hover::before {
  content: 'TR';
  position: absolute;
  top: -10px;
  left: -5px;
  background-color: #000;
  color: #fff;
  padding: 1px 5px;
  font-size: 10px;
  font-family: verdana;
  text-transform: uppercase; }

.note-editable .newsletter table td:hover {
  outline:1px dotted #0f0 !important; }

.note-editable .newsletter table td:hover::before{
  content: 'TD';
  position: absolute;
  top: -10px;
  left: -5px;
  background-color: #000;
  color: #fff;
  padding: 1px 5px;
  font-size: 10px;
  font-family: verdana;
  text-transform: uppercase; }

.note-editable .newsletter table p:hover {
  outline:1px dotted #f40 !important; }

.note-editable .newsletter table p:hover::before{
  content: 'Paragraph';
  position: absolute;
  top: -10px;
  left: -5px;
  background-color: #000;
  color: #fff;
  padding: 1px 5px;
  font-size: 10px;
  font-family: verdana;
  text-transform: uppercase; }

.note-editable .newsletter table h1:hover,
.note-editable .newsletter table h2:hover,
.note-editable .newsletter table h3:hover,
.note-editable .newsletter table h4:hover,
.note-editable .newsletter table h5:hover,
.note-editable .newsletter table h6:hover {
  outline:1px dotted #00f !important; }

.note-editable .newsletter table h1:hover::before,
.note-editable .newsletter table h2:hover::before,
.note-editable .newsletter table h3:hover::before,
.note-editable .newsletter table h4:hover::before,
.note-editable .newsletter table h5:hover::before,
.note-editable .newsletter table h6:hover::before {
  content: 'Heading 1';
  position: absolute;
  top: -10px;
  left: -5px;
  background-color: #000;
  color: #fff;
  padding: 1px 5px;
  font-size: 10px;
  font-family: verdana;
  text-transform: uppercase; }

.note-editable .newsletter table h2:hover::before {content: 'Heading 2'; }
.note-editable .newsletter table h3:hover::before {content: 'Heading 3'; }
.note-editable .newsletter table h4:hover::before {content: 'Heading 4'; }
.note-editable .newsletter table h5:hover::before {content: 'Heading 5'; }
.note-editable .newsletter table h6:hover::before {content: 'Heading 6'; }
