@charset "UTF-8";

@import url('stylesheet-vars.css');
@import url('stylesheet-base.css');
@import url('stylesheet-typography.css');
@import url('stylesheet-grid.css');
@import url('stylesheet-forms.css');
@import url('stylesheet-helpers.css');
@import url('stylesheet-xtras.css');
@import url('stylesheet-icons.css');
@import url('fancybox.css');
@import url('stylesheet-aurora.css');

/* The below are styles specific to the theme for website they are for,
   and most likely include overrides to produce a particular effect. */

[for="fullname"],
[for="resetfullname"],
[for="signupfullname"] {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  outline: none !important; }

#fullname,
#resetfullname,
#signupfullname {
  display: none; }

.comingsoon,
.maintenance {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
  overflow: hidden; }

.comingsoon body,
.maintenance body {
  color: #fff;
  background-color: transparent; }

.comingsoon main,
.maintenance main {
  margin: 200px 40px 40px 40px !important; }

.comingsoon main p,
.maintenance main p {
  line-height: 1.25 !important;
  font-weight: 300 !important;
  font-style: normal !important;
  text-shadow: 0 0 20px #000,
               0 0 15px #000,
               0 0 10px #000,
               0 0 5px #000; }

.comingsoon main h1,
.maintenance main h1 {
  text-shadow: 0 0 20px #000,
               0 0 15px #000,
               0 0 10px #000,
               0 0 5px #000; }

.brand {
  position: absolute;
  top:10px;
  right:auto;
  bottom:auto;
  left:60px;
  max-width: 200px !important;
  max-height: 50px !important;
  display: block;
  margin: 0 !important;
  padding: 0 !important; }

.hidewhenempty:empty {
  display: none; }

.glass {
  background-color: rgba(255, 255, 255, .7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px); }

.sticky-logo {
  z-index: 1020;
  position: sticky;
  top: 0; }

.sticky-logo ~ .sticky-top {
  top: 75px; }

@media print {
  body * {
    visibility: hidden; }

  #section-to-print {
    margin: 0 0 0 0;
    position: absolute;
    top: 0;
    left: 0; }

  #section-to-print * {
    visibility: visible !important;  }

  #section-to-print.orderstheme.col-11 {
    width: 100%; }

  #section-to-print article.col-12 {
    width: 25%; }
}

@media (min-width: 360px) { // xs

}

@media (min-width: 576px) { // sm


}

@media (min-width: 768px) { // md

}

@media (min-width: 992px) { // lg
  .sticky-logo {
    display: none;
    z-index: 1020;
    position: sticky;
    top: 0; }

  .sticky-logo ~ .sticky-top {
    top: 0px; }

}

@media (min-width: 1200px) { // xl

}

nav {
  background-color: transparent !important; }

nav ul li {
  display: inline-block !important;
  position: relative;
  margin: 0 !important;
  padding: .5rem .75rem;
  text-align: left; }

nav ul li a {
  transition: color .1s linear; }

nav ul li a:focus,
nav ul li a:hover {
  text-decoration: none; }

nav ul li.active {
  border-radius: 5px;
  background: #eee; }

address [role="button"] {
  display: block;
  margin: 1.5rem 0 .5rem 0;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: medium;
  font-family: var(--font);
  line-height: var(--line-height); }
