:root {
  --tile-length: 17.5vmin;
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-size: 1rem;
  --accent-color: #007bff;
  --body-background-color: #f6f8fa;
  --color: #000;
  --color-muted: #6c757d;
  --link-color: #0044ff;
  --link-color-hover: #0056c4;
  --link-decoration: none;
  --link-decoration-hover: none;
  --text-decoration-wave-color: #f00;
  --content-background-color: #920de90b;
  --content-border-color: #007bff;
  --box-shadow-x: .05rem;
  --box-shadow-y: .07rem;
  --box-shadow-spread: .075rem;
  --box-shadow-color: rgba(27,31,36,0.04);
  --shadow: 0 3px 6px rgba(140,149,159,0.15);
  --shadow-sm: 0 1px 0 rgba(27,31,36,0.04);
  --shadow-md: 0 3px 6px rgba(140,149,159,0.15);
  --shadow-lg: 0 8px 24px rgba(140,149,159,0.2);
  --border-radius: .25rem;
  --border-color: #e9e9e9;
  --border-width: 1px;
  --border-style: solid;
  --mark-background-color: #ff0;
  --figure-height: 100vh;
  --figcaption-background-color: #000;
  --figcaption-color: #ddd;
  --busy-bg:transparent;
  --busy-fill:#000;

  --header-background-color: #fff;
  --header-color: #fff;
  --header-logo-color: #fff;

  --nav-toggle-color: #aaa;

  --address-background-color: #fff;
  --address-color: #000;

  --footer-background-color: #fff;
  --footer-color: #000;
  --footer-link-color: #0044ff;
  --footer-link-color-hover: #0056c4;
  --footer-link-color-active: #0056c4;
  --footer-link-decoration-hover: underline;

  --menu-background-color: transparent;
  --menu-background-color-hover: transparent;
  --menu-background-color-active: transparent;
  --menu-button-color: #fff;
  --menu-button-color-hover: #f5f5f5;
  --menu-button-background-color: #007bff;
  --menu-button-background-color-hover: #0069d9;
  --menu-button-background-color-active: #aaa;
  --menu-button-border-width: 1px;
  --menu-button-border-width-hover: 1px;
  --menu-button-border-style: solid;
  --menu-button-border-color: #007bff;
  --menu-button-border-color-hover: #0069d9;
  --menu-button-border-radius: .25rem;
  --menu-color: #000;
  --menu-color-active: #000;
  --menu-link-color: #444;
  --menu-link-color-hover: #666;
  --menu-link-color-active: #000;
  --menu-dropdown-color: #444;
  --menu-dropdown-color-hover: #666;
  --menu-dropdown-background-color: #fff;
  --menu-dropdown-background-color-hover: #e9e9e9;
  --menu-dropdown-background-color-active: #fff;
  --menu-dropdown-border-color: #e9e9e9;
  --menu-dropdown-shadow: rgba(0,0,0,.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

  --button-color: #fff;
  --button-color-hover: #fff;
  --button-color-active: #fff;
  --button-color-disabled: #888;
  --button-background-color: #3f6ad8;
  --button-background-color-hover: #2955c8;
  --button-background-color-active: #2955c8;
  --button-background-color-disabled: #444;
  --button-border-width: 1px;
  --button-border-width-hover: 1px;
  --button-border-width-active: 1px;
  --button-border-width-disabled: 1px;
  --button-border-style: solid;
  --button-border-style-hover: solid;
  --button-border-style-active: solid;
  --button-border-style-disabled: solid;
  --button-border-color: #3f6ad8;
  --button-border-color-hover: #2651be;
  --button-border-color-active: #2651be;
  --button-border-color-disabled: #444;
  --button-border-radius: .25rem;
  --button-shadow: none;
  --button-shadow-hover: none;

  --table-background-color: #fff;
  --table-background-color-zebra: #f8f8f8;
  --table-color: #000;
  --table-head-background-color: rgba(0,0,0,.15);
  --table-head-color: #000;
  --table-border-color: #e9e9e9;

  --bg-white: #fff;
  --text-white: #fff;

  --alert-danger-background-color: #f8d7da;
  --alert-danger-border-color: #f5c2c7;
  --alert-danger-color: #842029;
  --alert-danger-link: #6a1a21;
  --danger-background-color: #fa5c7c;
  --danger-background-color-hover: #d54e69;
  --danger-border-color: #fa5c7c;
  --danger-border-color-hover: #c84a63;
  --danger-color: #dc3545;
  --danger-color-contrast: #fff;
  --danger-link: #6a1a21;
  --danger-shadow: 0 2px 6px 0 rgb(250 92 124 / 50%);
  --alert-dark-background-color: #d3d3d4;
  --alert-dark-border-color: #bcbebf;
  --alert-dark-color: #141619;
  --alert-dark-link: #101214;
  --dark-background-color: #313a46;
  --dark-background-color-hover: #2a313c;
  --dark-border-color: #313a46;
  --dark-border-color-hover: #272e38;
  --dark-color: #212529;
  --dark-color-contrast: #fff;
  --dark-link: #101214;
  --dark-shadow: 0 2px 6px 0 rgb(49 58 70 / 50%);
  --alert-default-background-color: #fefefe;
  --alert-default-border-color: #fdfdfe;
  --alert-default-color: #636464;
  --alert-default-link: #4f5050;
  --default-background-color: #ddd;
  --default-border-color: #ced4da;
  --default-color: #000;
  --default-color-contrast: #fff;
  --default-link: #000;
  --alert-info-background-color: #cff4fc;
  --alert-info-border-color: #b6effb;
  --alert-info-color: #055160;
  --alert-info-link: #04414d;
  --info-background-color: #0dcaf0;
  --info-border-color: #0dcaf0;
  --info-color: #0dcaf0;
  --info-color-contrast: #fff;
  --info-link: #04414d;
  --alert-light-background-color: #fefefe;
  --alert-light-border-color: #fdfdfe;
  --alert-light-color: #636464;
  --alert-light-link: #4f5050;
  --light-background-color: #f8f9fa;
  --light-border-color: #f8f9fa;
  --light-color: #f8f9fa;
  --light-color-contrast: #fff;
  --light-link: #4f5050;
  --alert-primary-background-color: #cfe2ff;
  --alert-primary-border-color: #b6d4fe;
  --alert-primary-color: #084298;
  --alert-primary-link: #06357a;
  --primary-background-color: #0d6efd;
  --primary-border-color: #0d6efd;
  --primary-color: #0d6efd;
  --primary-color-contrast: #fff;
  --primary-link: #06357a;
  --primary-shadow: 0 2px 6px 0 rgb(114 124 245 / 50%);
  --alert-secondary-background-color: #e2e3e5;
  --alert-secondary-border-color: #d3d6d8;
  --alert-secondary-color: #41464b;
  --alert-secondary-link: #34383c;
  --secondary-background-color: #6c757d;
  --secondary-border-color: #6c757d;
  --secondary-color: #6c757d;
  --secondary-color-contrast: #fff;
  --secondary-link: #34383c;
  --alert-success-background-color: #d1e7dd;
  --alert-success-border-color: #badbcc;
  --alert-success-color: #0f5132;
  --alert-success-link: #0c4128;
  --success-background-color: #0acf97;
  --success-background-color-hover: #09b080;
  --success-border-color: #0acf97;
  --success-border-color-hover: #08a679;
  --success-color: #198754;
  --success-color-contrast: #fff;
  --success-link: #0c4128;
  --success-shadow: 0 2px 6px 0 rgb(10 207 151 / 50%);
  --alert-warning-background-color: #fff3cd;
  --alert-warning-border-color: #ffecb5;
  --alert-warning-color: #664d03;
  --alert-warning-link: #523e02;
  --warning-background-color: #ffc107;
  --warning-border-color: #ffc107;
  --warning-color: #ffc107;
  --warning-color-contrast: #fff;
  --warning-link: #523e02;

  --justify-important: left;
  --justify-normal: left;

  --spacing-1: .25rem !important;
  --spacing-2: .5rem !important;
  --spacing-3: 1rem !important;
  --spacing-4: 1.5rem !important;
  --spacing-5: 3rem !important;
  --gutter-x: 1.5rem;
  --gutter-y: 0;

  --form-background-color:#fff;
  --form-background-color-hover: #fff;
  --form-background-color-focus: #fff;
  --form-background-color-disabled: #444;
  --form-border-width: 1px;
  --form-border-width-focus: 1px;
  --form-border-width-disabled: 1px;
  --form-border-style: solid;
  --form-border-style-focus: solid;
  --form-border-style-disabled: solid;
  --form-border-color: #ced4da;
  --form-border-color-hover: #8bbafe;
  --form-border-color-focus: #ced4da;
  --form-border-color-disabled: #888;
  --form-border-radius: 0;
  --form-color: #495057;
  --form-color-focus: #000;
  --form-color-disabled: #888;
  --form-placeholder-color: #aaa;
  --form-focus-color: #495057;
  --form-focus-border-color: #000;
  --form-shadow-focus: rgba(13, 110, 253, .25);
  --form-required-color: #dc3545;
  --form-required-border-color: #dc3545;
  --form-focus-required-shadow: rgba(253, 110, 13, .25);
  --form-input-border-width: 1px;
  --form-input-border-width-focus: 1px;
  --form-input-border-width-disabled: 1px;
  --form-input-border-style: solid;
  --form-input-border-style-focus: solid;
  --form-input-border-style-disabled: solid;
  --form-input-color: #fff;
  --form-input-color-focus: #fff;
  --form-input-color-checked: #fff;
  --form-input-color-disabled: #000;
  --form-input-background-color: transparent;
  --form-input-background-color-focus: transparent;
  --form-input-background-color-checked: #0044ff;
  --form-input-background-color-disabled: #fafafa;
  --form-input-border-color: #ced4da;
  --form-input-border-color-focus: #ced4da;
  --form-input-border-color-checked: #ced4da;
  --form-input-border-color-disabled: #ced4da;
  --form-valid-color: #28a745;
  --form-valid-border-color: #28a745;
  --form-valid-shadow: rgba(40, 167, 69, .25);

  --code-background-color: #f8f9fa;
  --code-color: #000;
  --code-border-color: #e9e9e9;

  --tooltip-background-color: #000;
  --tooltip-color: #fff;
  --tooltip-border-radius: .25rem;

  --badge-background-color: #d92550;
  --badge-color: #fff;

  --card-background-color: #fff;
  --card-background-color-zebra: #f8f8f8;
  --card-extra-fade-1: rgba(255,255,255,.093);
  --card-extra-fade-2: rgba(255,255,255,.0);
  --card-header-background-color: transparent;
  --card-hover: #f5f5f5;
  --card-link-color: var(--link-color);
  --card-link-color-hover: var(--link-color-hover);
  --card-border-width: 1px;
  --card-border-style: solid;
  --card-border-radius: .25rem;
  --card-border-color: #e9e9e9;
  --card-figcaption-background-color: rgba(0, 0, 0, .5);
  --card-figcaption-color: #fff;
  --card-body-lines: 3;
  --width-card: 300px;
  --width-card-medium: 460px;
  --width-card-wide: 800px;
  --width-content: 100%;

  --list-group-background-color: #fff;
  --list-group-background-hover: #f8f9fa;
  --list-group-background-active: #e9ecef;
  --list-group-background-disabled: #888;
  --list-group-color: #495057;
  --list-group-color-hover: #495057;
  --list-group-color-active: #212529;
  --list-group-color-disabled: #000;

  --dialog-backdrop-color: rgba(0, 0, 0, .9);
  --dialog-background-color: #fff;
  --dialog-header-background-color: #fff;
  --dialog-header-color: #000;
  --dialog-header-border-color: #fff;
  --dialog-footer-background-color: #fff;
  --dialog-footer-color: #000;
  --dialog-footer-border-color: #fff;
  --dialog-color: #000;
  --dialog-border-color: #e9e9e9;
  --dialog-close-color: #444;
  --dialog-close-color-hover: #000;
  --dialog-border-radius: .25rem;
  --dialog-min-width: 460px;
  --dialog-max-width: 90%;

  --search-item-info-color: #000;
  --search-item-link-color: #00f;
  --search-item-link-color-hover: #00f;
  --search-item-url-color: #080;

  --slider-height: 360px;
  --slider-background-color: var(--body-background-color);
  --slider-content-color: var(--color);
  --slider-scrollbar-background-color: rgba(0,0,0,.1);
  --slider-scrollbar-color: var(--button-background-color);
  --slider-navigation-size: 44px;
  --slider-navigation-color: var(--button-background-color);
  --slider-navigation-color-hover: var(--button-background-color-hover);
  --slider-pagination-bullet-color: #000;
  --slider-pagination-bullet-active-color: var(--button-background-color);
  --slider-pagination-bullet-opacity: .2;
  --slider-pagination-bullet-active-opacity: 1;

  --jumbotron-background-color: transparent;

  --playlist-background-color: #000;
  --playlist-play-button-background-color: #3b3636;
  --playlist-play-button-background-color-hover: #f00;
  --playlist-play-button-color: #fff;
  --playlist-play-button-arrow-color: rgba(255,255,255,.75);
  --playlist-video-title-background-color: transparent;
  --playlist-video-title-color: #fff;
  --playlist-video-description-background-color: transparent;
  --playlist-video-description-color: #fff;

  --starRating-color: #ffdf00;
  --starRating-outline-width: 1px;
  --starRating-outline-color: #888;

  --forum-head-background-color: #000;
  --forum-head-color: #fff;
  --forum-pin-color: #4c4;
  --forum-read: #eee;
  --forum-read-border-width: 5px;
  --forum-read-border-color: #eee;
  --forum-unread: var(--card-link-color);
  --forum-unread-border-width: 5px;
  --forum-unread-border-color: var(--card-link-color);
  --forum-blockquote-background-color: #ebebeb;
  --forum-blockquote-border-color: #dbdbdb;
  --forum-blockquote-color: #000;
  --forum-wysiwyg-toolbar-background-color: var(--forum-head-background-color);
  --forum-wysiwyg-toolbar-border-color: var(--card-border-color);
  --forum-wysiwyg-button-background-color: var(--button-background-color);
  --forum-wysiwyg-button-background-color-hover: var(--button-background-color-hover);
  --forum-wysiwyg-button-border-width: var(--button-border-width);
  --forum-wysiwyg-button-border-width-hover: var(--button-border-width-hover);
  --forum-wysiwyg-button-border-style: var(--button-border-style);
  --forum-wysiwyg-button-border-style-hover: var(--button-border-style-hover);
  --forum-wysiwyg-button-border-color: var(--button-border-color);
  --forum-wysiwyg-button-border-color-hover: var(--button-border-color-hover);
  --forum-wysiwyg-button-color: var(--button-color);
  --forum-wysiwyg-button-color-hover: var(--button-color-hover);
  --forum-wysiwyg-button-border-radius: var(--button-border-radius);
  --forum-wysiwyg-background-color: var(--card-background-color);
  --forum-wysiwyg-border-color: var(--card-border-color);
  --forum-wysiwyg-editable-background-color: var(--card-background-color);
  --forum-wysiwyg-editable-color: var(--card-color);

  --chat-zindex: 1050;
  --chat-header-background-color: transparent;
  --chat-body-border-color: #e9e9e9;
  --chat-body-background-color: #fff;

  --banner-background-color: var(--danger-background-color);
  --banner-border-color: var(--danger-border-color);
  --banner-heading-color: #000;
  --banner-color: #fff;
  --banner-link-color: #fff;
  --banner-link-color-hover: #f40;
};
