@charset "UTF-8";

@import url('stylesheet-vars.css');
@import url('../../../core/css/stylesheet-base.css');
@import url('../../../core/css/stylesheet-typography.css');
@import url('../../../core/css/stylesheet-grid.css');
@import url('../../../core/css/stylesheet-forms.css');
@import url('../../../core/css/stylesheet-helpers.css');
@import url('../../../core/css/stylesheet-xtras.css');
@import url('../../../core/css/stylesheet-icons.css');
@import url('../../../core/js/swiper/swiper-bundle.min.css');
@import url('../../../core/js/fancybox/fancyboxv4.css');
@import url('../../../core/css/stylesheet-aurora.css');
@import url('../../../core/css/stylesheet-print.css');

/* The below are styles specific to the theme for website they are for,
   and most likely include overrides to produce a particular effect. */

.brand {
  max-width: 200px !important;
  max-height: 50px !important;
  display: block;
  margin: 0 0 0 60px !important;
  padding: 0 !important; }

nav ul li {
  display: inline-block !important;
  position: relative;
  margin: 0 !important;
  padding: .5rem .75rem;
  text-align: left; }

nav ul li a {
  transition: color .1s linear; }

nav ul li a:focus,
nav ul li a:hover {
  text-decoration: none; }

nav ul li.active {
  border-radius: 5px;
  background: #eee; }

address [role="button"] {
  display: block;
  margin: 1.5rem 0 .5rem 0;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: medium;
  font-family: var(--font);
  line-height: var(--line-height); }

#gl {
  width: auto;
  height: 500px; }

#map {
  height: 400px; }

.leaflet-control-layers-toggle {
  background-image: url(../images/layers.png) !important;
  width: 36px !important;
  height: 36px !important; }

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(../images/layers-2x.png) !important;
  background-size: 26px 26px !important; }

.leaflet-default-icon-path {
  background-image: url(../images/marker-icon.png) !important; }
