/* stylesheet v0.8 - https://github.com/DiemenDesign/stylesheet */

:root {
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-size: 1rem;
  --body-background-color: #fff;
  --color: #000;
  --color-muted: #6c757d;
  --link-color: #0044ff;
  --link-color-hover: #0056b3;
  --content-background-color: #920de90b;
  --content-border-color: #007bff;
  --box-shadow-x: .05rem;
  --box-shadow-y: .07rem;
  --box-shadow-spread: .075rem;
  --box-shadow-color: rgba(0, 0, 0, .07);
  --border-radius: .25rem;
  --border-color: #e9e9e9;
  --border-width: 1px;
  --border-style: solid;
  --mark-background-color: #ff0;
  --figure-caption-color: #888;

  --header-background-color: #fff;
  --header-color: #000;

  --address-background-color: #fff;
  --address-color: #000;

  --footer-background-color: #fff;
  --footer-color: #000;

  --menu-background-color: #fff;
  --menu-background-color-hover: #ddd;
  --menu-background-color-active: #ccc;
  --menu-button-color: #fff;
  --menu-button-color-hover: #f5f5f5;
  --menu-button-background-color: #007bff;
  --menu-button-background-color-hover: #0069d9;
  --menu-button-border-color: #007bff;
  --menu-button-border-color-hover: #0069d9;
  --menu-button-border-width: 1px;
  --menu-button-border-width-hover: 1px;
  --menu-button-border-style: solid;
  --menu-button-border-color: #007bff;
  --menu-button-border-color-hover: #007bff;
  --menu-button-border-radius: .25rem;
  --menu-color: #444;
  --menu-color-active: #000;
  --menu-link-color: #444;
  --menu-link-color-hover: #666;
  --menu-link-color-active: #000;
  --menu-dropdown-background-color: #fff;
  --menu-dropdown-border-color: #e9e9e9;

  --button-color: #fff;
  --button-color-hover: #f5f5f5;
  --button-background-color: #007bff;
  --button-background-color-hover: #0069d9;
  --button-border-color: #007bff;
  --button-border-color-hover: #0069d9;

  --table-background-color: #fff;
  --table-color: #000;
  --table-head-background-color: #000;
  --table-head-color: #fff;
  --table-border-color: #e9e9e9;
  --table-zebra-background: #f4f4f4;

  --danger-background-color: #f8d7da;
  --danger-border-color: #f5c6cb;
  --danger-color: #721c24;
  --danger-link: #491217;
  --dark-background-color: #d6d8d9;
  --dark-border-color: #c6c8ca;
  --dark-color: #1b1e21;
  --dark-link: #040505;
  --default-background-color: #ddd;
  --default-border-color: #ced4da;
  --default-color: #000;
  --default-link: #000;
  --info-background-color: #d1ecf1;
  --info-border-color: #bee5eb;
  --info-color: #0c5460;
  --info-link: #062c33;
  --light-background-color: #fefefe;
  --light-border-color: #fdfdfe;
  --light-color: #818182;
  --light-link: #686868;
  --primary-background-color: #cfe2ff;
  --primary-border-color: #bbd6fe;
  --primary-color: #073984;
  --primary-link: #042454;
  --secondary-background-color: #e2e3e5;
  --secondary-border-color: #d6d8db;
  --secondary-color: #383d41;
  --secondary-link: #202326;
  --success-background-color: #d4edda;
  --success-border-color: #c3e6cb;
  --success-color: #15572f;
  --success-link: #0b2e13;
  --warning-background-color: #fff3cd;
  --warning-border-color: #ffeeba;
  --warning-color: #856404;
  --warning-link: #533f03;

  --justify-important: center;
  --justify-normal: left;

  --spacing-1: .25rem !important;
  --spacing-2: .5rem !important;
  --spacing-3: 1rem !important;
  --spacing-4: 1.5rem !important;
  --spacing-5: 3rem !important;
  --gutter-x: 1.5rem;
  --gutter-y: 0;
};

@media (prefers-color-scheme: dark) {
  :root {
    --body-background-color: #333;
    --color: #f7f7f7;
    --color-muted: #aaa;
    --link-color: #007bff;
    --link-color-hover: #0056b3;
    --content-background-color: #555;
    --content-border-color: #007bff;
    --box-shadow-color: #bbbbbb10;
    --border-color: #444;

    --menu-background-color: #343a40;
    --menu-background-color-hover: #454b51;
    --menu-background-color-active: #454b51;
    --menu-color: #fff;
    --menu-color-active: ;
    --menu-link-color: #ffffff80;
    --menu-link-color-hover: #ffffff40;
    --menu-link-color-active: #fff;
    --menu-dropdown-background-color: #343a40;
    --menu-dropdown-border-color: #666;

    --table-background-color: #444;
    --table-color: #fff;
    --table-head-background-color: #000;
    --table-head-color: #fff;
    --table-border-color: #666;
    --table-zebra-background: #555;
  };
}

*,
*::before,
*::after {
  box-sizing: border-box; }

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important; }

/* Head */
base,
DOCTYPE,
head,
link,
meta,
noscript,
style,
script,
title,
template {
  display: none; }

html {
  scroll-behavior: smooth; }

html,
body {
  margin: 0 !important;
  padding: 0 !important; }

body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: var(--body-background-color);
  overflow-x: hidden;
  color: var(--color);
  font-weight: 400;
  font-size: var(--font-size);
  font-family: var(--font);
  line-height: 1.5; }

/* Blocks */
div {
  display: block; }

header,
footer,
main {
  display: block;
  margin: 0 auto; }

main {
  background-color: transparent; }

main header {
  background-color: transparent;
  padding-top: 0; }

header {
  background-color: var(--header-background-color);
  color: var(--header-color);
  text-align: var(--justify-important); }

address {
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--justify-important);
  font-style: normal;
  line-height: inherit;
  background-color: var(--address-background-color);
  color: var(--address-color); }

address .street:empty,
address .postal-code:empty,
address .country-name:empty,
address .email:empty,
address .tel a:empty,
address .mobile a:empty {
  display: none; }

footer {
  margin: 0;
  background-color: var(--footer-background-color);
  color: var(--footer-color); }

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--justify-important); }

section article {
  position: relative;
  margin: 1rem;
  padding: 1.25rem;
  width: var(--width-card);
  overflow: hidden; }

section article,
section aside img {
  max-width: 100%; }

section header {
  background-color: transparent;
  padding-top: 0;
  width: 100%; }

article header {
  background-color: transparent;
  padding-top: 0; }

article footer {
  background-color: transparent;
  padding-top: 0; }

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  background-color: var(--menu-background-color);
  font-weight: 700; }

nav ul {
  padding: 0;
  list-style: none; }

nav ul li {
  display: inline-block;
  position: relative;
  margin: 0 .5rem;
  text-align: left; }

nav ul li:hover ul {
  display: block; }

nav ul li ul {
  display: none;
  position: absolute;
  top: 1.7rem;
  right: 0;
  z-index: 1000;
  box-shadow: var(--box-shadow-x) var(--box-shadow-y) var(--box-shadow-spread) var(--box-shadow-spread) var(--box-shadow-color);
  border: var(--border-width) var(--border-style) var(--menu-dropdown-border-color);
  border-radius: var(--border-radius);
  background-color: var(--menu-dropdown-background-color);
  padding: .5rem 1rem;
  width: auto;
  height: auto;
  white-space: nowrap; }

nav ul li ul li,
nav ul li ul li a {
  display: block; }

/* Tables */
caption {
  padding-top: .5rem;
  padding-bottom: .5rem;
  caption-side: top;
  color: var(--color);
  text-align: left; }
col {}
colgroup {}
table {
  vertical-align: top;
  margin-bottom: 1rem;
  border-collapse: collapse;
  width: 100%;
  caption-side: bottom;
  color: var(--table-color); }
tbody {
  vertical-align: inherit; }
tr {
  border: 0; }
td,
th {
  padding: .5rem; }
th {
  text-align: inherit;
  text-align: -webkit-match-parent; }
thead {
  margin: 0;
  border-radius: var(--border-radius);
  border-collapse: collapse;
  background-color: var(--table-head-background-color);
  padding: 0;
  color: var(--table-head-color); }
thead tr {
  border: var(--border-width) var(--border-style) var(--table-border-color);

}
thead th {
  vertical-align: bottom;
  border: 0;
  border-bottom-color: var(--table-border-color); }
thead th:first-child {
  border-top-left-radius: 5px; }
thead th:last-child {
  border: 0;
  border-top-right-radius: 5px; }
thead th:first-child,
tr td:first-child {
  text-align: var(--justify-normal); }
table tr:nth-child(even) {
  background-color: var(--table-zebra-background); }
tfoot {}
/* Interactive */
command {}
details {
  display: block;
  margin: 1.3rem 0; }
details summary {
  display: list-item;
  cursor: pointer;
  font-weight: 700; }
details summary:focus {
  outline: none; }
menu {}
/* Edits */
del {}
ins {}
/* Embedded */
area {}
audio {}
canvas {}
embed {}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  vertical-align: middle; }
img {
  border-style: none; }
img,
video {
  max-width: 100%;
  height: auto; }
iframe {}
map {}
object {}
param {}
source {}
track {}
video {}
@media print {
  .d-print-none {
    display: none !important; }
  .d-print-inline {
    display: inline !important; }
  .d-print-inline-block {
    display: inline-block !important; }
  .d-print-block {
    display: block !important; }
  .d-print-table {
    display: table !important; }
  .d-print-table-row {
    display: table-row !important; }
  .d-print-table-cell {
    display: table-cell !important; }
  .d-print-flex {
    display: flex !important; }
  .d-print-inline-flex {
    display: inline-flex !important; }
}
