*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased;font-smoothing:antialiased}
body{font-family:sans-serif;font-weight:300;font-size:1em}
address{background-color:#fff;font-size:1.2em}
address .icon{}
address .info{margin-top:-25px;margin-left:35px}
address .street:empty,
address .postal-code:empty,
address .country-name:empty,
address .email:empty,
address .tel a:empty,
address .mobile a:empty{display:none}
blockquote,
p{margin-top:1em;margin-bottom:1em;font-family:sans-serif;font-size:1.15em;line-height:1.25;font-weight:300;font-style:normal}
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6,
p{font-family:sans-serif}
h1,.h1{font-size:2em;letter-spacing:1.25px;line-height:1.25;margin-top:.0375em;margin-bottom:.3125em}
h2,.h2{font-size:2em;line-height:1.15384615;margin-top:1.15384616em;margin-bottom:.38461539em}
h3,.h3{font-size:1.75em;line-height:1.13636364;margin-top:1.36363637em;margin-bottom:.45454546em}
h4,.h4{font-size:1.15em;line-height:1.11111111;margin-top:1.66666667em;margin-bottom:.55555556em}
@media (min-width:43.75em){
  blockquote,
  p{font-size:2em;line-height:1.45833333}
  h1,.h1{font-size:3.5em;letter-spacing:normal;line-height:1.125;margin-top:.73333334em;margin-bottom:.24444445em}
  h2,.h2{font-size:2.75em;line-height:1.25;margin-top:1.03125em;margin-bottom:.34375em}
  h3,.h3{font-size:2.5em;line-height:1.25;margin-top:1.37500001em;margin-bottom:.45833334em}
  h4,.h4{font-size:2.15em;line-height:1.22222222;margin-top:1.83333333em;margin-bottom:.61111111em}
}
@media (min-width:56.25em){
  blockquote,
  p{font-size:1.25em;line-height:1.45833333}
  h1,.h1{font-size:2.25em;letter-spacing:normal;line-height:1.05;margin-top:.6875em;margin-bottom:.22916667em}
  h2,.h2{font-size:1.75em;line-height:1.25;margin-top:1.03125em;margin-bottom:.34375em}
  h3,.h3{font-size:1.5em;line-height:1.25;margin-top:1.37500001em;margin-bottom:.45833334em}
  h4,.h4{font-size:1.25em;line-height:1.22222222;margin-top:1.83333333em;margin-bottom:.61111111em}
}
a{color:#000;text-decoration:none;-webkit-transition:.3s all;-o-transition:.3s all;transition:.3s all}
a:hover{color:#888;text-decoration:none}
.dropdown:hover>.dropdown-menu{display:block}
.dropdown>.dropdown-toggle:active{pointer-events:none}
.card-img-top{width:100%;object-fit:cover}
.card-img-top.small{width:100%;height:17rem;object-fit:cover}
.card-img-top.home{height:10rem;object-fit:cover}
#menuavatar{width:20px;height:20px}
#headeravatar{width:32px;height:32px}
#cart{position:absolute;display:block;top:-10px;right:-5px}
#cart:empty{display:none}
#featured .carousel-image{display:block;height:480px;width:100%;background-size:cover;background-position:center center}
#featured .carousel-caption{position:absolute;background-color:transparent;top:0;right:0;bottom:0;left:0;font-size:1.2em;color:#fff;text-transform:uppercase;text-align:center}
#featured .carousel-caption .title{margin-top:10%;font-size:2.7em;color:#fff;text-transform:none;-webkit-text-shadow:0 0 40px #000,2px 4px 20px #000;text-shadow:0 0 40px #000,2px 4px 20px #000}
#featured .attribution{display:none}
.jumbotron:empty{display:none}
.jumbotron[style*="background-image"]{display:block}
.jumbotron{position:relative;z-index:-101;width:100%;height:80vh;background-repeat:no-repeat;background-position:center center;background-attachment:fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;overflow:hidden;-moz-box-shadow:inset 0 -30px 30px -30px rgba(0,0,0,.5);-webkit-box-shadow:inset 0 -30px 30px -30px rgba(0,0,0,.5);box-shadow:inset 0 -30px 30px -30px rgba(0,0,0,.5)}
.jumbotron video{position:absolute;height:auto;width:auto;min-height:100%;min-width:100%;left:50%;top:50%;-webkit-transform:translate3d(-50%,-50%,0);transform:translate3d(-50%,-50%,0);z-index:1}
.jumbotron.about{height:80vh}
.search-item-title a{color:#00f}
.search-item-url{color:#080}
.starRating:not(old){display:block;width:7.5em;height:1.5em;overflow:hidden;vertical-align :bottom}
.starRating:not(old)>input{margin-right:-100%;opacity:0}
.starRating:not(old)>label{display:block;float:right;position:relative;background:url(../images/star-off.svg);background-size:contain}
.starRating:not(old)>label:before{content:'';display:block;width:1.5em;height:1.5em;background:url(../images/star-on.svg);background-size :contain;opacity:0;transition:opacity .2s linear}
.starRating:not(old)>label:hover:before,
.starRating:not(old)>label:hover~label:before,
.starRating:not(:hover)>:checked~label:before{opacity:1}
.rat{display:inline-block}
.rat span{display:inline-block;width:1em;height:1em;background:url(../images/star-off.svg);background-size:contain}
.rat span.set{display:inline-block;width:1em;height:1em;background:url(../images/star-on.svg);background-size:contain}
.testimonials{background-color:#ddd}
.testimonials h2{position:relative}
.testimonials h2::after{content:"";width:130px;position:absolute;margin:0 auto;height:3px;background:#000;left:0;right:0;bottom:-10px}
.testimonials .carousel-inner .carousel-item .img-box{width:135px;height:135px}
.testimonials .carousel-inner .carousel-item .img-box img{width:100%;height:100%}
.testimonials .carousel-control-prev{left:-100px}
.testimonials .carousel-control-next{right:-100px}
.testimonials .carousel-indicators{top:auto;bottom:-30px}
@media(min-width:320px)and(max-width:640px){
	.testimonials .carousel-inner .carousel-item p{font-size:14px}
	.testimonials .carousel-control-prev{left:-40px}
	.testimonials .carousel-control-next{right:-40px}
 	.testimonials .carousel-indicators{top:400px}
}
.quotes{}
.quote{position:relative}
.quote blockquote{background-color:#ddd;padding:0;border:0;margin:0;font-size:14px;font-style:italic;-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;border-radius:8px}
.quote blockquote p{color:#000;padding-top:25px;padding-bottom:45px;padding-left:30px;padding-right:30px}
.quote blockquote:before{content:"";position:absolute;top:100%;left:90px;width:0;height:0;border-top:.83333em solid #ddd;border-right:.86667em solid transparent}
.quote-footer{margin:10px 0}
.quote-footer .quote-author-img img{float:left;max-width:90px;width:90px;height:90px;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%;margin-left:-5px;margin-top:-40px;position:relative;z-index:1;padding:5px;background-color:#fff}
.quote-footer h4{font-size:14px;margin-bottom:4px}
.quote-footer p{font-weight:400;font-style:italic;font-size:14px}
footer{font-size:1.25em}
.theme{background:transparent;color:#000}
.theme a{line-height:0;text-decoration:none}
footer .theme .auroracms svg{width:100px!important;height:auto}
footer .theme .libre{margin:0 5px}
@media(min-width:360px){
  .w-50{width:100%!important}
  .m-4{margin:.75rem 0 .75rem 0!important}
  .card.default .card-body{width:90%;margin:-200px auto 0 auto}
}
@media(min-width:540px){
  .card.default .card-body{width:80%;margin:-150px auto 0 auto}
}
@media(min-width:768px){
  .m-4{margin:1rem!important}
  .w-50{width:50%!important}
  .card.default .card-body{margin:-100px auto 0 auto}
}
@media(min-width:1200px){}
/* Extra colour's for Custom File Input Styling */
.custom-file-label::after{display:inline-block;font-weight:400;color:#212529;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5}
.custom-file-label.primary::after{color:#fff;background-color:#007bff;border-color:#007bff}
.custom-file-label.secondary::after{color:#fff;background-color:#6c757d;border-color:#6c757d}
.custom-file-label.success::after{color:#fff;background-color:#28a745;border-color:#28a745}
.custom-file-label.info::after{color:#fff;background-color:#17a2b8;border-color:#17a2b8}
.custom-file-label.warning::after{color:#212529;background-color:#ffc107;border-color:#ffc107}
.custom-file-label.danger::after{color:#fff;background-color:#dc3545;border-color:#dc3545}
.custom-file-label.light::after{color:#212529;background-color:#f8f9fa;border-color:#f8f9fa}
.custom-file-label.dark::after{color:#fff;background-color:#343a40;border-color:#343a40}
.custom-file-label.outline-primary::after{background-color:#fff;color:#007bff;border-color:#007bff}
.custom-file-label.outline-secondary::after{color:#6c757d;border-color:#6c757d}
.custom-file-label.outline-success::after{color:#28a745;border-color:#28a745}
.custom-file-label.outline-info::after{background-color:#fff;color:#17a2b8;border-color:#17a2b8}
.custom-file-label.outline-warning::after{background-color:#fff;color:#ffc107;border-color:#ffc107}
.custom-file-label.outline-danger::after{background-color:#fff;color:#dc3545;border-color:#dc3545}
.custom-file-label.outline-light::after{background-color:#fff;color:#f8f9fa;border-color:#f8f9fa}
.custom-file-label.outline-dark::after{background-color:#fff;color:#343a40;border-color:#343a40}
/* Corner Styles <div class="corner-ribbon bottom-right sticky green shadow">Hello</div> */  
.corner-ribbon{width:200px;background:#f8f9fa;position:absolute;top:15px;left:-70px;text-align:center;font-size:.5em;line-height:30px;letter-spacing:1px;color:#212529;transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}
.corner-ribbon.top-left{top:15px;left:-70px;transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}
.corner-ribbon.top-right{top:15px;right:-70px;left:auto;transform:rotate(45deg);-webkit-transform:rotate(45deg)}
.corner-ribbon.bottom-left{top:auto;bottom:15px;left:-70px;transform:rotate(45deg);-webkit-transform:rotate(45deg)}
.corner-ribbon.bottom-right{top:auto;right:-70px;bottom:15px;left:auto;transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}
.corner-ribbon.black{background:#333;color:#fff}
.corner-ribbon.danger{background:#dc3545;color:#fff}
.corner-ribbon.dark{background:#343a40;color:#fff}
.corner-ribbon.info{background:#17a2b8;color:#fff}
.corner-ribbon.light{background:#f8f9fa;color:#555}
.corner-ribbon.primary{background:#007Bff;color:#fff}
.corner-ribbon.secondary{background:#6c757d;color:#fff}
.corner-ribbon.success{background:#28a745;color:#fff}
.corner-ribbon.warning{background:#ffc107;color:#555}
.corner-ribbon.white{background:#f0f0f0;color:#555}
.corner-ribbon.outline-primary{background-color:#fff;color:#007bff;border-color:#007bff}
.corner-ribbon.outline-secondary{background-color:#fff;color:#6c757d;border-color:#6c757d}
.corner-ribbon.outline-success{background-color:#fff;color:#28a745;border-color:#28a745}
.corner-ribbon.outline-info{background-color:#fff;color:#17a2b8;border-color:#17a2b8}
.corner-ribbon.outline-warning{background-color:#fff;color:#ffc107;border-color:#ffc107}
.corner-ribbon.outline-danger{background-color:#fff;color:#dc3545;border-color:#dc3545}
.corner-ribbon.outline-light{background-color:#fff;color:#f8f9fa;border-color:#f8f9fa}
.corner-ribbon.outline-dark{background-color:#fff;color:#343a40;border-color:#343a40}
