<block include="meta_head.html">
<block include="header.html">
<block inbed="content">
	<cover>
		<figure class="covertron"><print page="coverItem"></figure>
	</cover>
	<breadcrumb>
		<nav class="breadcrumb">
			<ol>
				<json-ld-breadcrumb>
				<breaditems>
					<li class="breadcrumb-item"><a href="<print breadcrumb=url>"><print breadcrumb="title"></a></li>
				</breaditems>
				<breadcurrent>
					<li class="breadcrumb-item active"><print breadcrumb="title"></li>
				</breadcurrent>
			</ol>
		</nav>
	</breadcrumb>
	<section class="row">
		<article>
			<h1><print page="heading"></h1>
			<print page="notes">
		</article>
	</section>
	<playlist>
		<section class="row">
			<article class="mx-auto mt-5">
				<div class="row">
					<playlistitem>
						<div class="col-11 mx-auto">
							<iframe width="100%" height="600" src="<print playlist=url>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
					</playlistitem>
				</div>
			</article>
		</section>
	</playlist>
	<section class="row">
		<article class="media text-center">
			<mediaitems>
				<mediaimages>
					<a class="m-2" href="<print media=file>" data-fancybox="gallery" data-caption="<print media=fileALT>" data-srcset="<print lightbox=srcset>"><img <print thumb=srcset>src="<print media=thumb>" class="img-thumbnail" loading="lazy" alt="<print media=fileALT>"></a>
				</mediaimages>
			</mediaitems>
		</article>
	</section>
</block>
<block include="footer.html">
<block include="meta_footer.html">
