<block include="meta_head.html">
<block include="header.html">
<block inbed="bookings">
	<cover>
		<figure class="covertron"><print page="coverItem"></figure>
	</cover>
	<breadcrumb>
		<nav class="breadcrumb">
			<ol>
				<json-ld-breadcrumb>
				<breaditems>
					<li class="breadcrumb-item"><a href="<print breadcrumb=url>"><print breadcrumb="title"></a></li>
				</breaditems>
				<breadcurrent>
					<li class="breadcrumb-item active"><print breadcrumb="title"></li>
				</breadcurrent>
			</ol>
		</nav>
	</breadcrumb>
	<section class="row">
		<article class="col-12 col-sm m-0 p-0 px-3">
			<h1><print page="heading"></h1>
			<print page="notes">
		</article>
		<article id="booking" class="col-12 col-sm-6 m-0 p-0">
			<form class="auroraForm card p-3" data-formtype="booking" method="post" action="core/add_booking.php">
				<input type="hidden" name="act" value="add_booking">
				<input type="hidden" name="<print hash>" value="<print timecode>">
				<div class="alert alert-danger" role="alert">Highlighted Fields are Required</div>
				<label for="email">Email</label>
				<input type="email" id="email" name="email" value="" placeholder="Enter an Email..." required aria-required="true">
				<div class="requirements alert alert-danger">Must be a valid email address.</div>
				<label for="name">Name</label>
				<input type="text" id="name" name="name" value="" placeholder="Enter a Name..." required aria-required="true">
				<div class="requirements alert alert-danger" role="alert">A Name is required.</div>
				<label for="fullname" aria-hidden="true">Full Name</label>
				<input id="fullname" name="fullname<print hash>" value="" autocomplete="off" aria-hidden="true">
				<label for="business">Business</label>
				<input type="text" id="business" name="business" value="" placeholder="Enter a Business...">
				<label for="phone">Phone</label>
				<input type="tel" id="phone" name="phone" value="" placeholder="Enter a Phone Number...">
				<label for="address">Address</label>
				<input type="text" id="address" name="address" value="" placeholder="Enter an Address...">
				<label for="suburb">Suburb</label>
				<input type="text" id="suburb" name="suburb" value="" placeholder="Enter a Suburb...">
				<label for="city">City</label>
				<input type="text" id="city" name="city" value="" placeholder="Enter a City...">
				<label for="state">State</label>
				<input type="text" id="state" name="state" value="" placeholder="Enter a State...">
				<label for="postcode">Postcode</label>
				<input type="text" id="postcode" name="postcode" value="" placeholder="Enter a Postcode...">
				<label for="date">Date</label>
				<input type="datetime-local" id="date" name="tis" min="<print currentdate>" value="<print currentdate>" <itemreadonly>>
				<bookservices>
					<label for="rid">Event/Service</label>
					<serviceselect>
						<select id="rid" name="rid">
							<option value="0">Select an Item...</option>
							<serviceoptions>
						</select>
					</serviceselect>
					<div class="row">
						<items>
							<input class="service" id="rid<print id>" type="radio" name="rid" value="<print id>" <itemChecked> hidden>
							<label for="rid<print id>" class="col-6 mx-auto <itemHidden>">
								<div class="card m-1 service">
									<figure class="card-image">
										<img src="<print content=thumb>" loading="lazy" alt="<print content=imageALT>">
									</figure>
									<div class="card-header h6 text-center line-clamp" title="<print content=title>"><print content="title"></div>
								</div>
							</label>
						</items>
					</div>
				</bookservices>
				<label for="notes">Notes</label>
				<textarea id="notes" name="notes" placeholder="Enter some Notes..."></textarea>
				<g-recaptcha>
				<div class="text-right">
					<button id="booking-btn" type="submit" disabled="disabled">Make Booking</button>
				</div>
			</form>
		</article>
	</section>
</block>
<block include="footer.html">
<block include="meta_footer.html">
