<block include="meta_head.html">
<block include="header.html">
<block inbed="cart">
	<pagenotes>
    <section class="row mt-5">
      <article class="col-11">
      	<print page="notes">
      </article>
  	</section>
  </pagenotes>
	<section class="row mt-5">
		<emptycart>
			<article id="cart" name="cart" class="col-11 col-sm-5 m-0 p-0 mx-1">
				<div class="card">
					<h3 class="p-3">Your Cart</h3>
					<table class="border-0">
						<thead class="border-0">
							<tr>
								<th class="w-25 d-none d-sm-table-cell border-0"></th>
								<th colspan="6" class="small border-0">
									<span class="text-muted">Code : </span>Title<span class="text-muted"> : Choices</span>
								</th>
							</tr>
							<tr>
								<th class="d-none d-sm-table-cell border-0"></th>
								<th colspan="2" class="border-0"></th>
								<th class="w-10 small text-right pr-5 border-0">Quantity</th>
								<th class="w-10 small text-right border-0">X</th>
								<th class="w-10 small text-center border-0">Cost</th>
								<th class="w-10 small text-right border-0">Total</th>
							</tr>
						</thead>
						<tbody>
							<items>
								<tr class="<print zebra>">
									<td class="d-none d-sm-table-cell align-middle border-0 p-0 pt-1 pl-1">
										<img src="<print content=image>" class="m-0" alt="<print content=title>">
									</td>
									<td colspan="6" class="small align-middle border-0">
										<print content="code"><print content="title"><print choice>
									</td>
								</tr>
								<tr class="<print zebra> my-0 py-0">
									<td class="d-none d-sm-table-cell border-0"></td>
									<td colspan="2" class="text-right align-middle my-0 py-0 border-0">
										<small class="d-none d-sm-inline text-muted float-left text-left"><small>
											Weight: <print content="weight"><br>
											Dimensions: <print content="dimensions">
										</small></small>
									</td>
									<td class="align-middle my-0 py-0 border-0">
										<form method="post" action="<print carturl>#cart">
											<div class="form-group row">
												<input type="hidden" name="qid" value="<print cart=id>">
												<input type="number" class="form-control form-control-sm col-4 ml-auto text-center" name="qty" value="<print cart=quantity>" onchange="this.form.submit();">
											</div>
										</form>
									</td>
									<td class="small align-middle text-right border-0" style="width:30px;">X</td>
									<td class="w-10 text-center align-middle my-0 py-0 border-0"><print cart="cost"></td>
									<td class="w-10 text-right align-middle my-0 py-0 border-0"><print itemscalculate></td>
								</tr>
							</items>
						</tbody>
						<tfoot>
							<tr class="my-0 py-0">
								<td class="d-none d-sm-table-cell border-0"></td>
								<td colspan="5" class="text-right my-0 py-0 border-0">Total</td>
								<td id="total" class="text-right border-dark border-top border-bottom my-0 py-0 font-weight-bold"><print totalcalculate></td>
							</tr>
							<tr class="my-0 py-0">
								<td class="d-none d-sm-table-cell border-0"></td>
								<td colspan="5" class="text-right my-0 py-0 border-0">
									<small>Estimated Dimensions: <print dimensions></small>
								</td>
								<td class="border-0"></td>
							</tr>
							<tr class="my-0 py-0">
								<td class="d-none d-sm-table-cell border-0"></td>
								<td colspan="5" class="text-right my-0 py-0 border-0">
									<small>Total Weight: <print weight></small>
								</td>
								<td class="border-0"></td>
							</tr>
						</tfoot>
					</table>
					<div class="text-right pr-2"><small>We are unable to calculate the postage cost as we need your Post Code, once you fill in the details <span class="d-none d-sm-inline">to the right</span><span class="d-inline d-sm-none">below</span>, and activate your account we will be able to estimate the postage cost's.</small></div>
					<div class="text-right pr-2"><small>Changing Quantities will refresh the page to recalculate.<br> To remove items change it's Quantity to '0'</small></div>
					<div class="text-right pr-2"><small>Prices are in Australian Dollars (AUD)</small></div>
				</div>
			</article>
			<article class="col-11 col-sm-5 m-0 p-0 mx-1">
				<iframe id="sp" name="sp" class="d-none"></iframe>
				<form class="card p-3" method="post" action="cart/confirm">
					<input type="hidden" name="emailtrap" value="none">
					<loggedin>
						<h3>Create or Add to Existing Account</h3>
						<div class="alert alert-info" role="alert">
							If you have ordered from us previously, or already have an account, you can just enter your email below, and we will add this order using your account details.
						</div>
						<div class="alert alert-danger" role="alert">
							Red Highlighted Fields are Required.
						</div>
						<label for="email">Email</label>
						<input type="email" id="email" name="email" value="" placeholder="Enter an Email..." required aria-required="true">
						<div class="requirements alert alert-danger">
							Must be a valid email address.
						</div>
						<label for="name" class="mt-0">Name</label>
						<input type="text" id="name" name="name" value="" placeholder="Enter a Name...">
						<label for="business">Business</label>
						<input type="text" id="business" name="business" value="" placeholder="Enter a Business...">
						<label for="phone">Phone</label>
						<input type="tel" id="phone" name="phone" value="" placeholder="Enter a Phone Number...">
						<label for="address">Address</label>
						<input type="text" id="address" name="address" value="" placeholder="Enter an Address...">
						<label for="city">City</label>
						<input type="text" id="city" name="city" value="" placeholder="Enter a City...">
						<label for="suburb">Suburb</label>
						<input type="text" id="suburb" name="suburb" value="" placeholder="Enter a Suburb...">
						<label for="country">Country</label>
						<input type="text" id="country" name="country" value="Australia" placeholder="Enter a Country...">
						<label for="state">State</label>
						<select id="state" name="state">
							<option value="">Choose...</option>
							<option value="New South Wales">New South Wales</option>
							<option value="Northern Territory">Northern Territory</option>
							<option value="Queensland">Queensland</option>
							<option value="South Australia">South Australia</option>
							<option value="Tasmania">Tasmania</option>
							<option value="Victoria">Victoria</option>
							<option value="Western Australia">Western Australia</option>
							<option value="Australian Capital Territory">Australian Capital Territory</option>
						</select>
						<label for="postcode">Postcode</label>
						<input type="text" id="postcode" name="postcode" value="" placeholder="Enter a Postcode...">
					</loggedin>
					<label for="rewards">Rewards</label>
					<input type="text" id="rewards" name="rewards" value="" placeholder="Enter Your Rewards Code...">
					<postageoptions>
						<label for="postoption">Delivery Options</label>
						<select id="postoption" name="postoption">
							<postoptions>
						</select>
						<small>Note: Delivery prices are estimates, and may change depending on order items and location of delivery.</small><br>
					</postageoptions>
					<button type="submit" class="margin-top-3">Confirm Order</button>
				</form>
			</article>
		</emptycart>
	</section>
</block>
<block include="footer.html">
<block include="meta_footer.html">
