<block inbed="comingsoon">
<!DOCTYPE HTML>
<html lang="en-AU">
	<head>
		<base href="<print meta=url>">
		<meta charset="UTF-8">
		<title><print meta="seoTitle"></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2">
		<meta name="robots" content="<print meta=metaRobots>">
		<meta name="description" content="<print meta=seoDescription>">
		<meta name="google" content="nositelinkssearchbox">
		<meta name="url" content="<print meta=canonical>">
		<meta name="identifier-url" content="<print meta=url>">
		<print site_verifications>
		<link rel="alternate" media="all" href="<print meta=canonical>">
		<link rel="canonical" href="<print meta=canonical>">
		<link rel="alternate" href="<print meta=canonical>" hreflang="en-AU">
		<link rel="author" href="humans.txt">
		<link rel="icon" href="<print meta=favicon>" type="image/png">
		<script type='application/ld+json'>{"@context":"http://schema.org","@type":"WebSite","url":"<print meta=canonical>","name":"<print config=business>","author":{"@type":"Person","name":"<print meta=author>"},"description":"<print meta=seoDescription>","publisher":"<print config=business>","potentialAction":{"@type":"SearchAction","target":"<print meta=url>search/{search_term}","query-input":"required name=search_term"}}</script>
		<meta property="og:locale" content="en-AU">
		<meta property="og:type" content="<print meta=ogType>">
		<meta property="og:title" content="<print meta=seoTitle>">
		<meta property="og:description" content="<print meta=seoDescription>">
		<meta property="og:url" content="<print meta=canonical>">
		<meta property="og:site_name" content="<print meta=seoTitle>">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="<print meta=seoTitle>">
		<meta name="twitter:description" content="<print meta=seoDescription>">
		<link rel="publisher" href="<print meta=url>">
		<link rel="stylesheet" type="text/css" href="<print theme>/css/style.css">
		<script src="core/js/js.js"></script>
		<google_analytics>
		<style>
			html,body{width:100%;height:100%;overflow:auto;overflow-x:hidden}
			body{background-color:transparent;background-repeat:no-repeat;background-position:center;background-size:cover}
		</style>
	</head>
	<body class="unavailable" style="<print background>">
		<main>
			<section class="row mt-0 mt-sm-3 mt-md-5">
				<article class="card col-11 col-md-8 mx-auto mt-5 p-4 shadow">
					<h1 class="text-center text-md-left"><print page="heading"></h1>
					<print page="notes">
					<countdown>
						<h2 class="text-center">When we expect to go live:</h2>
						<input id="countdownDateEnd" type="hidden" value="<print countdown=tie>">
						<div class="row my-3">
							<div class="countdown-content col-12 text-center">
								<div id="countdownDays" class="d-inline-block text-center mx-1 px-1"></div>
								<div id="countdownHours" class="d-inline-block text-center mx-1 px-1"></div>
								<div id="countdownMinutes" class="d-inline-block text-center mx-1 px-1"></div>
								<div id="countdownSeconds" class="d-inline-block text-center mx-1 px-1"></div>
							</div>
						</div>
						<countdownscript>
					</countdown>
					<div class="row justify-content-center">
						<h2 class="text-center">Social networks where you can find us:</h2>
						<div class="col-12 mx-auto text-center">
							<buildSocial>
								<a class="m-1" href="<print sociallink>" title="<print social>" aria-label="<print social>"><i class="i i-5x i-social <print socialicon>"><print socialicon></i></a>
							</buildSocial>
						</div>
					</div>
				</article>
			</section>
		</main>
	</body>
</html>
</block>
