<block inbed="comingsoon">
<!DOCTYPE HTML>
<html lang="en-AU">
	<head>
		<base href="<print meta=url>">
		<meta charset="UTF-8">
		<title><print meta="seoTitle"></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2">
		<meta name="robots" content="<print meta=metaRobots>">
		<meta name="description" content="<print meta=seoDescription>">
		<meta name="google" content="nositelinkssearchbox">
		<meta name="url" content="<print meta=canonical>">
		<meta name="identifier-url" content="<print meta=url>">
		<print site_verifications>
		<link rel="alternate" media="all" href="<print meta=canonical>">
		<link rel="canonical" href="<print meta=canonical>">
		<link rel="alternate" href="<print meta=canonical>" hreflang="en-AU">
		<link rel="author" href="humans.txt">
		<link rel="icon" href="<print meta=favicon>" type="image/png">
		<script type='application/ld+json'>{"@context":"http://schema.org","@type":"WebSite","url":"<print meta=canonical>","name":"<print config=business>","author":{"@type":"Person","name":"<print meta=author>"},"description":"<print meta=seoDescription>","publisher":"<print config=business>","potentialAction":{"@type":"SearchAction","target":"<print meta=url>search/{search_term}","query-input":"required name=search_term"}}</script>
		<meta property="og:locale" content="en-AU">
		<meta property="og:type" content="<print meta=ogType>">
		<meta property="og:title" content="<print meta=seoTitle>">
		<meta property="og:description" content="<print meta=seoDescription>">
		<meta property="og:url" content="<print meta=canonical>">
		<meta property="og:site_name" content="<print meta=seoTitle>">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="<print meta=seoTitle>">
		<meta name="twitter:description" content="<print meta=seoDescription>">
		<link rel="publisher" href="<print meta=url>">
		<link rel="stylesheet" type="text/css" href="<print theme>/css/comingsoon.css">
		<link rel="stylesheet" type="text/css" href="<print theme>/css/stylesheet-icons.css">
		<google_analytics>
	</head>
	<body>
		<nav class="social-nav">
			<ul>
				<buildSocial>
					<li><a class="i i-social" href="<print sociallink>"><print socialicon></a></li>
				</buildSocial>
			</ul>
		</nav>
		<main>
			<print page="notes">
		</main>
	</body>
</html>
</block>
