<block include="meta_head.html">
<block include="header.html">
<block inbed="content">
	<breadcrumb>
		<section class="row">
			<nav>
				<ol class="breadcrumb">
					<json-ld-breadcrumb>
					<breaditems>
						<li class="breadcrumb-item"><a href="<print breadcrumb=url>"><print breadcrumb="title"></a></li>
					</breaditems>
					<breadcurrent>
						<li class="breadcrumb-item active"><print breadcrumb="title"></li>
					</breadcurrent>
				</ol>
			</nav>
		</section>
	</breadcrumb>
	<section class="row mb-5">
		<category-nav>
			<aside class="col-12 col-sm-2-5 p-0 mt-0 mx-3">
				<div class="card">
					<nav class="category-nav">
						<ul>
							<catlist>
						</ul>
					</nav>
				</div>
			</aside>
		</category-nav>
		<item>
			<article class="card col-12 col-sm m-0 p-0">
				<json-ld>
				<image>
					<figure class="card-image full">
						<img <print content=srcset>src="<print content=image>" loading="lazy" alt="<print content=imageALT>">
						<figcaption><print content="figcaption"></figcaption>
						<div class="corner-ribbon big top-left <print content=cssrank> text-uppercase font-weight-bold shadow-sm"><print content="rank"></div>
					</figure>
				</image>
				<videoviewer>
					<div class="jumbotron"><print content="video"></div>
				</videoviewer>
				<div class="card-text m-3">
					<h1><print content="title"></h1>
					<print content="dateCreated" userrank="399" class="text-muted small" container="div" leadingtext="Created: ">
					<print content="datePublished" class="text-muted small" container="div" leadingtext="Published: ">
					<print content="dateEdited" userrank="399" class="text-muted small" container="div" leadingtext="Edited: ">
					<print content="dateEvent" class="text-muted small" container="div" leadingtext="Event Date: ">
					<print content="categories" class="text-muted small" container="div" leadingtext="Categories: ">
					<print content="tags" class="text-muted small" container="div" leadingtext="Tags: ">
					<cost>
						<div class="my-4 d-block d-sm-none text-center">
							<quantity>
								<div class="content-quantity"><print content="quantity"> <print content="stock"></div>
							</quantity>
							<div class="price"><print content="cost"></div>
							<div class="text-right">
								<service>
									<a href="bookings/<print content=bookservice>" role="button">Book Now</a>
								</service>
								<inventory>
									<choices>
									<addtocart>
										<points><small class="points d-block mb-3 text-center">Earn <print content="points"> points when purchasing this item.</small></points>
										<button class="addCart btn-block" data-cartid="<print content=id>" data-cartchoice="0">Buy Now</button>
									</addtocart>
									<condition>
										<div class="content-condition col-12 mt-3 text-left">Condition: <print content="condition"></div>
									</condition>
									<weight>
										<div class="content-weight col-12 col-sm-6 mt-3 text-left">Weight: <print content="weight"></div>
									</weight>
									<size>
										<div class="content-size col-12 col-sm-6 mt-3 text-right">Size:
											<span class="content-width">Width: <print content="width"></span><br>
											<span class="content-height">Height: <print content="height"></span><br>
											<span class="content-length">Length: <print content="length"></span>
										</div>
									</size>
									<brand>
										<div class="content-brand text-center mt-3"><print brand></div>
									</brand>
								</inventory>
							</div>
						</div>
					</cost>
					<mediaitems>
						<div class="media row my-5 text-center">
							<mediaimages>
								<a class="col-6 col-md-2 m-2" data-fancybox="media<print content=id>" data-id="<print media=id>" data-caption="<print media=caption>" href="<print media=file>" data-srcset="<print lightbox=srcset>"><img <print thumb=srcset>src="<print media=thumb>" class="img-thumbnail" loading="lazy" alt="<print media=title>"></a>
							</mediaimages>
						</div>
					</mediaitems>
					<print content="notes">
					<map>
						<div class="col-12 mt-5">
							<div class="row" id="map"></div>
						</div>
					</map>
				</div>
				<author>
					<hr>
					<aside class="card border-0">
						<div class="card-header"><h5>About the Author</h5></div>
						<div class="card-body">
							<div class="row">
								<div class="col-2 col-sm-1">
									<print author="avatar" alt="name" class="img-thumbnail">
								</div>
								<div class="col-9 col-sm-10 ml-2">
				      		<h5>
										<a class="text-default" href="<print author=link>"><print author="name"></a>
				      		</h5>
									<div>
										<print author="social" type="icon" class="i i-social i-2x m-1">
									</div>
	  							<print author="notes">
								</div>
							</div>
						</div>
					</aside>
				</author>
				<review>
					<div class="card border-0 border-top hreview-aggregate">
						<json-ld-review>
						<div class="card-header font-weight-bold d-flex justify-content-between">
							<div>Review by <span class="p-author h-card"><print review="name"></span> on <time class="dt-published" datetime="<print review=datetime>"><print review="date"></time></div>
							<data class="p-rating" value="<print review=rating>">
								<span class="rating">
									<span class="<print review=set1>"></span>
									<span class="<print review=set2>"></span>
									<span class="<print review=set3>"></span>
									<span class="<print review=set4>"></span>
									<span class="<print review=set5>"></span>
								</span>
							</data>
						</div>
						<div class="card-body">
							<div class="e-content summary"><print review="review"></div>
						</div>
					</div>
				</review>
				<comments>
				<related itemCount="4">
					<hr>
					<div class="card border-0 mb-5">
						<div class="card-header"><h4>Related content</h4></div>
						<div class="card-body overflow-hidden">
							<section>
								<relitems>
									<article class="card col-12 col-sm-5 m-2">
										<a href="<print related=linktitle>" class="card-image">
											<img <print thumb=srcset>src="<print related=thumb>" loading="lazy" alt="<print related=imageALT>">
										</a>
										<div class="card-footer d-inline-block text-center line-clamp p-1 py-2">
											<h4 class="line-clamp">
												<a class="stretched-link" href="<print related=linktitle>" title="<print related=title>"><print related="title"></a>
											</h4>
										</div>
										<div class="corner-ribbon small top-right text-uppercase font-weight-bold shadow-sm"><print related="contentType"></div>
										<div class="corner-ribbon big top-left <print related=cssrank> text-uppercase font-weight-bold shadow-sm"><print related="rank"></div>
									</article>
								</relitems>
							</section>
						</div>
					</div>
				</related>
			</article>
		</item>
		<settings itemCount="all">
		<contentitems>
			<section class="col-12 col-sm order-2 order-sm-1">
				<pagenotes>
					<article class="col-12 m-0 p-0 px-3 hidewhenempty"><print page="notes"></article>
				</pagenotes>
				<pagination>
					<div class="row">
						<nav class="justify-content-center">
							<ul class="pagination">
								<paginationitems>
							</ul>
						</nav>
					</div>
				</pagination>
				<items>
					<article class="card">
						<div class="card-image">
							<a href="<print content=linktitle>">
								<img <print content=srcset>src="<print content=thumb>" loading="lazy" alt="<print content=imageALT>">
							</a>
							<quickview>
								<div class="quickview" aria-hidden="true">
									<a class="btn" data-fancybox data-type="ajax" data-src="core/quickview.php?id=<print content=id>" href="javascript:;">Quick View</a>
								</div>
							</quickview>
						</div>
						<div class="card-header">
							<div class="title"><h2 class="h4 line-clamp"><a href="<print content=linktitle>" title="<print content=title>"><print content="title"></a></h2></div>
							<print content="category" class="card-subtitle" container="div" leadingtext="Category: ">
						</div>
						<div class="card-body">
							<print content="notes">
						</div>
						<div class="corner-ribbon big top-right text-uppercase font-weight-bold shadow-sm"><print content="quantity"></div>
						<div class="corner-ribbon small top-right success text-uppercase font-weight-bold shadow-sm"><print content="cost"></div>
						<div class="corner-ribbon big top-left <print content=cssrank> text-uppercase font-weight-bold shadow-sm"><print content="rank"></div>
						<div class="card-footer">
								<a class="btn" href="<print content=linktitle>" role="button">View</a>
						</div>
					</article>
				</items>
				<pagination>
					<div class="row">
						<nav class="justify-content-center">
							<ul class="pagination">
								<paginationitems>
							</ul>
						</nav>
					</div>
				</pagination>
			</section>
		</contentitems>
</block>
<block include="side_menu.html">
<block include="footer.html">
<block include="meta_footer.html">
