<block include="meta_head.html">
<block include="header.html">
<block inbed="courses">
	<section class="row my-5">
		<item>
			<article class="card col-11 col-md mx-auto mx-md-3 my-5">
				<div class="card-text m-3">
					<h1><print course="heading"></h1>
					<h2><print course="title"></h2>
					<print course="notes">
				</div>
				<questions>
					<form method="post" action="<print course=url><print module=nextid>" onsubmit="checkboxNotify();">
						<input type="hidden" name="act" value="questions">
						<input type="hidden" name="cid" value="<print course=id>">
						<input type="hidden" name="mid" value="<print module=id>">
						<input type="hidden" name="nid" value="<print module=nextid>">
						<div class="card border-0">
							<div class="card-header h5">Questions</div>
							<div class="card-body">
								<p><print course="question"></p>
								<questionitems>
							</div>
						</div>
						<div class="alert alert-info d-none" id="module-notification"></div>
						<div class="form-row m-5 justify-content-end">
							<button type="submit"><print module="nexttitle"></button>
						</div>
					</form>
				</questions>
				<nextmodule>
					<form method="post" action="<print course=url><print module=nextid>">
						<input type="hidden" name="act" value="noquestions">
						<input type="hidden" name="cid" value="<print course=id>">
						<input type="hidden" name="mid" value="<print module=id>"
						<input type="hidden" name="nid" value="<print module=nextid>">
						<div class="form-row m-5 justify-content-end">
							<button type="submit"><print module="nexttitle"></button>
						</div>
					</form>
				</nextmodule>
			</article>
		</item>
		<assessment>
			<article class="card col-11 col-md mx-auto mx-md-3 my-5">
				<div class="card-text m-3">
					<h1><print module="heading"></h1>
					<h2 class="mb-5">Assessment</h2>
					<questions>
						<div class="h3">Questions Answered</div>
						<moduleQuestions>
					</questions>
					<score>
						<div class="h2 text-center">You Scored</div>
						<div class="h1 text-center"><print course="score"></div>
					</score>
					<success>
						<div class="h4 alert alert-success text-center">
							Congratulations!<br>
							You Passed<br>
							<br>
							<a class="btn" target="_blank" href="<print viewCertificate>">View your newly acquired Certificate</a>
						</div>
					</success>
					<fail>
						<div class="h4 alert alert-danger text-center">
							A score of at least <print course="minscore"> is required to pass this course.<br>
							<print course="attempts">
						</div>
					</fail>
				</div>
			</article>
		</assessment>
		<contentitems>
			<section class="col-12 col-md mt-5">
				<pagenotes>
					<article class="col-12 m-0 p-0 px-3">
						<h1><print page="heading"></h1>
						<print page="notes">
					</article>
				</pagenotes>
				<pagination>
					<div class="row">
						<nav class="pagination justify-content-center">
							<ul>
								<paginationitems>
							</ul>
						</nav>
					</div>
				</pagination>
				<div class="row justify-content-center">
					<items>
						<article class="card col-12 col-sm-5 col-md-3 col-xl-3 col-xxl-2 m-3">
							<div class="card-image">
								<img src="<print course=thumb>" loading="lazy" alt="<print course=imageALT>">
							</div>
							<div class="card-header h5"><print course="title"></div>
							<div class="card-footer">
								<print course="progress">
								<form method="post" action="<print continueLink>">
									<input type="hidden" name="act" value="noquestions">
									<input type="hidden" name="mid" value="<print module=id>">
									<print continue>
								<form>
							</div>
						</article>
					</items>
				</div>
				<pagination>
					<div class="row">
						<nav class="pagination justify-content-center">
							<ul>
								<paginationitems>
							</ul>
						</nav>
					</div>
				</pagination>
			</section>
		</contentitems>
</block>
<block include="side_courses.html">
</section>
<block include="footer.html">
<block include="meta_footer.html">
