<block include="meta_head.html">
<block inbed="error">
	<main class="container">
		<div class="row my-5">
			<div class="col-12">
				<div class="card border-0">
					<div class="card-body text-center">
						<h1>This is not the page you're looking for.</h1>
						<h2>Here's some things that might interest you.</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<settings items="4">
			<items>
				<div class="col-6 col-sm-3 mb-3 mb-sm-5 d-flex align-items-stretch">
					<a class="card overflow-hidden" href="<print content=linktitle>">
						<img class="card-img-top img-fluid related" src="<print content=thumb>" alt="<print content=title>">
						<span class="card-body text-center p-1" data-contenttype="<print content=contentType>">
							<span class="card-title"><print content="title"></span>
						</span>
						<div class="corner-ribbon small top-right text-uppercase font-weight-bold shadow"><print content="contentType"></div>
					</a>
				</div>
			</items>
		</div>
	</main>
</block>
<block include="meta_footer.html">
