<block include="meta_head.html">
<block include="header.html">
<block inbed="faq">
  <cover>
		<figure class="covertron"><print page="coverItem"></figure>
	</cover>
  <breadcrumb>
		<section class="row">
			<nav class="breadcrumb">
				<ol>
					<json-ld-breadcrumb>
					<breaditems>
						<li class="breadcrumb-item"><a href="<print breadcrumb=url>"><print breadcrumb="title"></a></li>
					</breaditems>
					<breadcurrent>
						<li class="breadcrumb-item active"><print breadcrumb="title"></li>
					</breadcurrent>
				</ol>
			</nav>
		</section>
	</breadcrumb>
  <pagenotes>
    <section class="row">
      <article class="hidewhenempty"><print page="notes"></article>
    </section>
  </pagenotes>
  <section class="row">
    <article>
      <items>
        <details>
          <summary><print content="title"></summary>
          <div class="ml-4">
            <print content="notes">
          </div>
        </details>
      </items>
    </article>
  </section>
</block>
<block include="footer.html">
<block include="meta_footer.html">
