<block include="meta_head.html">
<block include="header.html">
<block inbed="faq">
  <cover>
		<figure class="covertron"><print page="coverItem"></figure>
	</cover>
  <breadcrumb>
		<nav class="breadcrumb">
			<ol>
				<json-ld-breadcrumb>
				<breaditems>
					<li class="breadcrumb-item"><a href="<print breadcrumb=url>"><print breadcrumb="title"></a></li>
				</breaditems>
				<breadcurrent>
					<li class="breadcrumb-item active"><print breadcrumb="title"></li>
				</breadcurrent>
			</ol>
		</nav>
	</breadcrumb>
  <pagenotes>
    <section class="row">
      <article class="mx-auto">
        <h1><print page="heading"></h1>
        <print page="notes">
      </article>
    </section>
  </pagenotes>
  <section class="row">
    <article class="mx-auto">
      <items>
        <details class="ml-4"<print details="open">>
          <summary><print content="title"></summary>
          <div class="ml-4">
            <print content="notes">
          </div>
        </details>
      </items>
    </article>
  </section>
</block>
<block include="footer.html">
<block include="meta_footer.html">
