<settings itemCount="10" contentType="mixed" order="random">
<div class="swiper auroraSwiper">
	<div class="swiper-wrapper">
		<items>
	    <div class="swiper-slide <carousel>">
				<print content="image">
	      <caption>
				  <div class="swiper-content">
						<div class="row">
							<thumb><div class="col-12 col-sm-3 mt-3 mt-sm-5 thumb order-<ord1>"><img class="<rand>" src="<print content=thumb>" alt="<print content=title>"></div></thumb>
							<div class="info col-12 col-sm mx-0 mx-sm-5 px-0 pt-sm-5 px-0 px-sm-5 order-<ord2>">
								<h3 class="slider-title text-center text-sm-left"><print content="title"></h3>
								<div class="slider-caption d-none d-sm-block"><print content="caption"></div>
								<div class="price mt-2 ml-3 d-none d-sm-block"><print content="cost"></div>
								<div class="mx-5 text-right">
									<a class="btn float-right" href="<print link>">Read More</a>
								</div>
							</div>
						</div>
						<div class="corner-ribbon small top-right text-uppercase font-weight-bold shadow-sm"><print content="contentType"></div>
						<div class="corner-ribbon big top-left <print content=cssrank> text-uppercase font-weight-bold shadow-sm"><print content="rank"></div>
	        </div>
			  </caption>
			</div>
		</items>
	</div>
	<div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-scrollbar"></div>
</div>
