<settings itemcount="all" contenttype="folder" order="random">
<div class="slider-wrapper">
	<ul class="slider">
		<items>
	    <li>
				<img src="<print content=image>" alt="<print content=title>">
	      <caption>
				  <div class="slider-caption">
						<div class="title h2" role="heading"><a href="<print link>"><print content="title"></a></div>
						<print content="caption">
						<attribution>
							<div class="attribution">
								<a href="<print media=attributionURL>" target="_blank" rel="noopener noreferrer"><print media="attributionName"></a>
							</div>
						</attribution>
	        </div>
			  </caption>
			</li>
		</items>
	</ul>
</div>
