<settings itemcount="4" contenttype="folder" order="random">
<div id="featured" class="carousel slide carousel-fade" data-ride="carousel">
	<div class="carousel-inner full-width">
		<items>
			<div class="carousel-item<print active>">
				<div class="carousel-image" style="background-image:url(<print content=image>)"></div>
				<div class="carousel-caption">
					<caption>
						<div class="title" role="heading"><a href="<print link>"><print content="title"></a></div>
						<print content="caption">
						<attribution>
							<div class="attribution">
								<a href="<print media=attributionURL>" target="_blank" rel="noopener noreferrer"><print media="attributionName"></a>
							</div>
						</attribution>
					</caption>
				</div>
			</div>
		</items>
	</div>
	<featuredControls>
		<a class="carousel-control-prev" href="#featured" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#featured" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</featuredControls>
</div>
