</main>
<footer class="row border-top px-3 py-5 p-md-5">
	<aside class="col-12 col-md">
		<div class="h5 m-0 text-center text-md-left">Information</div>
		<ul class="list-unstyled mt-2 pl-0 pl-md-2 text-center text-md-left" role="menu">
			<buildMenu>
				<li class="<print active=menu>" role="menuitem"><a href="<print menu=url>"><print menu="title"></a><menuCart></li>
			</buildMenu>
			<login>
			<administration>
		</ul>
	</aside>
	<address>
		<aside class="col-12 col-md">
			<div class="h5 m-0 text-center text-md-left">Contact</div>
			<div class="mt-2 pl-0 pl-sm-2">
				<email>
					<div class="text-center text-md-left d-block">
						<div class="d-block"><print config="email"></div>
					</div>
				</email>
				<contact>
					<div class="text-center text-md-left d-block">
						<div class="d-block"><print config="address"> <print config="suburb"></div>
						<div class="d-block"><print config="country"> <print config="postcode"></div>
					</div>
				</contact>
				<phone>
					<div class="text-center text-md-left d-block">
						<div class="d-block"><print config="phone"></div>
						<div class="d-block"><print config="mobile"></div>
					</div>
				</phone>
			</div>
		</aside>
	</address>
	<hours>
		<aside class="col-12 col-md">
			<div class="h5 m-0 mt-3 mt-sm-0 text-center text-md-left">Business Hours</div>
			<div class="row mt-2 text-center text-md-left">
				<buildHours>
					<div class="pl-0 pl-md-2 d-block">
						<print dayfrom><print dayto> <print timefrom><print timeto> <print info>
					</div>
				</buildHours>
			</div>
		</aside>
	</hours>
	<paymentoptions>
		<aside class="col-12 col-md">
			<div class="h5 m-0 mt-3 mt-md-0 text-center text-md-left">Payment Options</div>
			<div class="text-center text-md-left mt-1 pl-0 pl-md-2">
				<paypal><img class="mt-2 mr-1" loading="lazy" src="core/images/paypal.svg" width="85" height="18" alt="PayPal"></paypal>
				<afterpay><img class="mt-2 mr-1" loading="lazy" src="core/images/afterpay.svg" width="85" height="18" alt="AfterPay"></afterpay>
				<creditcards>
					<div>
						<img class="mt-2 mr-1" loading="lazy" src="core/images/cc-amex.png" width="38" height="23" alt="American Express" title="American Express">
						<img class="mt-2 mr-1" loading="lazy" src="core/images/cc-jcb.png" width="38" height="23" alt="JCB" title="JCB">
						<img class="mt-2 mr-1" loading="lazy" src="core/images/cc-mastercard.png" width="38" height="23" alt="Mastercard" title="Mastercard">
						<img class="mt-2 mr-1" loading="lazy" src="core/images/cc-visa.png" width="38" height="23" alt="Visa" title="Visa">
					</div>
				</creditcards>
			</div>
			<div class="h5 mt-3 text-center text-md-left">Shipping Options</div>
			<div class="text-center text-md-left mt-1 pl-0 pl-md-2">
				<img class="mt-2 mr-1" loading="lazy" src="core/images/so-auspost.svg" width="85" height="18" alt="Australia Post" title="Australia Post">
			</div>
		</aside>
	</paymentoptions>
	<aside class="col-12 col-md-3">
		<div class="h5 m-0 mt-3 mt-md-0 text-center text-md-left">Follow Us</div>
		<div class="mt-2 text-center">
			<buildSocial>
				<a class="i i-social i-3x m-1" href="<print sociallink>" aria-label="<print rel=label>"><print socialicon></a>
			</buildSocial>
			<rss>
				<a class="i i-social i-3x m-1" href="<print rsslink>" aria-label="RSS Feed"><print rssicon></a>
			</rss>
		</div>
		<form class="form-row mt-4" method="post" action="search">
			<input class="brr-0" id="footersearch" type="search" name="search" placeholder="Enter a Search Term...">
			<button class="brl-0" type="submit">Search</button>
		</form>
		<print honey_pot_quick_link>
	</aside>
</footer>
<div class="designby">
	<span>&copy; <print config="business"> <print year></span><span><print config="abn"></span><print theme="design"><print theme="hosting">
	<a class="back-to-top" href="<print url>#back-to-top" title="Back to Top" aria-label="Scroll to Top"><i class="i"><svg role="img" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="m 12.85856,9.482625 -1.23573,1.22829 q -0.14144,0.14144 -0.33499,0.14144 -0.19355,0 -0.33499,-0.14144 L 7,6.758065 3.04715,10.710915 q -0.14144,0.14144 -0.33499,0.14144 -0.19355,0 -0.33499,-0.14144 L 1.14144,9.482625 Q 1,9.341185 1,9.143915 1,8.946645 1.14144,8.805205 L 6.66501,3.289075 Q 6.80645,3.147645 7,3.147645 q 0.19355,0 0.33499,0.14143 l 5.52357,5.51613 Q 13,8.946645 13,9.143915 q 0,0.19727 -0.14144,0.33871 z"/></svg></i></a>
</div>
<chat>
