<div class="container">
	<footer>
		<div class="row">
			<div class="col-12 col-sm-3 mt-5">
				<img class="img-fluid mb-2" src="layout/default/images/logo.png" alt="<print config=business>">
				<small class="d-block mb-3">&copy; <print year>. <print config="abn"></small>
			</div>
			<div class="col-12 col-sm-3 mb-3">
				<div class="h3">Extras</div>
				<ul class="list-unstyled text-small extras">
					<buildMenu>
						<li><a href="<print menu=url>"><print menu="title"></a><menuCart></li>
					</buildMenu>
					<login>
					<administration>
				</ul>
			</div>
			<div class="col-12 col-sm-3 mb-3">
				<div class="h3">Social Links</div>
				<div class="searchsocial">
					<buildSocial>
						<a class="libre libre-social libre-2x" href="<print sociallink>" aria-label="<print rel=label>"><print socialicon></a>
					</buildSocial>
					<rss>
						<a class="libre libre-social libre-2x" href="<print rsslink>" aria-label="RSS Feed"><print rssicon></a>
					</rss>
				</div>
			</div>
			<div class="col-12 col-sm-3">
				<form class="navbar-form" method="post" action="search">
					<div class="form-group">
						<label for="footersearch" class="h3">Search</label>
						<div class="input-group">
							<input id="footersearch" type="text" class="form-control" name="search" placeholder="Enter a Search Term...">
							<div class="input-group-append">
								<button type="submit" class="btn btn-outline-secondary">Search</button>
							</div>
						</div>
					</div>
				</form>
				<print honey_pot_quick_link>
			</div>
		</div>
	</footer>
</div>
