<block include="meta_head.html">
<block include="header.html">
<block inbed="gallery">
  <cover>
		<figure class="covertron"><print page="coverItem"></figure>
	</cover>
  <breadcrumb>
		<nav class="breadcrumb">
			<ol>
				<json-ld-breadcrumb>
				<breaditems>
					<li class="breadcrumb-item"><a href="<print breadcrumb=url>"><print breadcrumb="title"></a></li>
				</breaditems>
				<breadcurrent>
					<li class="breadcrumb-item active"><print breadcrumb="title"></li>
				</breadcurrent>
			</ol>
		</nav>
	</breadcrumb>
  <pagenotes>
    <section class="row">
      <article class="mx-auto">
        <h1><print page="heading"></h1>
        <print page="notes">
      </article>
    </section>
  </pagenotes>
  <playlist>
		<section class="row">
			<article class="mx-auto mt-5">
				<div class="row">
					<playlistitem>
						<div class="col-11 mx-auto my-3">
							<div class="note-video-wrapper youtube" data-fancybox href="<print playlist=url>?autoplay=1" data-fancybox-plyr data-embed="<print playlist=videoid>" itemprop="video" itemscope="" itemtype="http://schema.org/VideoObject"><meta itemprop="embedURL" content="<print playlist=url>"><img class="note-video-clip" src="https://img.youtube.com/vi/<print playlist=videoid>/maxresdefault.jpg" alt="Video <print playlist=videoid>"><div class="play"></div></div>
						</div>
					</playlistitem>
				</div>
			</article>
		</section>
	</playlist>
  <section class="row">
    <article class="media m-0 my-2 text-center">
      <items>
         <a href="<print media=file>" data-fancybox="gallery" data-caption="<print media=fileALT>" data-srcset="<print lightbox=srcset>"><img <print thumb=srcset>src="<print media=thumb>" class="col-5 col-sm-3 col-md-1 m-1 img-thumbnail" loading="lazy" alt="<print media=fileALT>"></a>
      </items>
    </article>
  </section>
</block>
<block include="footer.html">
<block include="meta_footer.html">
