<block include="meta_head.html">
<block include="header.html">
<block inbed="gallery">
  <pagenotes>
    <section class="row">
      <article class="col-11">
        <print page="notes">
      </article>
    </section>
  </pagenotes>
  <section class="row col-12">
    <article class="media my-2 text-center">
      <items>
			  <a class="m-2" href="<print media=file>" data-fancybox="gallery" data-caption="<print media=fileALT>" class=""><img src="<print media=thumb>" class="img-thumbnail" alt="<print media=fileALT>"></a>
      </items>
    </article>
  </section>
</block>
<block include="footer.html">
<block include="meta_footer.html">
