<block include="meta_head.html">
<block include="header.html">
<block include="featured.html">
<block inbed="content">
	<cover>
		<figure class="jumbotron"><print page="coverItem"></figure>
	</cover>
	<section class="row mt-5">
		<article class="col-12 col-lg-8">
			<print page="notes">
		</article>
		<aside id="newsletters" class="col-12 col-md-3 m-0">
			<form id="newslettersform" class="auroraForm" data-formtype="newsletters" method="post" action="core/add_subscriber.php">
				<input type="hidden" name="act" value="add_subscriber">
				<input type="hidden" name="<print hash>" value="<print timecode>">
				<div class="card">
					<fieldset class="border-0 m-0">
						<legend class="h4">Subscribe to our Newsletters</legend>
						<label for="fullname" aria-hidden="true">Full Name</label>
						<input id="fullname" name="fullname<print hash>" value="" autocomplete="off" aria-hidden="true">
						<label for="newslettersemail">Email</label>
						<input type="email" id="newslettersemail" name="email" value="" required aria-required="true" placeholder="Email...">
						<div class="requirements alert alert-danger">Must be a valid email address.</div>
						<g-recaptcha>
						<button class="btn-block mt-3" id="newsletters-btn" type="submit" disabled="disabled">Subscribe</button>
					</fieldset>
				</div>
			</form>
		</aside>
	</section>
	<section class="jumbotron mt-5">
		<img src="media/307093.jpg" alt="test">
  	<header class="mt-5">
			<h2>Fluid jumbotron</h2>
		</header>
  	<p>This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
	</section>
	<settings items="all" contenttype="all">
	<section class="mt-5">
		<header>
			<h2>Latest Content Additions</h2>
		</header>
		<items>
			<article class="card">
				<figure class="card-image">
					<a href="<print content=linktitle>">
						<img <print content=srcset>src="<print content=thumb>" loading="lazy" alt="<print content=imageALT>">
					</a>
					<quickview>
						<div class="quickview" aria-hidden="true">
							<a class="btn" data-fancybox data-type="ajax" data-src="core/quickview.php?id=<print content=id>" href="javascript:;">Quick View</a>
						</div>
					</quickview>
				</figure>
				<div class="card-header">
					<div class="card-title"><h2 class="h4 line-clamp"><a href="<print content=linktitle>"><print content="title"></a></h2></div>
					<print content="category" class="card-subtitle" container="div" leadingtext="Category: ">
				</div>
				<div class="card-body">
					<print content="notes">
				</div>
				<div class="corner-ribbon big top-right danger text-uppercase font-weight-bold shadow-sm"><print content="quantity"></div>
				<div class="corner-ribbon small top-right text-uppercase font-weight-bold shadow-sm"><print content="contentType"></div>
				<div class="card-footer">
					<a class="btn" href="<print content=linktitle>">View</a>
				</div>
			</article>
		</items>
	</section>
	<section class="mt-5">
		<header>
			<h2>Shop by Category</h2>
		</header>
		<categories>
			<article class="card">
				<a href="<print category=link>" class="card-image">
					<img <print thumb=srcset>src="<print category=thumb>" loading="lazy" alt="<print category=imageALT>">
				</a>
				<div class="card-header">
					<div class="card-title"><h2 class="h4 text-center line-clamp"><a href="<print category=link>"><print category="category"></a></h2></div>
				</div>
			</article>
		</categories>
	</section>
</block>
<block inbed="testimonials">
	<settings items="3">
	<section class="my-5">
		<header>
			<h2><a href="testimonials/">Testimonials</a> <small><small>Our Clients Love Us!</small></small></h2>
		</header>
		<div class="row">
			<items>
				<blockquote class="testimonials col-11 col-sm-3">
					<img src="<print content=avatar>" loading="lazy" alt="<print content=name>">
					<footer>
						<h3 itemprop="author"><print content="name"></h3>
						<h5><print content="business"></h5>
					</footer>
					<json-ld-testimonial>
					<p><print content="notes"></p>
					<data class="p-rating" value="<print review=rating>">
						<span class="rating">
							<span class="<print review=set1>"></span>
							<span class="<print review=set2>"></span>
							<span class="<print review=set3>"></span>
							<span class="<print review=set4>"></span>
							<span class="<print review=set5>"></span>
						</span>
					</data>
	  		</blockquote>
			</items>
		</div>
	</section>
</block>
<block inbed="content2">
	<map>
		<div class="col-12 m-0">
			<div class="row" id="map"></div>
		</div>
	</map>
</block>
<block include="footer.html">
<block include="meta_footer.html">
