<block include="meta_head.html">
<block include="header.html">
<block include="featured.html">
<block inbed="content">
	<cover>
		<figure class="covertron"><print page="coverItem"></figure>
	</cover>
	<section class="row">
		<pagenotes>
			<article class="col-12 col-md mx-auto">
				<h1><print page="heading"></h1>
				<print page="notes">
			</article>
		</pagenotes>
		<div class="col-12 col-md-6 mt-5">
			<div class="row justify-content-center">
				<div class="h3 text-center text-md-left"><a href="news/" aria-label="Go to News">News</a> and <a href="events" aria-label="Go to Events">Events</a></div>
				<eventsitems items="3">
					<eventitem>
						<article class="card event col-5 mx-auto mx-md-3">
							<figure class="card-image">
								<a href="<print event=linktitle>">
									<img <print event=srcset>src="<print event=thumb>" loading="lazy" alt="<print event=imageALT>">
								</a>
								<div class="corner-ribbon small top-right"><print event="contentType"></div>
							</figure>
							<div class="card-date shadow">
								<span class="day"><print date="day"></span>
								<span class="month"><print date="month"></span>
								<span class="year"><print date="year"></span>
							</div>
							<div class="card-header h5"><a href="<print event=linktitle>"><print event="title"></a></div>
						</article>
					</eventitem>
				</eventsitems>
				<article id="newsletters" class="card event col-5 mx-auto mx-md-3 mt-3 p-3">
					<form id="newslettersform" class="auroraForm" data-formtype="newsletters" method="post" action="core/add_subscriber.php">
						<input type="hidden" name="act" value="add_subscriber">
						<input type="hidden" name="<print hash>" value="<print timecode>">
						<div class="h5">Subscribe to our Newsletters</div>
						<label for="fullname" aria-hidden="true">Full Name</label>
						<input id="fullname" name="fullname<print hash>" value="" autocomplete="off" aria-hidden="true">
						<label class="required" for="newslettersemail">Email</label>
						<div class="form-row flex-wrap">
							<input type="email" id="newslettersemail" name="email" value="" placeholder="Enter your Email..." required aria-required="true">
							<div class="requirements alert alert-danger" role="alert">Must be a valid email address.</div>
						</div>
						<g-recaptcha>
						<button class="btn btn-block mt-3" id="newsletters-btn" type="submit" disabled>Subscribe</button>
					</form>
				</article>
			</div>
		</div>
	</section>
	<section class="jumbotron mt-5">
		<img class="filter" src="layout/default/images/index-jumbotron.jpg" alt="Index Jumbotron">
  	<header class="mt-5">
			<div class="h2">Fluid jumbotron</div>
		</header>
  	<p class="mt-5">This is a modified jumbotron that occupies the entire horizontal space, and 100% screen height (100vh) of its parent.</p>
	</section>
	<settings items="0" contenttype="all">
	<section class="mt-5 justify-content-center">
		<header>
			<h2 class="text-center">Latest Content Additions</h2>
		</header>
		<items>
			<article class="card col-12 col-sm-5 col-lg-2-5">
				<figure class="card-image">
					<a href="<print content=linktitle>">
						<img <print content=srcset>src="<print content=thumb>" loading="lazy" alt="<print content=imageALT>">
					</a>
				</figure>
				<div class="card-header h5">
					<a href="<print content=linktitle>"><print content="title"></a>
				</div>
				<div class="card-body">
					<print content="notes">
				</div>
				<div class="corner-ribbon small top-right"><print content="contentType"></div>
				<div class="corner-ribbon big top-right <print content=quantitycolor>"><print content="quantity"></div>
				<div class="corner-ribbon big top-left <print content=cssrank>"><print content="rank"></div>
				<div class="card-footer">
					<a class="btn" href="<print content=linktitle>">View</a>
					<quickview>
						<a class="btn" data-fancybox data-type="ajax" data-src="core/quickview.php?id=<print content=id>" href="javascript:;">Quick View</a>
					</quickview>
				</div>
			</article>
		</items>
	</section>
	<playlist>
		<section class="row">
			<article class="mx-auto mt-5">
				<header>
					<h2 class="text-center">Latest Videos</h2>
				</header>
				<div class="row">
					<playlistitem>
						<div class="col-11 col-sm-4 p-3 mx-auto">
							<iframe width="100%" height="300" src="<print playlist=url>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
					</playlistitem>
				</div>
			</article>
		</section>
	</playlist>
	<section class="mt-5 justify-content-center">
		<header>
			<h2 class="text-center">Shop by Category</h2>
		</header>
		<categories>
			<article class="card">
				<a href="<print category=link>" class="card-image">
					<img <print thumb=srcset>src="<print category=thumb>" loading="lazy" alt="<print category=imageALT>">
				</a>
				<div class="card-header h5">
					<a href="<print category=link>"><print category="category"></a>
				</div>
			</article>
		</categories>
	</section>
</block>
<block inbed="testimonials">
	<settings items="3">
	<section class="my-5">
		<header>
			<h2 class="text-center"><a href="testimonials/">Testimonials</a> <small><small>Our Clients Love Us!</small></small></h2>
		</header>
		<div class="row testimonial-block">
			<items>
				<blockquote class="testimonials col-11 col-sm-3">
					<img src="<print content=avatar>" loading="lazy" alt="<print content=name>">
					<footer>
						<div class="h3"><print content="name"></div>
						<div class="h5"><print content="business"></div>
					</footer>
					<json-ld-testimonial>
					<p><print content="notes"></p>
					<div class="p-rating">
						<span class="rating">
							<span class="<print review=set1>"></span>
							<span class="<print review=set2>"></span>
							<span class="<print review=set3>"></span>
							<span class="<print review=set4>"></span>
							<span class="<print review=set5>"></span>
						</span>
					</div>
	  		</blockquote>
			</items>
		</div>
	</section>
</block>
<block inbed="content2">
	<map>
		<div class="col-12 m-0">
			<div class="row" id="map"></div>
		</div>
	</map>
</block>
<block include="footer.html">
<block include="meta_footer.html">
