<block include="meta_head.html">
<block include="header.html">
<block inbed="content">
	<section class="row my-5">
		<loggedin>
			<article class="col-12 col-sm-5 mx-auto">
				<div class="alert alert-info text-center">You are Logged In.</div>
			</article>
		</loggedin>
		<loggedout>
			<article class="col-12 col-sm-5 mx-auto">
				<div class="card p-3">
					<form method="post" action="<print url>">
						<h4>Login</h4>
						<input type="hidden" name="act" value="login">
						<label for="loginusername">Username</label>
						<div class="form-row">
							<input type="text" id="loginusername" name="username" value="" placeholder="Username..." autocomplete="username" enterkeyhint="next">
						</div>
						<label for="loginpassword">Password</label>
						<div class="form-row">
							<input type="password" id="loginpassword" name="password" placeholder="Password..." autocomplete="current-password" enterkeyhint="next">
						</div>
						<div class="text-right mt-3">
							<button type="submit" enterkeyhint="done">Login</button>
						</div>
					</form>
				</div>
				<div id="reset" class="card mt-5 p-3">
					<form class="auroraForm" data-formtype="reset" method="post" action="core/reset_password.php">
						<h4>Reset Password</h4>
						<input type="hidden" name="act" value="reset_password">
						<input type="hidden" name="<print hash>" value="<print timecode>">
						<label for="resetfullname" aria-hidden="true">Full Name</label>
						<input id="resetfullname" name="fullname<print hash>" value="" autocomplete="off" aria-hidden="true">
						<label class="required" for="resetemail">Email</label>
						<div class="form-row flex-wrap">
							<input type="email" id="resetemail" name="email" placeholder="Enter the Email associated with your account..." autocomplete="off" required aria-required="true" enterkeyhint="next">
							<div class="requirements alert alert-danger" role="alert">Must be a valid email address, and match the email you used to sign up.</div>
						</div>
						<g-recaptcha>
						<div class="text-right mt-3">
							<button id="reset-btn" type="submit" disabled enterkeyhint="done">Reset</button>
						</div>
					</form>
				</div>
			</article>
			<signup>
				<article class="col-12 col-sm-5 mx-auto">
					<div id="signup" class="card p-3">
						<form class="auroraForm" data-formtype="signup" method="post" action="core/add_account.php">
							<h4>Sign Up</h4>
							<input type="hidden" name="act" value="add_account">
							<input type="hidden" name="<print hash>" value="<print timecode>">
							<label for="signupfullname" aria-hidden="true">Full Name</label>
							<input id="signupfullname" name="fullname<print hash>" value="" autocomplete="off" aria-hidden="true">
							<label class="required" for="signupemail">Email</label>
							<div class="form-row flex-wrap">
								<input type="email" id="signupemail" name="email" value="" placeholder="Enter your Email..." autocomplete="off" required aria-required="true" enterkeyhint="next">
								<div class="requirements alert alert-danger" role="alert">Must be a valid email address.</div>
							</div>
							<label class="required" for="signupusername">Username</label>
							<div class="form-row">
								<input type="text" id="signupusername" name="username" placeholder="Enter a Username..." required aria-required="true" enterkeyhint="next">
							</div>
							<div class="form-row" id="signuptermsblock">
								<div class="row">
									<div class="col-1 pt-3">
										<input type="checkbox" id="signupterms" name="terms" value="yes" required aria-required="true" enterkeyhint="next">
									</div>
									<div class="col-11">
										<label for="signupterms"> Agree to the</label> <a href="page/Terms-of-Service">Terms Of Service</a>
									</div>
								</div>
							</div>
							<g-recaptcha>
							<div class="text-right mt-3">
								<button id="signup-btn" type="submit" disabled enterkeyhint="done">Sign Up</button>
							</div>
						</form>
					</div>
				</article>
			</signup>
		</loggedout>
	</section>
</block>
<block include="footer.html">
<block include="meta_footer.html">
