<!DOCTYPE HTML>
<html lang="en-AU">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title><print meta=seoTitle></title>
		<base href="<print meta=url>">
		<meta name="robots" content="<print meta=metaRobots>">
		<meta name="description" content="<print meta=seoDescription>">
		<meta name="google" content="nositelinkssearchbox">
		<meta name="url" content="<print meta=canonical>">
		<meta name="identifier-url" content="<print meta=url>">
		<print site_verifications>
		<link rel="alternate" media="all" href="<print meta=canonical>">
		<link rel="manifest" href="<print meta=url>manifest.json">
		<link rel="alternate" type="application/rss+xml" title="<print meta=seoTitle>" href="<print meta=rss>">
		<link rel="canonical" href="<print meta=canonical>">
		<link rel="alternate" href="<print meta=canonical>" hreflang="en-AU">
		<link rel="author" href="humans.txt">
		<link rel="icon" href="<print meta=favicon>" type="image/png">
		<script type='application/ld+json'>{"@context":"http://schema.org","@type":"WebSite","url":"<print meta=canonical>","name":"<print meta=seoTitle>","author":{"@type":"Person","name":"<print meta=author>"},"description":"<print meta=seoDescription>","publisher":"<print meta=seoTitle>","potentialAction":{"@type":"SearchAction","target":"<print meta=url>search/{search_term}","query-input":"required name=search_term"}}</script>
		<meta property="og:locale" content="en-AU">
		<meta property="og:type" content="<print meta=ogType>">
		<meta property="og:title" content="<print meta=seoTitle>">
		<meta property="og:description" content="<print meta=seoDescription>">
		<meta property="og:url" content="<print meta=canonical>">
		<meta property="og:site_name" content="<print meta=seoTitle>">
		<meta property="og:image" content="<print meta=shareImage>">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="<print meta=seoTitle>">
		<meta name="twitter:description" content="<print meta=seoDescription>">
		<meta name="twitter:image" content="<print meta=shareImage>">
		<meta name="theme-color" content="#000000">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="<print config=business>">
		<link rel="apple-touch-icon" href="<print meta=favicon>">
		<link rel="publisher" href="<print meta=url>">
		<link rel="home" href="<print meta=url>" title="Home page">
		<link rel="stylesheet preload" type="text/css" href="<print theme>/css/style.css">
		<google_analytics>
	</head>
	<body id="back-to-top">
