		</main>
		<script src="<print theme>/js/jquery.min.js"></script>
		<script src="<print theme>/js/jquery.fancybox.min.js"></script>
		<panorama>
		<script src="<print theme>/js/js.js"></script>
		<chatscript>
		<gdpr>
		<websitevoice>
		<map>
		<serviceworker>
		<script>
			$(document).ready(function(){
				var getMax=function(){
					return $(document).height() - $(window).height();
				}
				var getValue=function(){
					return $(window).scrollTop();
				}
				var progressBar=$('.page-progress');
				progressBar.attr({max:getMax()});
				$(document).on('scroll',function(){
					progressBar.attr({value:getValue()});
				});
				$(window).resize(function(){
					progressBar.attr({max:getMax(),value:getValue()});
				});
			});
		</script>
	</body>
</html>
