<!DOCTYPE HTML>
<html lang="en-AU">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2">
		<title><print seo="title"></title>
		<meta name="theme-color" content="#000000">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="AuroraCMS Offline Name">
		<link rel="apple-touch-icon" href="favicon.png">
		<style>
			<print css="offline">
		</style>
	</head>
	<body id="top">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-6 ml-auto mr-auto mt-0 mt-sm-2 text-center">
					<img class="img-fluid" src="<print logo=image>" loading="lazy" alt="<print config=alt>">
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-10 ml-auto mr-auto mt-n2 mt-sm-0">
					<h1 class="h5">
						Our website is not available offline, however if you need to contact us you can try one of the options below:
					</h1>
					<h6 class="d-none-empty"><print config="email"></h4>
					<h6 class="d-none-empty"><print config="phone"></h5>
					<h6 class="d-none-empty"><print config="mobile"></h5>
					<h6 class="d-none-empty"><print config="address"></h5>
				</div>
			</div>
		</div>
  </body>
</html>
