<block include="meta_head.html">
<block include="header.html">
<block inbed="orders">
	<pagenotes>
		<section class="row mt-5">
			<article class="m-0">
				<h1><print page="heading"></h1>
				<print page="notes">
			</article>
		</section>
	</pagenotes>
	<orderlist>
		<section class="row my-5 justify-content-center">
			<article class="card col-12 col-md-7 mt-5 border-0">
				<table class="border mb-0 order-list">
					<thead class="d-none d-sm-table-header-group">
						<tr>
							<th class="text-center"><span class="d-none d-sm-block">Order #</span></th>
							<th class="d-none d-sm-table-cell text-center">Status</th>
							<th class="d-none d-sm-table-cell text-center">Date</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<items>
							<tr>
								<td class="text-center">
									<a href="<print link>"><print order="ordernumber"></a><small class="d-block d-sm-none"><small><print order="date"><br>
									Due: <print order="duedate"></small></small>
								</td>
								<td class="d-none d-sm-table-cell text-center"><span class="badger badge-<print order=status>"><print order="status"></span></td>
								<td class="d-none d-sm-table-cell text-center">
									<small><print order="date"><br>Due: <print order="duedate"></small>
								</td>
								<td class="text-right align-middle"><a class="btn" href="<print link>">View</a></td>
							</tr>
						</items>
					</tbody>
				</table>
			</article>
		</section>
	</orderlist>
	<order>
		<div class="row mt-5">
			<div class="col-12 col-sm-7 mx-auto">
				<div class="alert alert-info text-shadow-0">
					Please do not hesitate to contact us if the information on the order is incorrect, you need to change the delivery or payment options, or if you simply require assistance. Please include the Order Number <strong><print order="ordernumber"></strong> to make it easier to provide assistance.
				</div>
			</div>
		</div>
		<div class="card mx-auto my-5 p-0 orderstheme" id="section-to-print">
			<section class="row">
				<article class="col-12 col-sm mx-0 px-0 py-0 pl-1 border-right">
					<h4>From</h4>
					<div class="small">
						<print config="business"><br>
						ABN: <print config="abn"><br>
						<print config="address">, <print config="suburb">, <print config="city">, <print config="state">, <print config="postcode"><br>
						Email: <print config="email"><br>
						Phone: <print config="phone"><br>
						Mobile: <print config="mobile">
					</div>
				</article>
				<article class="col-12 col-sm mx-0 px-0 py-0 pl-1 border-right">
					<h4>To</h4>
					<div class="small">
						<print user="name"><br>
						<print user="address">
						<print user="suburb"><br>
						<print user="city"> <print user="state"> <print user="postcode"><br>
						Email: <print user="email"><br>
						Phone: <print user="phone"><br>
						Mobile: <print user="mobile"><br>
					</div>
				</article>
				<article class="col-12 col-sm mx-0 px-0 py-0 pl-1">
					<button class="float-right m-1" onclick="window.print();" aria-label="Print">Print</button>
					<h4>Details</h4>
					<div class="small">
						<strong>Order #</strong><print order="ordernumber"><br>
						<strong>Order Date: </strong><print order="date"><br>
						<strong>Due Date: </strong><print order="duedate"><br>
						<strong>Status: </strong><span class="badger badge-<print status> badge-2x"><print order="status"></span><br>
						<tracklink>
					</div>
				</article>
			</section>
			<section class="row m-0">
				<article id="ordertable" name="ordertable" class="m-0 p-0">
					<table>
						<thead>
							<tr>
								<th>Code</th>
								<th class="col">Title</th>
								<th class="text-center">Option</th>
								<th class="text-center">Qty</th>
								<th class="text-center">Cost</th>
								<th class="text-center" title="Goods &amp; Services Tax">GST</th>
								<th class="text-right">Total</th>
							</tr>
						</thead>
						<tbody>
		        	<items>
		  					<tr class="<print zebra>">
		  						<td class="text-left"><print orderitem="code"></td>
		  						<td class="text-left">
										<print orderitem="title">
										<print weight>
										<print size>
									</td>
									<td class="text-left"><print choice></td>
		            	<td class="col-md-1 text-center"><print orderitem="quantity"></td>
		            	<td class="col-md-1 text-center"><print orderitem="cost"></td>
									<td class="col-md-1 text-center"><print orderitem="gst"></td>
		            	<td class="text-right"><print orderitem="subtotal"></td>
		          	</tr>
		        	</items>
							<rewards>
								<tr>
									<td class="align-middle"><strong>Rewards</strong></td>
									<td colspan="5" class="text-right align-middle">Code: <print rewards="code">: <print rewards="method"></td>
									<td class="text-right"><print rewards="value"></td>
								</tr>
							</rewards>
							<discountRange>
								<tr>
									<td colspan="6" class="align-middle"><strong><print discount="method"></strong></td>
									<td class="text-right">-<print discount="total"></td>
								</tr>
							</discountRange>
							<tr>
								<td class="align-middle"><strong>Shipping</strong></td>
								<td colspan="5" class="text-right align-middle"><print order="postOption"></td>
								<td class="text-right align-middle"><print order="postCost"></td>
							</tr>
							<tr>
								<td class="align-middle"><strong>Payment</strong></td>
								<td colspan="5" class="text-right align-middle"><print order="paymentOption"></td>
								<td class="text-right align-middle"><print order="paymentCost"></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="6" class="text-right"><strong>Total</strong></td>
								<td class="text-right border-2 border-top border-bottom border-black font-weight-bold"><strong><print order="total"></strong></td>
							</tr>
							<orderDeduction>
								<deductionItems>
									<tr>
										<td colspan="6" class="align-middle"><print deduction="date"> <print deduction="title"></td>
										<td class="align-middle text-right">-<print deduction="cost"></td>
									</tr>
								</deductionItems>
								<tr>
									<td colspan="6" class="text-right"><strong>Balance</strong></td>
									<td class="text-right border-2 border-top border-bottom border-black"><strong><print deduction="total"></strong></td>
								</tr>
							</orderDeduction>
							<tr>
								<td></td>
								<td colspan="5"><print dimensions></td>
							</tr>
							<tr>
								<td></td>
								<td colspan="5"><print weight></td>
							</tr>
						</tfoot>
					</table>
				</article>
			</section>
			<section class="row p-0 m-0 border-top">
				<article class="col-12 col-sm mx-0 my-1 px-1 border-right">
					<div id="paymenttransaction"></div>
					<orderNotes>
						<h4>Notes:</h4>
						<div>
							<small>
								<print order="notes">
							</small>
						</div>
					</orderNotes>
				</article>
				<article class="col-12 col-sm mx-0 my-1 px-1 border-right">
					<bankdetails>
						<h4>Banking Details:</h4>
						<div>
							<strong>Bank: </strong><print config="bank"><br>
							<strong>Account Name: </strong><print config="bankAccountName"><br>
							<strong>Account Number: </strong><print config="bankAccountNumber"><br>
							<strong>Bank BSB: </strong><print config="bankBSB"><br>
						</div>
					</bankdetails>
				</article>
				<article class="col-12 col-sm mx-0 my-1 px-1">
					<orderCheckout>
						<h4>Pay Online:</h4>
						<print checkoutlink>
					</orderCheckout>
				</article>
			</section>
		</div>
		<iframe id="sp" name="sp" class="d-none"></iframe>
	</order>
</block>
<block include="footer.html">
<block include="meta_footer.html">
