<block include="meta_head.html">
<block include="header.html">
<block inbed="page">
	<cover>
		<figure class="jumbotron"><print page="coverItem"></figure>
	</cover>
	<breadcrumb>
		<section class="row mt-3 mb-0">
			<nav class="col-12 col-sm-11">
				<ol class="breadcrumb">
					<json-ld-breadcrumb>
					<breaditems>
						<li class="breadcrumb-item"><a href="<print breadcrumb=url>"><print breadcrumb="title"></a></li>
					</breaditems>
					<breadcurrent>
						<li class="breadcrumb-item active"><print breadcrumb="title"></li>
					</breadcurrent>
				</ol>
			</nav>
		</section>
	</breadcrumb>
	<section class="row mt-5">
		<article class="col-11">
			<print content="notes">
		</article>
	</section>
</block>
<block include="footer.html">
<block include="meta_footer.html">
