<block include="meta_head.html">
<block include="header.html">
<block inbed="content">
	<breadcrumb>
		<section class="row mt-3 mb-0">
			<nav class="col-12 col-sm-11">
				<ol class="breadcrumb">
					<json-ld-breadcrumb>
					<breaditems>
						<li class="breadcrumb-item"><a href="<print breadcrumb=url>"><print breadcrumb="title"></a></li>
					</breaditems>
					<breadcurrent>
						<li class="breadcrumb-item active"><print breadcrumb="title"></li>
					</breadcurrent>
				</ol>
			</nav>
		</section>
	</breadcrumb>
	<section class="row">
		<article class="col-11">
			<label for="pagesearch" class="h3 m-0">Search</label>
			<form class="row m-0" method="post" action="search">
				<input id="pagesearch" class="col-11" type="search" name="search" value="<print search>" placeholder="Enter a Search Term...">
				<button type="submit" class="col-1">Search</button>
			</form>
			<settings itemCount="50">
			<div class="row">
				<pagination>
			</div>
			<items>
				<div class="search mb-4">
	        <div class="search-item">
	          <div class="search-item-info">
							<controls>
								<view>
									<div class="search-item-title">
										<a href="<print content=linktitle>"><print content="title"></a>
									</div>
	                <div class="search-item-url small">
	                  <print content=linktitle>
	                </div>
								</view>
							</controls>
	            <small><print content="caption" length="200"></small>
	          </div>
	        </div>
	      </div>
			</items>
			<div class="row">
				<pagination>
			</div>
		</article>
	</section>
</block>
<block include="footer.html">
<block include="meta_footer.html">
