<block include="meta_head.html">
<block include="header.html">
<block inbed="content">
	<breadcrumb>
		<section class="row mt-3 mb-0">
			<nav class="col-12 col-sm-11">
				<ol class="breadcrumb">
					<json-ld-breadcrumb>
					<breaditems>
						<li class="breadcrumb-item"><a href="<print breadcrumb=url>"><print breadcrumb="title"></a></li>
					</breaditems>
					<breadcurrent>
						<li class="breadcrumb-item active"><print breadcrumb="title"></li>
					</breadcurrent>
				</ol>
			</nav>
		</section>
	</breadcrumb>
	<section class="row mt-5">
		<article class="col-11">
			<settings itemCount="50">
			<items>
				<div class="search mb-4">
	        <div class="search-item">
	          <div class="search-item-info">
							<controls>
								<view>
									<div class="search-item-title">
										<a href="<print content=linktitle>"><print content="title"></a>
									</div>
	                <div class="search-item-url small">
	                  <print content=linktitle>
	                </div>
								</view>
							</controls>
	            <small><print content="caption" length="200"></small>
	          </div>
	        </div>
	      </div>
			</items>
			<more>
				<button id="more<print config=showItems>" class="addMore" data-contenttype="<print contentType>" data-view="<print view>" data-itemcount="<print config=showItems>">More</button>
			</more>
		</article>
	</section>
</block>
<block include="footer.html">
<block include="meta_footer.html">
