<block include="meta_head.html">
<block include="header.html">
<block inbed="settings">
	<main class="container">
		<div class="row my-5">
			<div class="col-12 col-sm-6 m-auto">
				<div class="card">
					<div class="card-body">
						<h1>Avatar</h1>
						<div class="form-group">
							<iframe id="sp" name="sp" class="d-none"></iframe>
							<form target="sp" method="post" enctype="multipart/form-data" action="core/add_data.php">
								<input type="hidden" name="id" value="<print user=id>">
								<input type="hidden" name="act" value="add_avatar">
								<label for="fu">Avatar</label>
								<div class="input-group">
									<div class="custom-file">
										<input type="file" name="fu" id="fu" class="custom-file-input">
										<label class="custom-file-label outline-secondary" for="fu">Choose File</label>
									</div>
									<div class="input-group-append">
										<button class="btn btn-outline-secondary">Upload</button>
									</div>
								</div>
							</form>
						</div>
						<div class="form-group">
							<label for="gravatar">Gravatar</label>
							<div class="input-group">
								<input type="text" id="gravatar" class="form-control" value="<print user=gravatar>" placeholder="Enter Gravatar Link...">
								<div id="gravatarsave" class="input-group-append">
									<button class="btn btn-outline-secondary">Save</button>
								</div>
							</div>
						</div>
						<hr>
						<h1>Reset Password</h1>
						<form method="post" action="settings">
							<input type="hidden" name="act" value="updatePassword">
							<input type="hidden" name="emailtrap" value="">
							<div class="alert alert-danger<error currentPassHidden>" role="alert">The Password you entered was incorrect!</div>
							<div class="alert alert-danger<error matchPassHidden>" role="alert">The New &amp; Confirm Passwords do NOT match!</div>
							<div class="alert alert-success<success passUpdated>" role="alert">Password Successfully Updated!</div>
							<div class="form-group">
								<label for="password">Password</label>
								<div class="input-group">
									<input type="password" id="password" class="form-control" name="newPass" value="" placeholder="Enter New Password..." required aria-required="true">
									<div class="input-group-append">
										<button class="btn btn-outline-secondary" type="submit">Update Password</button>
									</div>
								</div>
								<div class="form-text small">Changing Password will Sign you Out</div>
							</div>
						</form>
						<hr>
						<h1>Account Details</h1>
						<form method="post" action="settings">
							<input type="hidden" name="act" value="updateAccount">
							<input type="hidden" name="emailTrap" value="">
							<div class="alert alert-success<success accountHidden>" role="alert">Account Details Updated!</div>
							<div class="alert alert-danger<error accountHidden>" role="alert">There was an Issue Updating your Account Details!</div>
							<div class="form-group">
								<label for="ti">Created</label>
								<div class="input-group">
									<input type="text" id="ti" class="form-control" value="<print user=ti>" readonly>
								</div>
							</div>
							<div class="form-group">
								<label for="username">Username</label>
								<div class="input-group">
									<input type="text" id="username" class="form-control" name="usrname" value="<print user=username>" readonly>
								</div>
							</div>
							<div class="form-group">
								<label for="rank">Rank</label>
								<div class="input-group">
									<input type="text" id="rank" class="form-control" value="<print user=rank>" readonly>
								</div>
							</div>
							<div class="form-group">
								<label for="email">Email</label>
								<div class="input-group">
									<input type="text" id="email" class="form-control" name="email" value="<print user=email>" placeholder="Enter an Email...">
								</div>
							</div>
							<div class="form-group">
								<label for="name">Name</label>
								<div class="input-group">
									<input type="text" id="name" class="form-control" name="name" value="<print user=name>" placeholder="Enter a Name...">
								</div>
							</div>
							<div class="form-group">
								<label for="url">URL</label>
								<div class="input-group">
									<input type="text" id="url" class="form-control" name="url" value="<print user=url>" placeholder="Enter a URL...">
								</div>
							</div>
							<div class="form-group">
								<label for="business">Business</label>
								<div class="input-group">
									<input type="text" id="business" class="form-control" name="business" value="<print user=business>" placeholder="Enter a Business...">
								</div>
							</div>
							<div class="form-group">
								<label for="phone">Phone</label>
								<div class="input-group">
									<input type="text" id="phone" class="form-control" name="phone" value="<print user=phone>" placeholder="Enter a Phone Number...">
								</div>
							</div>
							<div class="form-group">
								<label for="mobile">Mobile</label>
								<div class="input-group">
									<input type="text" id="mobile" class="form-control" name="mobile" value="<print user=mobile>" placeholder="Enter a Mobile Number...">
								</div>
							</div>
							<div class="form-group">
								<label for="address">Address</label>
								<div class="input-group">
									<input type="text" id="address" class="form-control" name="address" value="<print user=address>" placeholder="Enter an Address...">
								</div>
							</div>
							<div class="form-group">
								<label for="suburb">Suburb</label>
								<div class="input-group">
									<input type="text" id="suburb" class="form-control" name="suburb" value="<print user=suburb>" placeholder="Enter a Suburb...">
								</div>
							</div>
							<div class="form-group">
								<label for="city">City</label>
								<div class="input-group">
									<input type="text" id="city" class="form-control" name="city" value="<print user=city>" placeholder="Enter a City...">
								</div>
							</div>
							<div class="form-group">
								<label for="state">State</label>
								<div class="input-group">
									<input type="text" id="state" class="form-control" name="state" value="<print user=state>" placeholder="Enter a State...">
								</div>
							</div>
							<div class="form-group">
								<label for="postcode">Postcode</label>
								<div class="input-group">
									<input type="text" id="postcode" class="form-control" name="postcode" value="<print user=postcode>" placeholder="Enter a Postcode...">
								</div>
							</div>
							<div class="form-group">
								<label for="country">Country</label>
								<div class="input-group">
									<input type="text" id="country" class="form-control" name="country" value="<print user=country>" placeholder="Enter a Country...">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<button class="btn btn-outline-secondary btn-block" type="submit">Update Account</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
</block>
<block include="footer.html">
<block include="meta_footer.html">
