<block include="meta_head.html">
<block include="header.html">
<block inbed="settings">
	<pagenotes>
    <section class="row my-5">
      <article class="mx-0">
        <h1><print page="heading"></h1>
        <print page="notes">
      </article>
    </section>
  </pagenotes>
	<section class="row mt-5 mb-3 justify-content-center">
		<article class="col-12 col-md-4">
			<iframe id="sp" name="sp" class="d-none"></iframe>
			<form class="card mb-3 p-3" target="sp" method="post" enctype="multipart/form-data" action="core/add_data.php">
				<input type="hidden" name="id" value="<print user=id>">
				<input type="hidden" name="act" value="add_avatar">
				<h4>Avatar</h4>
				<div class="text-center">
					<img class="img-avatar avatar xxl" src="<print user=avatar>" alt="<print user=name>">
				</div>
				<input class="d-none" type="file" name="fu" id="fu">
				<label for="fu">Choose File</label>
				<button class="btn btn-block mt-3">Upload</button>
			</form>
			<form class="card mb-3 p-3" method="post" action="settings">
				<h4>Reset Password</h4>
				<input type="hidden" name="act" value="updatePassword">
				<input type="hidden" name="emailtrap" value="none">
				<div class="alert alert-danger<error currentPassHidden>" role="alert">The Password you entered was incorrect!</div>
				<div class="alert alert-danger<error matchPassHidden>" role="alert">The New &amp; Confirm Passwords do NOT match!</div>
				<div class="alert alert-success<success passUpdated>" role="alert">Password Successfully Updated!</div>
				<label class="required" for="password">Password</label>
				<div class="form-row">
					<input type="password" id="password" name="newPass" value="" placeholder="Enter New Password..." required aria-required="true">
				</div>
				<button class="btn btn-block mt-3" type="submit">Update Password</button>
				<div class="form-text text-muted small">Changing Password will Sign you Out</div>
			</form>
			<form class="card p-3" method="post" action="settings">
				<h4>Account Details</h4>
				<input type="hidden" name="act" value="updateAccount">
				<div class="alert alert-success<success accountHidden>" role="alert">Account Details Updated!</div>
				<div class="alert alert-danger<error accountHidden>" role="alert">There was an Issue Updating your Account Details!</div>
				<label for="ti">Created</label>
				<div class="form-row">
					<input type="text" id="ti" value="<print user=ti>" disabled>
				</div>
				<label for="username">Username</label>
				<div class="form-row">
					<input type="text" id="username" name="usrname" value="<print user=username>" disabled>
				</div>
				<label for="rank">Rank</label>
				<div class="form-row">
					<input type="text" id="rank" value="<print user=rank>" disabled>
				</div>
				<label class="required" for="email">Email</label>
				<div class="form-row flex-wrap">
					<input type="email" id="email" name="email" value="<print user=email>" placeholder="Enter an Email..." required aria-required="true">
					<div class="requirements alert alert-danger" role="alert">Must be a valid email address.</div>
				</div>
				<label class="required" for="name">Name</label>
				<div class="form-row flex-wrap">
					<input type="text" id="name" name="name" value="<print user=name>" placeholder="Enter your Name..." required aria-required="true" pattern="^[A-Za-zÀ-ÿ ,.'-]+$">
					<div class="requirements alert alert-info" role="alert">Names can only contain letters and the usual characters associated with some names.</div>
				</div>
				<label for="url">URL</label>
				<div class="form-row flex-wrap">
					<input type="text" id="url" name="url" value="<print user=url>" placeholder="Enter a URL..." pattern=".*\.[a-z]{2,}$">
					<div class="requirements alert alert-info">Must be a valid URL.</div>
				</div>
				<label for="business">Business</label>
				<div class="form-row">
					<input type="text" id="business" name="business" value="<print user=business>" placeholder="Enter your Business...">
				</div>
				<label for="phone">Phone</label>
				<div class="form-row flex-wrap">
					<input type="text" id="phone" name="phone" value="<print user=phone>" placeholder="Enter your Phone Number..." pattern="^\({0,1}((0|\+61)(2|4|3|7|8)){0,1}\){0,1}( |-){0,1}[0-9]{2}( |-){0,1}[0-9]{2}( |-){0,1}[0-9]{1}( |-){0,1}[0-9]{3}$">
					<div class="requirements alert alert-info">Must be a valid phone number.</div>
				</div>
				<label for="mobile">Mobile</label>
				<div class="form-row flex-wrap">
					<input type="text" id="mobile" name="mobile" value="<print user=mobile>" placeholder="Enter your Mobile Number..." pattern="^\({0,1}((0|\+61)(2|4|3|7|8)){0,1}\){0,1}( |-){0,1}[0-9]{2}( |-){0,1}[0-9]{2}( |-){0,1}[0-9]{1}( |-){0,1}[0-9]{3}$">
					<div class="requirements alert alert-info">Must be a valid mobile number.</div>
				</div>
				<label for="address">Address</label>
				<div class="form-row">
					<input type="text" id="address" name="address" value="<print user=address>" placeholder="Enter your Address...">
				</div>
				<label for="postcode">Postcode</label>
				<div class="form-row flex-wrap">
					<input type="text" id="postcode" name="postcode" value="" placeholder="Enter your Postcode...">
					<nav class="col-12 border-1 border-top-0 d-none" id="postcodelist"></nav>
				</div>
				<label for="suburb">Suburb</label>
				<div class="form-row">
					<input type="text" id="suburb" name="suburb" value="<print user=suburb>" placeholder="Enter your Suburb...">
				</div>
				<label for="state">State</label>
				<div class="form-row">
					<input type="text" id="state" name="state" value="<print user=state>" placeholder="Enter your State...">
					</div>
				<label for="city">City</label>
				<div class="form-row">
					<input type="text" id="city" name="city" value="<print user=city>" placeholder="Enter your City...">
				</div>
				<label for="country">Country</label>
				<div class="form-row">
					<input type="text" id="country" name="country" value="<print user=country>" placeholder="Enter your Country...">
				</div>
				<button class="btn btn-block mt-3" type="submit">Update Account</button>
			</form>
		</article>
		<article class="col-12 col-md-7">
			<employeeroster>
				<div class="card mb-3 p-3">
					<h4 class="mb-4">Employee Roster Settings</h4>
					<rosterNotification>
					<label for="rostersyncurl">Roster Sync URL for iCal or Google Calendar</label>
					<div class="form-row">
						<div class="input-text col-12">
							<print url>calendar.ics?type=roster&uid=<print user="id">
						</div>
					</div>
					<form method="post" action="settings">
						<input type="hidden" name="act" value="updateRoster">
						<input type="hidden" name="uid" value="<print user=id>">
						<div class="row">
							<div class="col-12 col-sm">
								<label for="rosterExtraShifts">Display Extra Shifts</label>
								<div class="form-row">
									<select id="rosterExtraShifts" name="rES">
										<rosterExtraShiftsOptions>
									</select>
								</div>
							</div>
							<div class="col-12 col-sm pl-sm-3">
								<label for="rosterDayName">Display Day Name</label>
								<div class="form-row">
									<select id="rosterDayName" name="rDN">
										<rosterDayNameOptions>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-sm">
								<label for="rosterTimeDisplay">Display Times as</label>
								<div class="form-row">
									<select id="rosterTimeDisplay" name="rTD">
										<rosterTimeDisplayOptions>
									</select>
								</div>
							</div>
							<div class="col-12 col-sm pl-sm-3">
								<label for="rosterShowWeeks">Number of Weeks to Show</label>
								<div class="form-row">
									<select id="rosterShowWeeks" name="rSW">
										<rosterShowWeeksOptions>
									</select>
								</div>
							</div>
						</div>
						<div class="form-row justify-content-end mt-3">
							<button class="btn" type="submit">Save</button>
						</div>
					</form>
				</div>
			</employeeroster>
			<div class="card mb-3 p-3">
				<h4>Rewards</h4>
				<div class="row justify-content-center">
					<div class="card col-5 col-sm m-1 m-sm-3 py-5 text-center">
						<div>Spent</div>
						<div class="text-2x">&dollar;<print user="spent"></div>
					</div>
					<div class="card col-5 col-sm m-1 m-sm-3 py-5 text-center">
						<div>Points</div>
						<div class="text-2x"><print user="points"></div>
					</div>
				</div>
				<div class="col-12 zebra">
					<rewarditems>
						<div class="row p-2">
							<div class="col py-3 small">
								<print reward="title">
								<print reward="code">
							</div>
							<div class="col py-3 small">
								<print reward="method">
							</div>
							<div class="col py-3 small">
								<print reward="quantity">
							</div>
							<div class="col py-3 small text-right">
								<print reward="tis">
								<print reward="tie">
							</div>
						</div>
					</rewarditems>
				</div>
			</div>
			<div class="card mb-3 p-3">
				<h4>Orders</h4>
				<div class="col-12 zebra">
					<orderitems>
						<div class="row p-2">
							<div class="col py-3 small">
								<a href="<print link>"><print order="ordernumber"></a>
							</div>
							<div class="col py-3 text-center">
								<span class="badger badge-<print order=status>"><print order="status"></span>
								<print order="hold">
							</div>
							<div class="col py-3 small text-right">
								Created: <print order="date"><br>
								Due: <print order="duedate">
							</div>
						</div>
					</orderitems>
				</div>
			</div>
			<div class="card mb-3 p-3">
				<h4>Reviews</h4>
				<div class="col-12 zebra">
					<reviewitems>
						<div class="row p-2 pl-0">
							<div class="col-1">
								<img src="<print content=image>" alt="<print content=title>">
							</div>
							<div class="col py-3 pl-2 small">
								<print content="title">
							</div>
							<div class="col py-3 small">
								<print review="rating">
								<print review="notes">
							</div>
							<div class="col py-3 text-right">
								<span class="badger badge-<print review=status>"><print review="status"></span>
							</div>
						</div>
					</reviewitems>
				</div>
			</div>
			<div class="card mb-3 p-3">
				<h4>Comments</h4>
				<div class="col-12 zebra">
					<commentitems>
						<div class="row p-2 pl-0">
							<div class="col-1">
								<img src="<print content=image>" alt="<print content=title>">
							</div>
							<div class="col py-3 pl-2 small">
								<print content="title">
							</div>
							<div class="col py-3 small">
								<print comment="notes">
							</div>
							<div class="col py-3 text-right">
								<span class="badger badge-<print comment=status>"><print comment="status"></span>
							</div>
						</div>
					</commentitems>
				</div>
			</div>
			<div class="card mb-3 p-3">
				<h4>Testimonials</h4>
				<div class="col-12 zebra">
					<testimonialitems>
						<div class="row p-2">
							<div class="col py-3 small">
								<print testimonial="name">
							</div>
							<div class="col py-3 small">
								<print testimonial="rating">
								<print testimonial="notes">
							</div>
							<div class="col py-3 text-right">
								<span class="badger badge-<print testimonial=status>"><print testimonial="status"></span>
							</div>
						</div>
					</testimonialitems>
				</div>
			</div>
			<div class="card mb-3 p-3">
				<h4>Forum</h4>
				<div class="row justify-content-center">
					<div class="card col-5 col-sm m-1 m-sm-3 py-5 text-center">
						<div>Posts</div>
						<div class="text-2x"><print forum="posts"></div>
					</div>
					<div class="card col-5 col-sm m-1 m-sm-3 py-5 text-center">
						<div>Comments</div>
						<div class="text-2x"><print forum="comments"></div>
					</div>
					<div class="card col-5 col-sm m-1 m-sm-3 py-5 text-center">
						<div>Views</div>
						<div class="text-2x"><print forum="views"></div>
					</div>
					<div class="card col-5 col-sm m-1 m-sm-3 py-5 text-center">
						<div>Tickets</div>
						<div class="text-2x"><print forum="tickets"></div>
					</div>
				</div>
			</div>
		</article>
		<article class="col-12 col-sm-11">
			<form class="card mb-5 p-3" method="post" action="settings">
				<h4>Deactivate Account</h4>
				<input type="hidden" name="act" value="deactivate">
				<div class="form-row">
					<div class="alert alert-danger col-12 col-md-6 mt-3 p-2 text-center">
						Check&nbsp;to&nbsp;Confirm&nbsp;<input type="checkbox" name="sure" value="yes" required aria-required="true" oninvalid="this.setCustomValidity('Check this box to confirm Deactivating Account!')">
					</div>
					<div class="col-12 col-md-6">
						<button class="btn btn-danger btn-block mt-3">Deactivate Account</button>
					</div>
				</div>
				<div class="alert alert-danger">
					This will do the below:
					<ul>
						<li>Remove Access Credentials.</li>
						<li>Remove Purchase History, but not data required for existing Order Information.</li>
						<li>Financial information such as Credit Card or Bank Information isn't stored on our system, however, transaction information such as Vendor, Transation ID, and Amounts remain present for Order information and tracing. Vendors used may be a different matter, and if concerned contacted to update, or remove information.</li>
					</ul>
				</div>
			</form>
		</article>
	</section>
</block>
<block include="footer.html">
<block include="meta_footer.html">
