	<aside class="col-12 col-sm-3 order-1 order-sm-2 mt-3 mb-0 mb-sm-5 px-3 px-sm-0">
		<sort>
			<div class="card mx-auto mb-3">
				<div class="card-body my-4">
					<form method="post" action="">
						<input type="hidden" name="act" value="sort">
						<label for="sort" class="h3">Sort Items</label>
						<div class="row">
							<select id="sort" class="col-9" name="sort">
								<option value="">Select a Sort Option</option>
								<sortOptions>
							</select>
							<button class="col-3" type="submit">Sort</button>
						</div>
					</form>
				</div>
			</div>
		</sort>
		<controls>
			<div class="card mb-3 d-none d-sm-block">
				<div class="card-body my-4">
					<quantity>
						<div class="content-quantity text-center"><print content="quantity"> <print content="stock"></div>
					</quantity>
					<div class="price text-center"><print content="cost"></div>
					<div class="row text-right">
						<service>
							<a href="bookings/<print content=bookservice>" role="button">Book Now</a>
						</service>
						<inventory>
							<choices>
							<button class="addCart mt-3" data-cartid="<print content=id>" data-cartchoice="0">Buy Now</button>
							<condition>
								<div class="content-condition col-12 mt-3 text-left">Condition: <print content="condition"></div>
							</condition>
							<weight>
								<div class="content-weight col-12 col-sm-6 mt-3 text-left">Weight: <print content="weight"></div>
							</weight>
							<size>
								<div class="content-size col-12 col-sm-6 mt-3 text-right">Size:
									<span class="content-width">Width: <print content="width"></span><br>
									<span class="content-height">Height: <print content="height"></span><br>
									<span class="content-length">Length: <print content="length"></span>
								</div>
							</size>
							<brand>
								<div class="content-brand text-center mt-3"><print brand></div>
							</brand>
						</inventory>
					</div>
				</div>
			</div>
		</controls>
		<div id="sidecart" class="card mb-3 <cartagedisplay>">
			<div class="card-body">
				<h3 class="m-2">Shopping Cart</h3>
				<table id="cartage">
					<cartageitems>
				</table>
				<a class="btn-block" href="cart/" role="button">Proceed to Checkout</a>
			</div>
		</div>
		<review>
			<div id="review" class="mb-3">
				<form class="auroraForm card p-3" data-formtype="review" method="post" action="core/add_review.php">
					<input type="hidden" name="id" value="<print content=id>">
					<input type="hidden" name="<print hash>" value="<print timecode>">
					<h3>Add a Review</h3>
					<label for="rating5">Rating</label>
					<span class="starRating">
						<input id="rating5" type="radio" name="rating" value="5" checked>
						<label for="rating5" title="Awesome!">5</label>
						<input id="rating4" type="radio" name="rating" value="4">
						<label for="rating4" title="Great!">4</label>
						<input id="rating3" type="radio" name="rating" value="3">
						<label for="rating3" title="Meh!">3</label>
						<input id="rating2" type="radio" name="rating" value="2">
						<label for="rating2" title="So So!">2</label>
						<input id="rating1" type="radio" name="rating" value="1">
						<label for="rating1" title="Bad!">1</label>
		      </span>
					<label for="reviewemail">Email</label>
					<input type="email" id="reviewemail" name="email" value="" required aria-required="true">
					<div class="requirements mt-3 mb-0">Must be a valid email address.</div>
					<label for="reviewname">Name</label>
					<input type="text" id="reviewname" name="name" value="" required aria-required="true">
					<label for="fullname" aria-hidden="true">Full Name</label>
					<input id="fullname" name="fullname<print hash>" value="" autocomplete="off" aria-hidden="true">
					<label for="reviewtxt">Review</label>
					<textarea id="reviewtxt" name="review"></textarea>
					<g-recaptcha>
					<div class="text-right mt-3">
						<button id="review-btn" type="submit">Add Review</button>
					</div>
				</form>
			</div>
		</review>
		<item>
			<settings items="4" contenttype="current">
			<div class="list-group card d-none d-sm-block">
				<items>
					<a class="list-group-item border-0" href="<print link>" itemscope>
						<span class="list-group-item-heading" itemprop="headline"><print content="title"></span>
						<meta itemprop="datePublished" content="<print metaDate>">
						<p class="list-group-item-text">
							<small><small><small class="text-muted"><print time></small></small></small><br>
							<small><small><print content="caption"></small></small>
						</p>
					</a>
					<media>
						<a class="list-group-item" href="<print link>" itemscope>
							<span class="media">
								<span class="media-left">
									<img class="img-thumbnail side_menu_gallery pull-left" src="<print content=thumb>" alt="<print content=title>">
								</span>
								<meta itemprop="datePublished" content="<print metaDate>">
								<span class="media-body">
									<span class="media-heading"><print content="title"></span>
									<small><small><print content="caption"></small></small>
								</span>
							</span>
						</a>
					</media>
				</items>
			</div>
		</item>
	</aside>
</section>
