<aside class="col-12 col-md-3 mb-5 mb-md-5 px-3">
	<div class="card mt-3 mt-sm-0 mb-3">
		<div class="card-body mt-4 mb-3 no-clamp">
			<h3>Share this:</h3>
			<div class="text-center"><share></div>
		</div>
	</div>
	<sort>
		<div class="card mx-auto mb-3">
			<div class="card-body my-4">
				<h3>Item Display Options</h3>
				<form method="post" action="<print sort=self>">
					<input type="hidden" name="act" value="sort">
					<div class="row">
						<label for="sort" class="col-4">Sort Order</label>
						<select id="sort" class="col-8" name="sort" enterkeyhint="next">
							<option value="">Select a Sort Option</option>
							<sortOptions>
						</select>
					</div>
					<showItems>
						<div class="row mt-3">
							<label for="itemCount" class="col-4">Show</label>
							<input id="itemCount" class="col-3" type="number" name="itemCount" value="<itemCount>" enterkeyhint="next">
							<label class="col-2 ml-3">items</label>
						</div>
					</showItems>
					<button class="btn-block mt-3" type="submit" enterkeyhint="done">Sort</button>
				</form>
			</div>
		</div>
	</sort>
	<controls>
		<div class="card mb-3 text-center">
			<div class="card-body my-4 no-clamp">
				<quantity>
					<div class="content-quantity"><print content="quantity"> <print content="stock"></div>
				</quantity>
				<div class="price"><print content="cost"></div>
				<div class="row text-right">
					<service>
						<a class="btn btn-block" href="bookings/<print content=bookservice>" role="button">Book Now</a>
					</service>
					<inventory>
						<choices>
						<addtocart>
							<points><small class="points d-block mb-3 text-center">Earn <print content="points"> points when purchasing this item.</small></points>
							<button class="addCart btn-block mt-3" data-cartid="<print content=id>">Buy Now</button>
						</addtocart>
						<condition>
							<div class="content-condition col-12 mt-3 text-left">Condition: <print content="condition"></div>
						</condition>
						<weight>
							<div class="content-weight col-12 col-md-6 mt-3 text-left">Weight: <print content="weight"></div>
						</weight>
						<size>
							<div class="content-size col-12 col-md-6 mt-3 text-right">Size:
								<span class="content-width">Width: <print content="width"></span><br>
								<span class="content-height">Height: <print content="height"></span><br>
								<span class="content-length">Length: <print content="length"></span>
							</div>
						</size>
						<brand>
							<div class="content-brand text-center mt-3"><print brand></div>
						</brand>
					</inventory>
				</div>
			</div>
		</div>
	</controls>
	<div id="sidecart" class="card mb-3 <cartagedisplay>">
		<div class="card-body">
			<h3 class="m-2">Shopping Cart</h3>
			<table id="cartage">
				<cartageitems>
			</table>
			<a class="btn btn-block" href="cart/" role="button">Proceed to Checkout</a>
		</div>
	</div>
	<review>
		<div id="review" class="mb-3">
			<form class="auroraForm card p-3" data-formtype="review" method="post" action="core/add_review.php">
				<input type="hidden" name="id" value="<print content=id>">
				<input type="hidden" name="<print hash>" value="<print timecode>">
				<label for="fullname" aria-hidden="true">Full Name</label>
				<input id="fullname" name="fullname<print hash>" value="" autocomplete="off" aria-hidden="true">
				<h3>Add a Review</h3>
				<label>Rating</label>
				<span class="starRating">
					<input id="rating5" type="radio" name="rating" value="5" checked enterkeyhint="next">
					<label for="rating5" title="Awesome!">5</label>
					<input id="rating4" type="radio" name="rating" value="4">
					<label for="rating4" title="Great!">4</label>
					<input id="rating3" type="radio" name="rating" value="3">
					<label for="rating3" title="Meh!">3</label>
					<input id="rating2" type="radio" name="rating" value="2">
					<label for="rating2" title="So So!">2</label>
					<input id="rating1" type="radio" name="rating" value="1">
					<label for="rating1" title="Bad!">1</label>
	      </span>
				<label class="required" for="reviewemail">Email</label>
				<div class="form-row flex-wrap">
					<input type="email" id="reviewemail" name="email" value="" placeholder="Enter your Email..." required aria-required="true" enterkeyhint="next">
					<div class="requirements alert alert-danger" role="alert">Must be a valid email address.</div>
				</div>
				<label class="required" for="contactname">Name</label>
				<div class="form-row flex-wrap">
					<input type="text" id="contactname" name="name" value="" placeholder="Enter Your Name..." required aria-required="true" pattern="^[A-Za-zÀ-ÿ ,.'-]+$" enterkeyhint="next">
					<div class="requirements alert alert-info">Names can only contain letters and the usual characters associated with some names.</div>
				</div>
				<label class="required" for="reviewtxt">Review</label>
				<div class="form-row">
					<textarea id="reviewtxt" name="review" placeholder="Enter your Review..." required aria-required="true" enterkeyhint="next"></textarea>
				</div>
				<g-recaptcha>
				<div class="text-right mt-3">
					<button id="review-btn" type="submit" disabled enterkeyhint="done">Add Review</button>
				</div>
			</form>
		</div>
	</review>
	<item>
		<settings items="4" contenttype="current">
		<div class="row justify-content-center">
			<items>
				<article class="card col-12 col-sm-3 col-md-12 col-xxl-5 event m-2">
					<figure class="card-image">
						<a href="<print content=linktitle>">
							<img <print content=srcset>src="<print content=thumb>" loading="lazy" alt="<print content=imageALT>">
						</a>
						<div class="corner-ribbon small top-right text-uppercase font-weight-bold shadow-sm"><print content="contentType"></div>
					</figure>
					<div class="card-header px-2 py-1 h6">
						<a href="<print content=linktitle>"><print content="title"></a>
					</div>
				</article>
			</items>
		</div>
	</item>
	<adverts orientation="vertical" items="1">
	  <div class="row advert-container mt-3 justify-content-center">
	    <advert>
	      <div class="col-12 advert">
	        <div class="advert-image">
	          <a class="advert-link" target="_blank" href="<print advert=url>" rel="nofollow noreferrer" onclick="trackAdClick(`<print advert=id>`);">
	            <img src="<print advert=image>" alt="<print advert=alt>">
	          </a>
	        </div>
	        <div id="advert<print advert=id>" class="advert-info" style="display:none;">
	          <print advert="notes">
	        </div>
	        <button class="advert-btn-info" onclick="showAdInfo(`advert<print advert=id>`);" title="About This Ad"><svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope yt-icon" style="pointer-events:none;display:block;width:100%;height:100%;"><g class="style-scope yt-icon"><path d="M13,17h-2v-6h2V17z M13,7h-2v2h2V7z M12,3c-4.96,0-9,4.04-9,9s4.04,9,9,9c4.96,0,9-4.04,9-9S16.96,3,12,3 M12,2 c5.52,0,10,4.48,10,10s-4.48,10-10,10C6.48,22,2,17.52,2,12S6.48,2,12,2L12,2z" class="style-scope yt-icon"></path></g></svg></button>
	        <div class="advert-site-info"><span class="ad">Ad</span><print advert=shorturl></div>
	      </div>
	    </advert>
	  </div>
	</adverts>
</aside>
