<block include="meta_head.html">
<block include="header.html">
<block inbed="sitemap">
	<breadcrumb>
		<nav class="breadcrumb">
			<ol>
				<json-ld-breadcrumb>
				<breaditems>
					<li class="breadcrumb-item"><a href="<print breadcrumb=url>"><print breadcrumb="title"></a></li>
				</breaditems>
				<breadcurrent>
					<li class="breadcrumb-item active"><print breadcrumb="title"></li>
				</breadcurrent>
			</ol>
		</nav>
	</breadcrumb>
	<section class="row">
		<article class="mx-auto">
			<h1><print page="heading"></h1>
			<print page="notes">
		</article>
		<article class="mx-auto">
			<items>
        <div class="mb-4">
          <print content="contentType">
          <div class="ml-4">
            <print links>
          </div>
        </div>
			</items>
		</article>
	</section>
</block>
<block include="footer.html">
<block include="meta_footer.html">
