<block include="meta_head.html">
<block include="header.html">
<block inbed="sitemap">
	<breadcrumb>
		<section class="row mt-0">
			<div class="col-11">
				<div class="breadcrumb">
					<json-ld-breadcrumb>
					<breaditems>
						<a class="breadcrumb-item" href="<print breadcrumb=url>"><print breadcrumb="title"></a>
					</breaditems>
					<breadcurrent>
						<span class="breadcrumb-item active"><print breadcrumb="title"></span>
					</breadcurrent>
				</div>
			</div>
		</section>
	</breadcrumb>
	<section class="row mt-5">
		<article class="col-11">
			<items>
        <div class="mb-4">
          <print content="contentType">
          <div class="ml-4">
            <print links>
          </div>
        </div>
			</items>
		</article>
	</section>
</block>
<block include="footer.html">
<block include="meta_footer.html">
