<block include="meta_head.html">
<block include="header.html">
<block inbed="sitemap">
	<main class="container">
		<div class="row my-5">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<items>
		          <div class="mb-4">
		            <print content="contentType">
		            <div class="ml-4">
		              <print links>
		            </div>
		          </div>
						</items>
					</div>
				</div>
			</div>
		</div>
	</main>
</block>
<block include="footer.html">
<block include="meta_footer.html">
