<block include="meta_head.html">
<block include="header.html">
<block inbed="testimonials">
	<pagenotes>
	  <section class="row">
			<article class="col-11">
	      <print page="notes">
			</article>
	  </section>
	</pagenotes>
	<section class="row">
		<article class="col-11 col-sm-5 m-0 p-0">
			<items>
				<blockquote class="testimonials">
					<img src="<print content=avatar>" alt="<print content=name>">
					<footer>
						<h3 itemprop="author"><print content="name"></h3>
						<h5><print content="business"></h5>
					</footer>
					<json-ld-testimonial>
					<p><print content="notes"></p>
					<data class="p-rating" value="<print review=rating>">
						<span class="rat">
							<span class="<print review=set1>"></span>
							<span class="<print review=set2>"></span>
							<span class="<print review=set3>"></span>
							<span class="<print review=set4>"></span>
							<span class="<print review=set5>"></span>
						</span>
					</data>
				</blockquote>
			</items>
		</article>
		<article id="testimonial" class="col-11 col-sm-5 m-0 p-0">
			<form id="testimonialform" class="auroraForm card p-3" data-formtype="testimonial" method="post" action="core/add_testimonial.php">
				<input type="hidden" name="act" value="add_test">
				<input type="hidden" name="emailtrap" value="none">
				<h4>We would love to have you share your experience with us.</h1>
				<div class="alert alert-info" role="alert">Entering your email is only for our records, we don't use it for displaying your Testimonial.</div>
				<div class="alert alert-danger" role="alert">Red Highlighted fields are required.</div>
				<label>Rating</label>
				<span class="starRating">
						<input id="rating5" type="radio" name="rating" value="5" checked>
					<label for="rating5" title="Awesome!">5</label>
						<input id="rating4" type="radio" name="rating" value="4">
					<label for="rating4" title="Great!">4</label>
						<input id="rating3" type="radio" name="rating" value="3">
					<label for="rating3" title="Meh!">3</label>
						<input id="rating2" type="radio" name="rating" value="2">
					<label for="rating2" title="So So!">2</label>
						<input id="rating1" type="radio" name="rating" value="1">
					<label for="rating1" title="Bad!">1</label>
				</span>
				<label for="testimonialtxt">Enter how your Experience was with us</label>
				<textarea id="testimonialtxt" class="form-control is-invalid" name="review" required></textarea>
				<label for="testimonialemail">Please Enter your Email</label>
				<input type="email" id="testimonialemail" class="form-control is-invalid" name="email" required aria-required="true">
				<div class="requirements alert alert-danger">
					Must be a valid email address.
				</div>
				<label for="testimonialname">Please Enter your Name</label>
				<input type="text" id="testimonialname" class="form-control is-invalid" name="name" required aria-required="true">
				<label for="testimonialbusiness">Please Enter Your Business</label>
				<input type="text" id="testimonialbusiness" class="form-control" name="business">
				<div class="text-right mt-3">
					<button id="testimonial-btn" class="margin-top-3" type="submit">Submit your Testimonial</button>
				</div>
			</form>
		</article>
	</section>
</block>
<block include="footer.html">
<block include="meta_footer.html">
