<block include="meta_head.html">
<block include="header.html">
<block inbed="testimonials">
	<cover>
		<figure class="covertron"><print page="coverItem"></figure>
	</cover>
	<breadcrumb>
		<nav class="breadcrumb">
			<ol>
				<json-ld-breadcrumb>
				<breaditems>
					<li class="breadcrumb-item"><a href="<print breadcrumb=url>"><print breadcrumb="title"></a></li>
				</breaditems>
				<breadcurrent>
					<li class="breadcrumb-item active"><print breadcrumb="title"></li>
				</breadcurrent>
			</ol>
		</nav>
	</breadcrumb>
	<section class="row">
		<article class="col-12 col-md m-0 p-0 px-3">
			<pagenotes>
				<h1><print page="heading"></h1>
				<print page="notes">
			</pagenotes>
			<items>
				<blockquote class="testimonials">
					<img src="<print content=avatar>" loading="lazy" alt="<print content=name>">
					<footer>
						<div class="h3"><print content="name"></div>
						<div class="h5"><print content="business"></div>
					</footer>
					<json-ld-testimonial>
					<p><print content="notes"></p>
					<div class="p-rating">
						<span class="rating">
							<span class="<print review=set1>"></span>
							<span class="<print review=set2>"></span>
							<span class="<print review=set3>"></span>
							<span class="<print review=set4>"></span>
							<span class="<print review=set5>"></span>
						</span>
					</div>
				</blockquote>
			</items>
		</article>
		<article id="testimonial" class="col-12 col-md-6 m-0 p-0 px-3 mb-5">
			<form class="auroraForm card p-3" data-formtype="testimonial" method="post" action="core/add_testimonial.php">
				<input type="hidden" name="act" value="add_test">
				<input type="hidden" name="<print hash>" value="<print timecode>">
				<div class="h4">We would love to have you share your experience with us.</div>
				<div class="alert alert-info" role="alert">Entering your email is only for our records, we don't use it for displaying your Testimonial.</div>
				<div class="alert alert-danger" role="alert">Highlighted fields are required.</div>
				<label>Rating</label>
				<span class="starRating">
					<input id="rating5" type="radio" name="rating" value="5" checked>
					<label for="rating5" title="Awesome!">5</label>
					<input id="rating4" type="radio" name="rating" value="4">
					<label for="rating4" title="Great!">4</label>
					<input id="rating3" type="radio" name="rating" value="3">
					<label for="rating3" title="Meh!">3</label>
					<input id="rating2" type="radio" name="rating" value="2">
					<label for="rating2" title="So So!">2</label>
					<input id="rating1" type="radio" name="rating" value="1">
					<label for="rating1" title="Bad!">1</label>
				</span>
				<label for="testimonialtxt">How your Experience was with us?</label>
				<textarea id="testimonialtxt" name="review" required aria-required="true"></textarea>
				<label for="testimonialemail">Please Enter your Email</label>
				<input type="email" id="testimonialemail" name="email" required aria-required="true">
				<div class="requirements alert alert-danger">Must be a valid email address.</div>
				<label for="testimonialname">Please Enter your Name</label>
				<input type="text" id="testimonialname" name="name" required aria-required="true">
				<label for="fullname" aria-hidden="true">Full Name</label>
				<input id="fullname" name="fullname<print hash>" value="" autocomplete="off" aria-hidden="true">
				<label for="testimonialbusiness">Please Enter Your Business</label>
				<input class="mb-3" type="text" id="testimonialbusiness" name="business">
				<g-recaptcha>
				<div class="text-right mt-3">
					<button id="testimonial-btn" type="submit" disabled="disabled">Submit your Testimonial</button>
				</div>
			</form>
		</article>
	</section>
</block>
<block include="footer.html">
<block include="meta_footer.html">
